@charset "utf-8";
/* CSS Document */


body {
    font-family:Arial;
    font-size:14px;
    margin:0px;
    padding:0px;
    background:url(../images/hm_bg.jpg) no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif !important;
    /* background-color: #eeeeee !important; */
}
.heading-box {
	/* background-color: #f5f5f5;
	background-image: url(../images/top_line.jpg); */
	background-repeat: repeat-x;
	background-position: bottom;
}
.heading_name { padding-left:30px;}
.heading_name a {line-height:40px; font-size:12px; display:inline-block; color:#666;}
.heading_name a i {padding: 0 5px 0 5px; font-size:12px;}
.small-slider { margin-left: 0px; padding-bottom:30px; border-right:1px solid #e4e4e4; overflow:hidden; padding-right:10px; }
.main_box { padding-top:0px; background-color:#FFF;}
.small_img { padding-top:15px; margin-left:50px;} 
.small_img_box {border: 1px solid #CCC; padding: 7px; float:left; margin-right:7px;} 
.product_box {width:auto; height:auto; padding-left:40px;}
.text-name {font-size:23px; margin:0; padding:0;}
.prige {border-bottom: 1px solid #e4e4e4; padding-bottom:10px; padding-top:10px;}
.off-color {color:#008c4c; font-size:18px; padding-left:10px;}
.under_line {text-decoration: line-through;}
.brand_name { padding-bottom:15px;}
.brand {font-size:15px;}
.brabd_bold {font-weight:bold;}
.table-unit {width:auto; height:auto;}


.table_boder { width:50%;  }
.table_boder tr th { padding:5px 5px; color:#006b95;}
.table_boder tr { border-bottom: dashed 1px #e4e4e4;}
.table_boder tr td { padding:5px 5px; font-size:13px;}
.quantity {width:100%; padding-top:30px; padding-bottom:10px; overflow:hidden;}
.quantity-main {width:auto;}
.q_size {font-size:14px; float:left; padding:0; margin:0; padding-right:10px; line-height:35px;}
.q_link {
	padding: 5px 10px 5px 10px;
	border: 1px solid #CCC;
	display: inline-block;
	float: left;
	margin-right: 5px;
	color: #666;
	text-decoration: none;
}
.q_link:hover {
	padding: 5px 10px 5px 10px;
	border: 1px solid #CCC;
	display: inline-block;
	float: left;
	margin-right: 5px;
	color: #666;
	text-decoration: none; background-color:#ededed;
}
.add_cart_new{
    float:left;
    background: #3788cb;
  	border: solid 1px #058ED0;
    box-shadow: 0px 0px 1px #fff inset;
    padding:6px 0px;
    width:30%;
    text-align:center;
    text-decoration:none;
    color:#fff;
    margin-right:5px;
    transition:0.3s; margin-left:20px;
	
}


.add_cart_new:hover{
  background: #8dc127;
    border: solid 1px #80b21e;
    color:#fff;
	}
.logo_n{ width:100%; float:left;}
.logo_n a{  text-decoration:none;}
.logo_n a img{    width: 100%;
    float: left;
    margin-top: 20px; }
.compare_main {width:100%; padding-bottom:20px; } 
.compare_main a{
    text-decoration: none;
    color: #7B7B7B;
    margin-right: 5px;
    transition: 0.3s;
}
.compare_main a i{
    
    border: solid 1px #E2E2E2;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    color: #7B7B7B;
    margin-right: 5px; margin-left:5px; margin-top:15px;
    border-radius: 60%;
    transition: 0.3s; 
}

.compare_main a i:hover{
    border: solid 1px #058ED0;
     color: #058ED0;
}
.compare_main a i{
    font-size:13px;
    
}
.easy_box {width:100%}
.easy-contain {
	float: left;
    border: solid 1px #e7e7e7;
    background: #FFF;
    padding: 12px 15px;
	margin-right:10px;
	}
.img_easy {
	float: left;
	line-height: 30px;
	padding-right: 10px;
}
.g_box {
	float: left;
	font-size: 13px;
	line-height: normal;
}
.related_bg {background-color:#ecfdff;
 overflow:hidden;
  padding: 20px 0 40px 10px;
  margin-left:20px;}
.related_size {
	font-size: 18px;
	text-transform: uppercase;
	font-weight:bold;
	padding-left:20px; 
}
.pro_box {
	width: 100%;
	overflow: hidden;

}
.pro_img { float:left;}
.pro_cont { width:auto; padding-left:15px;}
.size {font-size:13px; line-height:none;}
.size1 {font-size:13px; line-height:none; color:#999;}
.size a {
	font-size: 11px;
	line-height: none;
	color: #333;
	text-decoration: none;
}
.space {
    border-top: 1px solid #c9e9ed; margin:12px;
}
.space1 {
	margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #c9e9ed;
	margin-left:10px; margin-right:15px;
}
.space2 { margin-bottom:15px;
}
.left_box {width:100%; height:auto; padding-top:40px; float:left;}
.left_easy { padding:0 0 0px 40px; overflow:hidden;}
.description { padding:0; margin:0;}
.description ul {padding:0; margin:0;}
.description li { list-style-type:none;}
.description a {
	list-style-type: none;
	text-decoration: none;
	display: block;
	line-height: 40px;
	background-color: #f5f5f5;
	text-transform: uppercase;
	color: #4e7dc4;
	padding-left: 20px;
	font-weight: bold;
	font-size: 12px;
	transition: background .25s ease-in-out;
	-moz-transition: background .25s ease-in-out;
	-webkit-transition: background .25s ease-in-out;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #e4e4e4;
	border-left-color: #e4e4e4;
	
}
.description a:hover { background-color:#FFF; }
.description li:first-child a {border-top:solid 1px #e4e4e4;}
.line_top {
	overflow: hidden;
	width: 100%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #e4e4e4;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e4e4e4;
	padding: 0px 0 0px 0;
}
.discription_left {
	width: 100%;
	padding-left: 30px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #e4e4e4;
	height:250px;
	padding-top:50px;
}
.description_box {padding: 50px 50px 50px 50px;}
.page_pro1{
    width:100%;
    padding:20px 0px;
    background:#fff;
    float:left;

    position:relative;
    z-index:994;
}
.product_slide {
	width: 100%;
	border: 1px solid #CCC;
	padding-bottom:15px;
}
.most_v {width:100%;}
.most_font {  
	font-size: 20px;
    text-align: center;
    
    padding-top: 5px; text-align:center;}
	
	
.product_name {font-size:17px; padding:0; margin:0}
.low_rate {
	
	color:#ff0000; padding-right:10px;
}
.high_rate {
	text-decoration: line-through; 
}
.product_add_cart{
	float:left;
    background: #058ED0;
    border: solid 1px #058ED0;
    box-shadow: 0px 0px 1px #fff inset;
    padding:6px 0px;
	width:100%;
    text-align:center;
    text-decoration:none;
    color:#fff;
    transition:0.3s; 
}
.caption1 {padding: 0px 5px 5px 5px;}
.compare_size {font-size:12px;}
.product_wishlist {width:100%; } 
.compare_main {width:100%; padding-bottom:20px; } 
.product_wishlist a{
    text-decoration: none;
    color: #7B7B7B;
    margin-right: 5px;
    transition: 0.3s;
}
.product_wishlist a i{
    
    border: solid 1px #E2E2E2;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    color: #7B7B7B;
	margin-top:10px;
    border-radius: 60%;
    transition: 0.3s;
}
.product_wishlist a i:hover{
    border: solid 1px #058ED0;
     color: #058ED0;
}
h6.success_heading {text-align:center; font-size:20px; border-bottom: dashed 1px #CCC; padding:10px 0 20px 0; font-weight:bold;}
.pera {
    padding: 0 10px;
    text-align: center;
    color: #444;
    line-height: 20px; margin-bottom:40px; font-size:13px;}
	
.thank {
    color: #22A513;
    font-size: 35px;
    text-align: center;
	padding-top:10px;
}
.table {
    border: 0px solid black;
}

.table tr th {
    background: #3e3a35;
    font-size: 13px;
    padding: 7px;
    font-family: 'Roboto', sans-serif;
    border: 0px solid #009be6;
    border-collapse: collapse;
    color: #fff;
    font-weight: 300;
	text-align:center;
}

.table tr td { border:dashed 1px #e4e4e4; font-size:12px;}
.order_number {
	background-color: #F5F5F5;
    border:dashed 1px #A9A9A9;
	padding:0 15px 10px 15px;
}
.total_box {
    border:dashed 1px #A9A9A9;
	padding:15px 15px 10px 15px;
	overflow:hidden;
	width:100%;
	margin-bottom:40px;
	
}
.total_p {float:right;}

.total {float:left; width:50%;}
.order-font {font-size:17px;}
.order-detl {font-size:12px;}
.paid {width:100%; border-top:dashed 1px #A9A9A9; overflow:hidden; margin-top:15px; padding-top:15px; float:left;}
.vendor_box {
	overflow: hidden;
	margin-right:50px;
}
.vendor_box.vendor {float:left;}
.form {float:left; padding:10px;}
.pass {float:left;}
.forgot_box {
	float: left;
}
.login {
	float: left;
	margin-top: 34px;
	font-weight: normal;
}
.login a {
	text-decoration: none;
	background-color: #058ED0;
	color: #FFF;
	padding: 7px 15px;
	display: block;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border: 0px solid #000000;
	font-weight: normal;	
}

.forgot_pss { margin-top: 33px; float: left; margin-left:15px;}

.forgot_pss a {
	text-decoration: none;
	/*background-color: #058ED0;*/
	color:#666;
	padding: 7px 15px;
	display: block;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	font-weight: normal;
	border:solid 1px #CCCCCC;
}
.head_log{
	float:left;
	width:100%;
	padding:15px 0px;
}
h1.vendor_text {text-align:center; color:#FFF; font-size:33px;}
.color-form {
	/* background-color: #000; */
	height: auto;
	padding-top: 50px;
	padding-bottom: 100px;
	/* background-image: url(../images/bg-id.jpg); */
}
.form_vendor { 
	padding-top:30px; 
	margin-top:30px;
	color:#444;
	background: rgba(255,255,255,0.5);
	padding-bottom: 20px;
	border-radius:8px;
}
.form_vendor .form-control{
	float:left;
	width:100%;
	padding:10px 10px!important;
	height:inherit;
	margin:5px 0px;
	border:solid 1px #e6e6e6;
	box-shadow:none;
}
.submitBtn {
    padding: 10px 15px;
        background: #18bb1f;
    color: white;
    border: solid 1px #18bb1f;
    border-radius: 5px;
    margin-left: 5px;
     width:70%;
      text-align:center;
       margin-top:30px; 
	transition: background .25s ease-in-out;
	-moz-transition: background .25s ease-in-out;
	-webkit-transition: background .25s ease-in-out;}
	
.submitBtn:hover {
    padding: 10px 15px;
    background: #137b0d;
    color: white;
    border: solid 1px #137b0d;
    border-radius: 5px;
    margin-left: 5px;
     text-align:center; margin-top:30px;}
	

.submit_center {text-align:center;}
.my_accoutn {
	margin-top:10px;
}
.my_accoutn ul { padding:0x; margin:0;}
.my_accoutn ul li {	
list-style-type:none;
border-bottom:solid 1px; color:#CCC;
border-right:solid 1px; color:#CCC;
border-left:solid 1px; color:#CCC;
}
.my_accoutn ul li i {
	line-height:36px; float:left; padding-left:10px; color:#666;
}
.my_acc {
	background-color:#1c2227; color:#FFF; font-size:20px; line-height:40px; padding-left:20px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	
	}
.my_accoutn ul li a {
	text-decoration: none;
	display: block;
	color: #333;
	line-height:35px;
	padding-left:30px;
	border-bottom:solid 1px #FFF;
	
}
.my_accoutn ul li a:hover { background-color:#ebebeb;}
.my_accoutn ul li .color_my {background-color:#1c2227; color:#FFF; font-size:20px;}
.main_space { padding-top:20px; padding-bottom:30px; clear:both; overflow:hidden;}
h3.my_acc_h {padding:0; margin:0; padding-bottom:5px;}
.recent_order {
	line-height: 40px;
	background-color: #F5F5F5;
	margin: 10px 0;
	border: dashed 1px #CCCCCC;
	padding-left: 15px;

}
.table-unit {width:auto; height:auto;}


.table_my { width:100%;  }
.table_my th { padding:5px 5px; color:#006b95;}
.table_my tr { border-bottom: dashed 1px #e4e4e4 ;}
.table_my tr td { padding:5px 5px; font-size:13px;}
.bg_color {background-color:#006b95; line-height:30px; color:#FFF; }
.table_my tr:first-child { border-bottom: dashed 0px #e4e4e4 ;}
.order_color {background-color:#54636B;}

.bg_color td a {
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
	padding: 5px;
	background-color: #00BCD4;
	transition: background .25s ease-in-out;
	-moz-transition: background .25s ease-in-out;
	-webkit-transition: background .25s ease-in-out;
}
.bg_color td a:hover {
	background-color:#030303;
}

.my_box {width:100%; }
.form_box {width:100%; clear:both; padding:7px 0; overflow:hidden;}
.right_select {text-align:right;}
 .continue {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    padding: 8px 22px;
    font-size: 16px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 300;
    width: 50%;
    float: left;
    margin-bottom: 10px;
    clear: both;
    border: none !important;}
	
	.profile_s
 {
	line-height: 40px;
	margin: 10px 0;
	font-weight:bold;}
.copon_center {text-align:center;}

.twotab {
    border-bottom: solid 1px #ccc;
    margin-bottom: 10px;
    background: #333333;
    padding: 8px;
}
span.firsttab.active {
    background: #00A1E0;
    color: white;
}
span.firsttab {
    display: inline-block;
    padding: 8px 12px;
    margin-right: 5px;
    font-size: 14px;
    background: #7b7c80;
    color: #ffffff;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
}


.page_title {
    line-height: 40px;
    background: #0294AB;
    padding: 0px 15px 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    color: #DDF4FF;
    font-size: 20px;
    text-transform: uppercase;
	text-align:center;
}
.compare-info {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
.compare-info td {
    padding: 8px;
    width: 25%;
    color: #4D4D4D;
    text-align: center;
    vertical-align: top;
	border:solid 1px #DDDDDD;
}

.compare-info tr td:first-child {
    color: #000000;
    font-weight: bold;
    text-align: left;
	padding-left:30px;

}
.compare_product {}
.compare-info tbody tr td .button {
    cursor: pointer;
    color: #fff;
    line-height: 20px;
    font-size: 12px;
    font-weight: normal;
    background-color: #2A8BCA;
    border: 1px solid #0587a4;
    text-transform: uppercase;

border:1px solid #25729a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 12px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
 background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
 background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

.compare-info tbody tr td .button:hover{
 border:1px solid #1c5675;
 background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
 background-image: -o-linear-gradient(top, #26759e, #133d5b);
 background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

.remove a {
	border:1px solid #ff6262; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #ff9a9a; background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9a9a), to(#ff4040));
 background-image: -webkit-linear-gradient(top, #ff9a9a, #ff4040);
 background-image: -moz-linear-gradient(top, #ff9a9a, #ff4040);
 background-image: -ms-linear-gradient(top, #ff9a9a, #ff4040);
 background-image: -o-linear-gradient(top, #ff9a9a, #ff4040);
 background-image: linear-gradient(to bottom, #ff9a9a, #ff4040);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff9a9a, endColorstr=#ff4040);		
 text-decoration: none;
text-transform: uppercase;


}
.remove a:hover {
	border:1px solid #ff3434;
 background-color: #ff6767; background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6767), to(#ff0d0d));
 background-image: -webkit-linear-gradient(top, #ff6767, #ff0d0d);
 background-image: -moz-linear-gradient(top, #ff6767, #ff0d0d);
 background-image: -ms-linear-gradient(top, #ff6767, #ff0d0d);
 background-image: -o-linear-gradient(top, #ff6767, #ff0d0d);
 background-image: linear-gradient(to bottom, #ff6767, #ff0d0d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff6767, endColorstr=#ff0d0d);


}
.buttons { text-align:center;}
	
.buttons .right a {
	border:1px solid #616261; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 50px 10px 50px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #7d7e7d; background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e));
 background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: -moz-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7d7e7d, endColorstr=#0e0e0e);
  text-decoration: none;
text-transform: uppercase;

	}
	.buttons .right a:hover{
 border:1px solid #4a4b4a;
 background-color: #646464; background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#282828));
 background-image: -webkit-linear-gradient(top, #646464, #282828);
 background-image: -moz-linear-gradient(top, #646464, #282828);
 background-image: -ms-linear-gradient(top, #646464, #282828);
 background-image: -o-linear-gradient(top, #646464, #282828);
 background-image: linear-gradient(to bottom, #646464, #282828);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#646464, endColorstr=#282828);
}
.compare-info tbody tr .name { background-color:#36404E;}
.compare-info tbody tr .name2 { background-color:#425A67;}
.compare-info tbody tr .name3 { background-color:#496F82;}
.compare-info tbody tr .name a { text-decoration:none; color:#FFF;}
.compare-info tbody tr .name2 a { text-decoration:none; color:#FFF;}
.compare-info tbody tr .name3 a { text-decoration:none; color:#FFF;}


.loginPageMain {
    background: url(../images/login_bg.jpg) no-repeat center fixed; background-size:cover; 
}


.loginPageMain {
    height: 100vh; 
}
.login_bg {
    background: url(../images/gur-bg.jpg) no-repeat center fixed; background-size:cover; 
}
.loginForm_new {
    width: 460px;
    height: 340px;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 100px #dea568;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
	padding:30px;
   
}


.login_bg {
    height: 100vh; 
}

.loginForm {
    width: 460px;
    height: 340px;
    /*background: rgba(255,255,255,0.9);*/ background-color:#fcf6f1;
    box-shadow: 0 0 100px #dea568;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
	padding:30px;
   
}

.adminLogo {
    margin: auto;
    padding: 0px 0;
    display: block;
}

label.checkbox {
    display: inline-block;
    font-family: "Open Sans",sans-serif;
	padding-left:20px;
	font-weight:normal;
}
.label.checkbox {
    color: white;
    font-size: 12px;
}

.submitBtn_new {
	float:right;
    padding: 7px 15px;
    background: #0074ce;
    color: white;
    border: solid 1px #249cf8;
    border-radius: 5px;
    width: 40%;
    text-align: center;
    margin-top: 15px;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
	border:1px solid #25729a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 12px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
 background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
 background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}
.submitBtn_new:hover{
 border:1px solid #1c5675;
 background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
 background-image: -o-linear-gradient(top, #26759e, #133d5b);
 background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

.theme-block {
    border: solid 1px #dfdfdf;
    border-top: solid 2px #29BF3D;
    padding: 30px 29px;
    margin-bottom: 60px;
	overflow:hidden;
}

.theme_register {
    border: solid 1px #dfdfdf;
    border-top: solid 2px #29BF3D;
    padding: 30px 29px;
    margin-bottom: 10px;
	overflow:hidden;
}

.form_instructions {
  color:#272727;
	padding-top:15px; padding-bottom:15px;
	border-bottom:solid 1px #EFEFEF;
	margin-bottom:5px;
	border-left:solid 2px #63C0EC;
}

.form_instructions i {
	color:#289BD2;
    display: block;
    float: left;
    font-size: 21px;
    line-height: 21px;
    padding-right: 15px;
	padding-left: 15px;
	}

.corporate_font { font-size:20px; padding:0; margin:0; text-transform: uppercase;}
.add_color { font-weight:bold; padding-right:5px;}
.submit_b_contact {  color:#289BD2; background:#056CC0;     padding: 7px 15px;
    background: #0074ce;
    color: white;
    border: solid 1px #249cf8;
    border-radius: 0px;
    width: 30%;
    text-align: center;
    margin-top: 15px;}

.contact-img { opacity: 0.2;
    filter: alpha(opacity=40);}
	.contact_space { padding-top:40px;}
	.policy_size {font-size:25px; color:#505050;}
	.policy_color_heading {background-color:#E9F9FF; float:left; padding:2px 5px;  clear:both; color:#136173; font-weight:bold;} 
	.policy_heading { float:left; clear:both; } 
	
	
	.carrer-block {
    border: solid 1px #dfdfdf;
    border-top: solid 2px #29BF3D;
    padding: 30px 29px;
    margin-bottom: 60px;
	overflow:hidden;
	margin-top:30px;
-webkit-box-shadow: -1px 13px 5px -10px rgba(194,194,194,1);
-moz-box-shadow: -1px 13px 5px -10px rgba(194,194,194,1);
box-shadow: -1px 13px 5px -10px rgba(194,194,194,1);
}

.content { }
.form_group {border-bottom:10px; overflow:hidden;}
.form_register {width:100%; clear:both; padding-bottom:15px; overflow:hidden;}
.sapce_r {padding-bottom:10px; text-align:right;}
.div100 {width:100%;  border-radius:2px;}

.pull-right a { text-decoration:none; color:#363636;}
h3.vendor_text {
    text-align: center;
    color: #FFF;
    font-size: 33px;
}