
@charset "utf-8";

.quantity-main .add_cart_new, .small-slider {
    margin-left: 0;
}

.pro_cont .size, .text-name {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.add_cart_new, .product_add_cart {
    box-shadow: 0 0 1px #fff inset;
    text-align: center;
}

.add_cart_new, .most_font, .pera, .product_add_cart, .table tr th, .thank, h1.vendor_text {
    text-align: center;
}

.business_ul_box li, .description a, .description li, .my_accoutn ul li, .total_left_menu a, .total_left_menu li {
    list-style-type: none;
}

.form_box, .main_space, .paid, .pro_box, .pro_cont .size, .related_bg, .text-name, .total_box, .vendor_box {
    overflow: hidden;
}

body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif !important;
    background-color: #fff !important;
}

.heading-box {
    background-color: #f5f5f5;
    background-image: url(../images/top_line.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    padding: 0 20px;
    box-sizing: border-box;
}


.heading_name a {
    line-height: 40px;
    font-size: 12px;
    display: inline-block;
    color: #666;
}

.heading_name a i {
    padding: 0 5px;
    font-size: 12px;
}

.small-slider {
    padding-bottom: 30px;
    border-right: 1px solid #e4e4e4;
    padding-right: 10px;
}

.main_box {
    padding-top: 0;
    background-color: #FFF;
}

.small_img {
    padding-top: 15px;
    margin-left: 50px;
}

.small_img_box {
    border: 1px solid #CCC;
    padding: 7px;
    float: left;
    margin-right: 7px;
}

.product_box {
    width: auto;
    height: auto;
    padding-left: 40px;
}

.brand, .prige, .quantity, .table_boder, .text-name {
    width: 100%;
}

.text-name {
    font-size: 23px;
    margin: 0 0 12px;
    padding: 0 0 15px;
    border-bottom: solid 1px #EAEAEA;
}

.pro_cont .size {
    width: 100%;
}

.prige {
    float: left;
    padding-bottom: 5px;
}

.off-color {
    color: #008c4c;
    font-size: 18px;
    padding-left: 10px;
}

.under_line {
    text-decoration: line-through;
    font-family: Verdana,sans-serif;
    margin-left: 10px;
    color: red;
}

.brand {
    font-size: 13px;
    float: left;
    margin: 8px 0;
}

.brabd_bold, .brand .brabd_bold {
    font-weight: 700;
    font-size: 12px;
    margin-right: 5px;
    float: left;
    font-family: Verdana,sans-serif;
}

.brabd_bold {
    margin-top: 5px;
}

.brand .brabd_bold {
    margin-top: 0;
}

.table_boder tr th {
    padding: 5px;
    color: #006b95;
}

.table_boder tr {
    border-bottom: dashed 1px #e4e4e4;
}

.table_boder tr td {
    padding: 5px;
    font-size: 13px;
}

.quantity {
    padding-top: 8px;
    padding-bottom: 0;
    float: left;
}

.quantity-main {
    width: auto;
    position: relative;
    margin-left: -7px;
}

.q_size {
    font-size: 12px;
    float: left;
    padding: 0 10px 0 0;
    margin: 0;
    line-height: 35px;
    font-weight: 600;
}

.q_link, .q_link:hover {
    padding: 5px 10px;
    border: 1px solid #CCC;
    display: inline-block;
    color: #666;
    float: left;
}

.add_cart_new, .compare_main a, .compare_main a i, .q_link, .q_link:hover {
    margin-right: 5px;
    text-decoration: none;
}

.description a, .related_size {
    text-transform: uppercase;
    font-weight: 700;
}

.q_link:hover {
    background-color: #ededed;
}

.add_cart_new {
  padding: 5px 13px;
    color: #3790c5;
    display: inline-block;
    /* border-radius: 4px; */
    text-decoration: none;
    border: solid 2px #5c95b7;
    transition: 0.3s;
}

.add_cart_new:hover {
   background: #5c95b7;
  padding: 5px 13px;
    color: #fff;
    display: inline-block;
    /* border-radius: 4px; */
    text-decoration: none;
    border: solid 2px #5c95b7;  
}

.compare_main a {
    color: #7B7B7B !important;
    transition: .3s;
    font-size: 12px;
    font-family: Verdana,sans-serif;
}

.compare_main a i {
    border: 1px solid #D6D6D6;
    padding: 6px;
    color: #7B7B7B;
    margin-left: 5px;
    margin-top: 15px;
    border-radius: 60%;
    transition: .3s;
    font-size: 15px;
}

.compare_main a i:hover {
    border: 1px solid #058ED0;
    color: #058ED0;
}

.easy_box {
    width: 100%;
}

.easy-contain {
    float: left;
    border: 1px solid #EAEAEA;
    background: #FFF;
    padding: 8px 5px;
    margin-right: 4px;
}

.easy-contain:last-child {
    margin-right: 0;
}

.img_easy {
    float: left;
    line-height: 30px;
    padding-right: 10px;
}

.g_box {
    float: left;
    font-size: 11px;
    line-height: normal;
}

.related_bg {
   
    padding: 20px 0 5px 10px;
    margin-left: 20px;
    float: left;
    width: 92%;
}

.related_size {
    font-size: 18px;
    padding-left: 20px;
}

.size, .size1 {
    font-size: 13px;
    line-height: none;
}

.pro_box {
    width: 100%;
    padding: 10px 0;
    border-bottom: solid 1px #DAF4F7;
}

.pro_box:last-child {
    border-bottom: none;
}

.pro_img {
    float: left;
}

.pro_cont {
    width: auto;
    padding-left: 15px;
	    border-left: 1px solid #e2e2e2;
}

.size1 {
    color: #999;
}

.size a {
    font-size: 11px;
    line-height: none;
    color: #333;
    text-decoration: none;
}

.space {
    border-top: 1px solid #c9e9ed;
    margin: 12px;
}

.space1 {
    margin-top: 20px;
    margin-bottom: 4px;
    border: 0;
    border-top: 1px solid #dedede;
}

.space2 {
    margin-bottom: 15px;
}

.left_box {
    width: 100%;
    height: auto;
    padding-top: 40px;
    float: left;
}

.left_easy {
    padding: 10px 0 30px;
    overflow: hidden;
}

.description, .description ul {
    padding: 0;
    margin: 0;
}

.description a {
    text-decoration: none;
    display: block;
    line-height: 40px;
    background-color: #f5f5f5;
    color: #757575;
    padding-left: 20px;
    font-size: 12px;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-bottom-color: #e4e4e4;
    border-left-color: #e4e4e4;
}

.description a:hover {
    background-color: #FFF;
}

.description li:first-child a {
    border-top: solid 1px #e4e4e4;
}

.discription_left {
    width: 100%;
    padding-left: 30px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #e4e4e4;
    height: 250px;
    padding-top: 50px;
}

.description_box {
    padding: 50px;
}

.page_pro1 {
    width: 100%;
    padding: 20px 0;
    float: left;
    position: relative;
    z-index: 994;
	/* margin-top: 191px; */
}


#insidecart {
    background: #fff;
}

.productispasifaction {
    width: 100%;
    float: left;
}

.productispasifaction table th {
    padding: 7px 0 7px 10px;
    border-bottom: solid 1px #EAEAEA;
    background-color: #71af0e;
    color: #ffffff;
}

.productispasifaction table td {
    border-bottom: solid 1px #E4E4E4;
    padding: 6px 0 6px 10px;
    color: #90908F;
    font-size: 13px;
}

.most_font, .product_slide {
    padding-bottom: 15px;
    width: 100%;
}

.productispasifaction table td:first-child {
    font-weight: 600;
}

.product_slide {
    border: 1px solid #CCC;
}

.most_v {
    width: 100%;
}

.most_font {
    font-size: 20px;
    padding-top: 5px;
    border-bottom: solid 1px #F3F3F3;
    margin-bottom: 18px;
    float: left;
	position:relative;
}
.most_font a{ text-decoration:none; color: #000;}


.product_name {
    font-size: 17px;
    padding: 0;
    margin: 0;
}

.pera, .total_box {
    margin-bottom: 40px;
}

.low_rate {
    color: red;
    padding-right: 10px;
}

.high_rate {
    text-decoration: line-through;
}

.product_add_cart {
    float: left;
    background: #058ED0;
    border: 1px solid #058ED0;
    padding: 6px 0;
    width: 100%;
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

.my_accoutn, .my_box {
    box-shadow: 2px 2px 3px #BFBFBF;
}

.product_wishlist a, .product_wishlist a i {
    text-decoration: none;
    color: #7B7B7B;
    transition: .3s;
}

.caption1 {
    padding: 0 5px 5px;
}

.compare_size {
    font-size: 12px;
    font-family: Verdana,sans-serif;
}

.product_wishlist {
    width: 100%;
}

.compare_main {
    width: 100%;
    padding-bottom: 20px;
}

.product_wishlist a {
    margin-right: 5px;
}

.product_wishlist a i {
    border: 1px solid #E2E2E2;
    padding: 5px;
    margin-top: 10px;
    border-radius: 60%;
}

.bg_color td a, .submitBtn {
    transition: background .25s ease-in-out;
}

.product_wishlist a i:hover {
    border: 1px solid #058ED0;
    color: #058ED0;
}

h6.success_heading {
    text-align: center;
    font-size: 20px;
    border-bottom: dashed 1px #CCC;
    padding: 10px 0 20px;
    font-weight: 700;
}

.pera {
    padding: 0 10px;
    color: #444;
    line-height: 20px;
    font-size: 13px;
}

.thank {
    color: #22A513;
    font-size: 35px;
    padding-top: 10px;
}

.table {
    border: 0 solid #000;
}

.table tr th {
    background: #1b4863;
    font-size: 13px;
    padding: 7px;
    font-family: Roboto,sans-serif;
    border: 0 solid #71af0e;
    border-collapse: collapse;
    color: #fff;
    font-weight: 300;
}

.buttons .right a, .compare_div .button, .compare_div .remove {
    font-family: arial,helvetica,sans-serif;
    text-shadow: (-1px) -1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.table tr td {
    border: 1px dashed #e4e4e4;
    font-size: 12px;
}

.order_number {
    background-color: #F5F5F5;
    border: 1px dashed #A9A9A9;
    padding: 0 15px 10px;
}

.total_box {
    padding: 15px 15px 10px;
    width: 100%;
}

.total_p {
    float: right;
}

.continue, .forgot_pss, .form, .login, .my_box, .paid, .qty_add, .total, .vendor_box.vendor {
    float: left;
}

.total {
    width: 50%;
}

.order-font {
    font-size: 17px;
}

.order-detl {
    font-size: 14px;
    margin: 0 0 5px;
}

.paid {
    width: 100%;
    border-top: dashed 1px #A9A9A9;
    margin-top: 15px;
    padding-top: 15px;
}

.vendor_box {
    margin-right: 50px;
}

.form {
    padding: 10px;
}

.forgot_pss a, .login a {
    padding: 7px 15px;
    font-weight: 400;
    display: block;
    text-decoration: none;
}

.forgot_box, .pass {
    float: left;
}

.login {
    margin-top: 34px;
    font-weight: 400;
}

.login a {
    background-color: #058ED0;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 0 solid #000;
}

.forgot_pss {
    margin-top: 33px;
    margin-left: 15px;
}

.forgot_pss a {
    color: #666;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #CCC;
}

h1.vendor_text {
    color: #FFF;
    font-size: 33px;
}

.color-form {
    background-color: #000;
    height: auto;
    padding-top: 160px;
    padding-bottom: 100px;
    background-image: url(../images/bg-id.jpg);
}

.form_vendor {
    padding-top: 0;
    color: #FFF;
}

.submitBtn, .submitBtn:hover {
    padding: 10px 15px;
    margin-left: 5px;
    width: 30%;
    margin-top: 30px;
    text-align: center;
}

.submitBtn {
    background: #0074ce;
    color: #fff;
    border: 1px solid #249cf8;
    border-radius: 5px;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}

.submitBtn:hover {
    background: #009ce5;
    color: #fff;
    border: 1px solid #008fd2;
    border-radius: 5px;
}

.submit_center {
    text-align: center;
}

.my_accoutn {
    margin-top: 10px;
    background: #fff;
    padding: 6px;
}

.my_accoutn ul {
    padding: 0x;
    margin: 0;
}

.my_accoutn ul li {
    background: #1b4863;
    border-bottom: solid 1px #0d3b56;
}

.my_accoutn ul li i {
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    text-align: center;
    font-size: 18px;
    background: #0d4e75;
    color: #fff;
    padding: 9px 0 8px;
}

.my_acc {
    background: #0d4e75;
    /*background: -moz-linear-gradient(top, #71af0e 0, #538208 100%);
    background: -webkit-linear-gradient(top, #71af0e 0, #538208 100%);
    background: linear-gradient(to bottom, #71af0e  0, #538208  100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71af0e', endColorstr='#538208', GradientType=0 );
    padding: 8px 0 8px 43px;
    color: #fff;
    font-size: 16px;
}

.my_accoutn ul li a {
    text-decoration: none;
    display: block;
    color: #FFF;
    line-height: 35px;
    padding-left: 45px;
    position: relative;
}

.my_accoutn ul li a:hover {
    background-color: #538208;
}

.my_accoutn ul li a:hover i {
    background-color: #71af0e;
}

.my_accoutn ul li .color_my {
    background-color: #1c2227;
    color: #FFF;
    font-size: 20px;
}

.main_space {
    padding-top: 20px;
    padding-bottom: 30px;
    clear: both;
}

h3.my_acc_h {
    padding: 7px 8px;
    margin: 0;
    background: #1b4863;
    color: #fff;
    font-size: 20px;
}

.recent_order {
    line-height: 40px;
    background-color: #F5F5F5;
    margin: 10px 0;
    border: 1px dashed #CCC;
    padding-left: 15px;
}

.table-unit {
    width: auto;
    height: auto;
    margin-top: -10px;
}

.table_my {
    width: 100%;
    margin-bottom: 8px;
}

.table_my th {
    padding: 5px;
    color: #006b95;
}

.table_my tr {
    border-bottom: dashed 1px #e4e4e4;
}

.table_my tr td {
    padding: 5px;
    font-size: 13px;
}

.bg_color {
    background-color: #434444;
    line-height: 30px;
    color: #FFF;
}

.table_my tr:first-child {
    border-bottom: dashed 0 #e4e4e4;
}

.order_color {
    background-color: #54636B;
}

.bg_color td a {
    text-decoration: none;
    font-weight: 700;
    color: #464545;
    padding: 5px 8px;
    background-color: #EFEFEF;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}

.cancel_btn, .cancel_btn:hover, .track_btn, .track_btn:hover {
    color: #fff !important;
}

.track_btn {
    background: #3393E2 !important;
}

.track_btn:hover {
    background: #C7C7C7 !important;
}

.cancel_btn {
    background: #E44508 !important;
}

.cancel_btn:hover {
    background: #C7C7C7 !important;
}

.my_box {
    width: 100%;
    background: #fff;
    padding: 8px;
    margin-top: 10px;
    display: none;
}

.active_tab {
    display: block !important;
}

.form_box {
    width: 100%;
    clear: both;
    padding: 7px 0;
}

.right_select {
    text-align: left;
}

.compare-info .qty_price table th, .compare-info td, .copon_center, .page_title {
    text-align: center;
}

.continue {
    background: #7d7e7d;
    background: -moz-linear-gradient(top, rgba(125, 126, 125, 1) 0, rgba(14, 14, 14, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(125, 126, 125, 1) 0, rgba(14, 14, 14, 1) 100%);
    background: linear-gradient(to bottom, rgba(125, 126, 125, 1) 0, rgba(14, 14, 14, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0 );
    padding: 8px 22px;
    font-size: 16px;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 300;
    width: 100%;
    margin-bottom: 10px;
    clear: both;
    border: none !important;
}

.profile_s {
    line-height: 40px;
    margin: 10px 0;
    font-weight: 700;
}

.twotab {
    border-bottom: solid 1px #ccc;
    margin-bottom: 10px;
    background: #333;
    padding: 8px;
}

span.firsttab.active {
    background: #00A1E0;
    color: #fff;
}

span.firsttab {
    display: inline-block;
    padding: 8px 12px;
    margin-right: 5px;
    font-size: 14px;
    background: #7b7c80;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

.page_title {
    line-height: 40px;
    background: #676767;
    padding: 0 15px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

.compare-info {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.compare-info td {
    padding: 8px;
    width: 25%;
    color: #4D4D4D;
    vertical-align: top;
    border: 1px solid #DDD;
}

.compare-info .qty_price table td {
    border-bottom: dotted 1px #E4E4E4;
    font-size: 12px;
    padding: 4px 5px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.qty_add {
    width: 100%;
}

.qty_add input[type=text] {
    width: 60px;
    border: 1px solid #E7E7E7;
    padding: 6px 0;
    margin: 0 6px;
    text-align: center;
}

.qty_add a {
    color: #515151;
    font-size: 17px;
}

.compare-info tr td:first-child {
    color: #000;
    font-weight: 700;
    text-align: left;
    padding-left: 30px;
}

.buttons .right a, .compare-info tbody tr .name a, .compare-info tbody tr .name2 a, .compare-info tbody tr .name3 a, .compare_div .button, .compare_div .remove {
    color: #FFF;
    text-decoration: none;
}

.buttons, .compa_text, .submitBtn_new, .submit_b_contact {
    text-align: center;
}

.compare_div .button {
    cursor: pointer;
    line-height: 20px;
    margin-right: 5px;
    border: 1px solid #25729a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    padding: 9px 10px 8px;
    display: inline-block;
    font-weight: 700;
    background-color: #3093c7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
    background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
    background-image: linear-gradient(to bottom, #3093c7, #1c5a85);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3093c7, endColorstr=#1c5a85);
}

.compare_div .button:hover {
    border: 1px solid #1c5675;
    background-color: #26759e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
    background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
    background-image: -moz-linear-gradient(top, #26759e, #133d5b);
    background-image: -ms-linear-gradient(top, #26759e, #133d5b);
    background-image: -o-linear-gradient(top, #26759e, #133d5b);
    background-image: linear-gradient(to bottom, #26759e, #133d5b);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#26759e, endColorstr=#133d5b);
}

.compare_div .remove {
    border: 1px solid #ff6262;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    padding: 10px;
    display: inline-block;
    font-weight: 700;
    background-color: #ff9a9a;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9a9a), to(#ff4040));
    background-image: -webkit-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: -moz-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: -ms-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: -o-linear-gradient(top, #ff9a9a, #ff4040);
    background-image: linear-gradient(to bottom, #ff9a9a, #ff4040);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ff9a9a, endColorstr=#ff4040);
}

.compare_div .remove:hover {
    border: 1px solid #ff3434;
    background-color: #ff6767;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6767), to(#ff0d0d));
    background-image: -webkit-linear-gradient(top, #ff6767, #ff0d0d);
    background-image: -moz-linear-gradient(top, #ff6767, #ff0d0d);
    background-image: -ms-linear-gradient(top, #ff6767, #ff0d0d);
    background-image: -o-linear-gradient(top, #ff6767, #ff0d0d);
    background-image: linear-gradient(to bottom, #ff6767, #ff0d0d);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ff6767, endColorstr=#ff0d0d);
}

.buttons .right a {
    margin: 10px 0;
    border: 1px solid #616261;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    padding: 10px 50px;
    display: inline-block;
    font-weight: 700;
    background-color: #7d7e7d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e));
    background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
    background-image: -moz-linear-gradient(top, #7d7e7d, #0e0e0e);
    background-image: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
    background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e);
    background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#7d7e7d, endColorstr=#0e0e0e);
}

.buttons .right a:hover {
    border: 1px solid #4a4b4a;
    background-color: #646464;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#282828));
    background-image: -webkit-linear-gradient(top, #646464, #282828);
    background-image: -moz-linear-gradient(top, #646464, #282828);
    background-image: -ms-linear-gradient(top, #646464, #282828);
    background-image: -o-linear-gradient(top, #646464, #282828);
    background-image: linear-gradient(to bottom, #646464, #282828);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#646464, endColorstr=#282828);
}

.loginForm, .loginForm_new {
    width: 460px;
    box-shadow: 0 0 150px #828282;
    bottom: 0;
    border-radius: 10px;
    padding: 30px;
    margin: auto;
    left: 0;
    top: 0;
    position: absolute;
    right: 0;
}

.compare-info tbody tr .name {
    background-color: #36404E;
}

.compare-info tbody tr .name2 {
    background-color: #425A67;
}

.compare-info tbody tr .name3 {
    background-color: #496F82;
}

.loginPageMain {
    background: url(../images/login_bg.jpg) center no-repeat fixed;
    background-size: cover;
    height: 100vh;
}

.login_bg {
    background: url(../images/gur-bg.jpg) center no-repeat fixed;
    background-size: cover;
}

.loginForm_new {
    height: 340px;
    background: rgba(255, 255, 255, 0.9);
}

.login_bg {
    height: 100vh;
}

.loginForm {
    height: 380px;
    background-color: #fff;
}

.adminLogo {
    margin: auto;
    padding: 0;
    display: block;
	    width: 100%;
    float: left;
    padding: 31px 16px;
}

label.checkbox {
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    padding-left: 20px;
    font-weight: 400;
}

.label.checkbox {
    color: #fff;
    font-size: 12px;
}

.submitBtn_new {
    float: right;
    background: #24945a;
    width: 40%;
    margin-top: 15px;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    border: 1px solid #359b66;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial,helvetica,sans-serif;
    padding: 12px 10px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: (-1px) -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: 700;
    color: #FFF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#138d4f));
    background-image: -webkit-linear-gradient(top, #138d4f, #359b66);
    background-image: -moz-linear-gradient(top, #138d4f, #359b66);
    background-image: -ms-linear-gradient(top, #138d4f, #359b66);
    background-image: -o-linear-gradient(top, #138d4f, #359b66);
    background-image: linear-gradient(to bottom, #138d4f, #359b66);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#359b66, endColorstr=#359b66);
}

.theme-block, .theme_register {
    padding: 30px 29px;
    overflow: hidden;
}

.submitBtn_new:hover {
    border: 1px solid #035f30;
    background-color: #056d38;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#018643), to(#0fad5d));
    background-image: -webkit-linear-gradient(top, #24945a, #24945a);
    background-image: -moz-linear-gradient(top, #24945a, #24945a);
    background-image: -ms-linear-gradient(top, #24945a, #24945a);
    background-image: -o-linear-gradient(top, #24945a, #24945a);
    background-image: linear-gradient(to bottom, #24945a, #24945a);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#24945a, endColorstr=#24945a);
}

.theme-block {
    border: 1px solid #dfdfdf;
    border-top: solid 2px #29BF3D;
    margin-bottom: 60px;
    background-color: #FFF;
    height: 600px;
}

.theme_register {
    border: 1px solid #dfdfdf;
    border-top: solid 2px #29BF3D;
    margin-bottom: 10px;
}

.form_instructions {
    color: #272727;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #EFEFEF;
    margin-bottom: 5px;
    border-left: solid 2px #63C0EC;
}

.form_instructions i {
    color: #289BD2;
    display: block;
    float: left;
    font-size: 21px;
    line-height: 21px;
    padding-right: 15px;
    padding-left: 15px;
}

.corporate_font {
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.enqury {
    margin-top: 15px;
}

.add_color {
    font-weight: 700;
    padding-right: 5px;
}

.submit_b_contact {
    padding: 7px 15px;
    background: #0074ce;
    color: #fff;
    border: 1px solid #249cf8;
    border-radius: 0;
    width: 30%;
    margin-top: 0;
}

.contact-img {
    opacity: .2;
    filter: alpha(opacity = 40);
}

.contact_space {
    padding-top: 14px;
}

.policy_size {
    font-size: 25px;
    color: #505050;
}

.policy_color_heading {
    background-color: #E9F9FF;
    float: left;
    padding: 2px 5px;
    clear: both;
    color: #136173;
    font-weight: 700;
}

.policy_heading {
    float: left;
    clear: both;
}

.carrer-block {
    border: 1px solid #dfdfdf;
    border-top: solid 2px #29BF3D;
    padding: 30px 29px;
    margin-bottom: 60px;
    overflow: hidden;
    margin-top: 30px;
    -webkit-box-shadow: (-1px) 13px 5px -10px rgba(194, 194, 194, 1);
    -moz-box-shadow: (-1px) 13px 5px -10px rgba(194, 194, 194, 1);
    box-shadow: (-1px) 13px 5px -10px rgba(194, 194, 194, 1);
}

.theme-login, .theme-regis {
    margin-bottom: 0;
    overflow: hidden;
}

.form_group {
    border-bottom: 10px;
    overflow: hidden;
}

.compa_hed, .compa_text {
    border-bottom: solid 1px #E6E6E6;
}

.form_register {
    width: 100%;
    clear: both;
    padding-bottom: 15px;
    overflow: hidden;
}

.sapce_r {
    padding-top: 5px;
}

.div100 {
    width: 100%;
    border-radius: 2px;
}

.pull-right a {
    text-decoration: none;
    color: #363636;
}

.compare_tbl {
    float: left;
    width: 100%;
}

.qty_price_d .qty_price table th {
    background: #FFF;
    color: #505050;
    text-align: center;
}

.compare_div {
    float: left;
    width: calc(100%/5);
    padding: 0;
}

.compa_hed, .compa_text, .compa_text .price {
    float: left;
    width: 100%;
}

.compare_div:nth-child(2) {
    background: #F7FFF1;
}

.compare_div:nth-child(3) {
    background: #FFF0F0;
}

.compare_div:nth-child(4) {
    background: #F1F9FF;
}

.compare_div:nth-child(5) {
    background: #F5F5F5;
}

.compa_hed {
    padding: 8px 15px 8px 35px;
    font-weight: 700;
}

.compa_hed:nth-child(2) {
    height: 106px;
}

.compa_hed:nth-child(4) {
    height: 139px;
}

.compa_hed:last-child {
    height: 51px;
}

.compa_text {
    padding: 8px;
}

.compa_text .price {
    padding: 0;
}

.compa_text .price .new_p {
    font-weight: 500;
    color: red;
    font-size: 14px;
}

.compa_text .price .old_p {
    font-weight: 300;
    color: #444;
    text-decoration: line-through;
    font-size: 13px;
}

.Order_btn .back_addr, .compa_text .wishlist, .forget_botton, .founder_icon a, .get_botton a, .jtb_icon a, .shop_new_botton a, .shop_now a, .total_left_menu a {
    text-decoration: none;
}

.compa_img .sale_ad {
    background: red;
    display: inline-block;
    padding: 4px 10px;
    font-size: 13px;
    font-family: Arial;
    height: auto;
    left: 0;
    top: 0;
    position: absolute;
    width: auto;
    color: #fff;
    z-index: 999;
}

.compa_img, .compa_name {
    float: left;
    padding: 8px 0;
    border-bottom: solid 1px #E6E6E6;
    text-align: center;
}

.compa_img, .form-control2 {
    position: relative;
    width: 100%;
}

.compa_name {
    width: 100%;
    font-weight: 700;
}

.qty_price_d {
    height: 139px;
}

.compa_img {
    background: #fff;
    height: 106px;
}

.compa_text .wishlist {
    border: 1px solid #E2E2E2;
    padding: 7px 8px 4px;
    color: #7B7B7B;
    margin-right: 5px;
    border-radius: 63%;
    transition: .3s;
    background: #fff;
    margin-left: 3px;
    margin-top: 3px;
    float: right;
}

.compa_text .wishlist:hover {
    color: #117CE0;
    border: 1px solid #117CE0;
}

.bg-login {
    background: url(../images/bg.jpg);
}

.theme-login {
    border: 1px solid #E8E8E8;
    padding: 14px 50px;
    background-color: #FFF;
    box-shadow: 3px 3px 4px #EAEAEA;
    min-height: 350px;
}

.theme-regis {
    padding: 15px 50px;
}

h1.login_account {
    text-align: center;
    padding-bottom: 30px;
    margin: 0;
    font-size: 25px;
    color: #299ed6;
}

.form-control2 {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    z-index: 2;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.sub_heading, .sub_heading:first-child {
    line-height: 40px;
    overflow: hidden;
    clear: both;
}

.form-control3 {
    padding-left: 10px;
}

.form-control2:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.submit_b_login, .submit_b_r {
    border: 2px solid #4082B5;
    padding: 15px 10px;
    background: #299ed6;
    color: #fff;
    font-size: 16px;
    float: left;
    font-weight: 700;
    text-align: center;
}

.submit_b_login {
    border-radius: 0;
    width: 50%;
    margin-top: 152px;
}

.submit_b_r {
    border-radius: 0;
    width: 30%;
    margin-top: 20px;
}

.login_botton {
    padding: 15px 10px;
    background: #299ed6;
    color: #fff;
    border: 2px solid #4082B5;
    border-radius: 0;
    width: 48%;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    float: left;
}

.forget_botton {
    padding: 19px 3px;
    background: #FFF;
    border: 2px solid #299ed6;
    border-radius: 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 10px;
    float: left;
    color: #1A1A1A;
}

.toy_register {
    transition: .3s;
    margin-top: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.toy_register img {
    transition: .3s;
    margin-top: 12px;
    margin-right: -45px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
}

.toy_register:hover {
    margin-right: -10px;
}

.inner-addon .fa {
    position: absolute;
    pointer-events: none;
}

.inner-addon i {
    color: #686868;
    font-size: 20px;
    padding: 11px;
}

.form_reg {
    margin-right: 15px;
    padding-bottom: 15px;
    position: relative;
}

.place_hold {
    position: absolute;
    top: 11px;
    left: 10px;
    color: #ccc;
    z-index: 1;
}

.place_hold span {
    color: red;
}

.panyment-font {
    font-size: 18px;
    padding: 15px 0;
}

.sub_heading {
    border-top: solid 1px #DADADA;
}

.sub_heading:first-child {
    border-top: solid 0 #BFBFBF;
}

.left_total {
    float: left;
    padding-left: 2px;
}

.right_total {
    float: right;
    padding-right: 2px;
}

.panyment_main {
    padding: 40px 50px;
}

.Order_btn {
    float: right;
    width: 100%;
    padding: 10px 0 0;
}

.forfot_btn {
    float: right;
    width: 48%;
}

.Order_btn .btn {
    border: none;
    padding: 7px 17px;
    float: right;
    transition: .3s;
    border-radius: 0;
}

.Order_btn .back_addr {
    background: #1697D6;
    color: #fff;
}

.Order_btn .back_addr:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.Order_btn .back_addr:visited {
    color: #fff;
}

.total_left_menu, .total_left_menu ul {
    padding: 0;
    margin: 0;
}

.total_left_menu a {
    display: block;
    float: left;
    width: 100%;
    text-transform: uppercase;
    color: #6B727E;
    padding: 7px 7px 7px 50px;
    font-size: 15px;
    font-weight: 700;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-bottom-color: #e4e4e4;
    border-left-color: #e4e4e4;
    height: 54px;
    position: relative;
}

.total_left_menu a span {
    float: left;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    color: #777;
}

.Partner, .current_heading, .electronic_heading h1, .get_botton a, .product_name_top h1, .shop_new_botton a, .shop_now a, .soft_toys_heading {
    text-transform: uppercase;
}

.total_left_menu a:hover span {
    color: #fff;
}

.total_left_menu li.active a {
    background-color: #515151;
    color: #fff;
    position: relative;
}

.total_left_menu li.active a span {
    color: #fff;
}

.total_left_menu li.active a:before {
    content: "";
    position: absolute;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-left: 30px solid #515151;
    right: 0;
    right: -30px;
    top: 0;
}

.total_left_menu a:hover {
    background: #515151;
    color: #fff;
}

.total_left_menu li:first-child a {
    border-top: solid 1px #e4e4e4;
}

.line_top {
    overflow: hidden;
    width: 100%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e4e4e4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e4e4e4;
    padding: 0;
}

.total_left_menu {
    width: 100%;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #e4e4e4;
    height: 380px;
    padding-top: 50px;
}

.value_size {
    width: 54px;
    padding: 4px 10px;
    float: left;
}

.SelectSize {
    clear: both;
    padding: 3px 0;
}

.quantity-main .compare_main a i {
    margin-top: 0;
}

@media screen and (max-width: 1366px) {
    .related_bg {
        
        padding: 20px 9px 5px 9px;
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    .related_bg {
        background-color: #f3f3f3;
        padding: 20px 0 5px 10px;
        width: 95%;
    }

    .size {
        font-size: 13px;
        line-height: none;
        margin-left: 12px;
        float: left;
    }

    .product_wishlist a {
        text-decoration: none;
        color: #7B7B7B;
        margin-right: 5px;
        transition: .3s;
        margin-left: 10px;
    }
}

.table_my2 {
    float: left;
    width: 100%;
}

.table_my2 th {
    background: #1b4863;
    padding: 8px;
    color: #fff;
    font-weight: 400;
}

.table_my2 th .cancel_btn, .table_my2 th .retrn_btn {
    padding: 4px 9px;
    cursor: pointer;
    color: #fff;
    float: right;
}

.table_my2 th .cancel_btn {
    background: red !important;
    margin-left: 5px;
}

.table_my2 th .retrn_btn {
    background: #FF8100;
}

.table_my2 th .ord_id {
       background: rgba(27, 72, 99, 0.89);
    color: #fff;
    padding: 4px 8px;
    box-shadow: 0 0 3px #538208 inset;
    text-decoration: none;
}

.table_my2 th strong {
    font-weight: 300;
}

.table_my2 table {
    margin: 0;
    width: 100%;
}

.table_my2 table.pro_d_list td {
    padding: 4px 8px;
    font-size: 13px;
}

.table_my2 table.pro_d_list tr:nth-child(odd) {
    background: #efefef;
}

.table_my2 table.pro_d_list td .pro_ces {
    color: #ff34a7;
}

.table_my2 .grand_t {
    padding: 12px 8px 8px;
}

.table_my2 .grand_t span span {
    font-weight: 700;
}

.table_my2 .grand_t span {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    border-left: solid 1px #ccc;
}

.table_my2 .grand_t span:last-child {
    border-left: none;
}

.product_banner {
    float: left;
    width: 100%;
    margin-top: -1px;
}

.product_banner img {
    width: 100%;
    text-align: center;
}

.product_main_box {
    width: 100%;
    position: relative;
    margin-bottom: 25px;
    float: left;
    border: 1px solid #BBB;
    box-shadow: 0 3px 0 0 #D4D4D4;
    overflow: hidden;
}

.product_name_top, .shop_now {
    position: absolute;
    width: 100%;
    transition: .3s;
}

.product_main_box img:hover {
    opacity: .7;
}

.product_margin_box {
    padding: 0;
    float: left;
}

.product_main_box:hover .shop_now {
    bottom: 10px;
}

.product_name_top {
    background-color: rgba(255, 255, 255, 0.6);
    top: 100px;
    right: 0;
}

.product_name_top h1 {
    color: #000;
    font-size: 17px;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 40px;
    transition: .3s;
}

.shop_now {
    bottom: -60px;
    text-align: center;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.shop_now a {
    padding: 7px 10px;
    color: #FFF;
    background-color: #000;
    font-size: 13px;
    transition: .3s;
}

.shop_now a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}

.soft_toys_heading {
    font-size: 25px;
    color: #2D2D2D;
    text-align: center;
    padding: 5px 0;
    font-weight: 700;
}

.line_soft_boys {
    text-align: center;
    width: 20%;
    height: 1px;
    background-color: #2B2B2B;
    margin: 0 auto 25px;
}

.electronic_box, .jtb_icon, .pay_tod {
    width: 100%;
    float: left;
}

.electronic_box {
    border: 1px solid #D4D4D4;
    border-radius: 25px 0;
    position: relative;
    padding-bottom: 32px;
    background: #fff;
    margin-bottom: 30px;
}

.electronic_heading {
    text-align: center;
    background: url(../images/sub_cet_head.jpg);
    border-radius: 25px 0 0;
}

.electronic_heading h1 {
    color: #fff;
    font-size: 15px;
    padding: 0;
    margin: 0;
    line-height: 35px;
    transition: .3s;
}

.elecronic_thum {
    overflow: hidden;
    transition: .3s;
    padding: 0;
}

.elecronic_thum img {
    transition: .3s;
}

.elecronic_thum:hover img {
    transform: scale(1.1);
    transition: .3s;
}

.shop_new_botton {
    right: 0;
    position: absolute;
    text-align: center;
}

.shop_new_botton a {
    padding: 7px 20px;
    color: #FFF;
    border-radius: 0 0 25px;
    background-color: #333;
    font-size: 13px;
    transition: .3s;
    display: block;
}

.shop_new_botton a:hover {
    background-color: #35B2FB;
    color: #FFF;
}

.black_bg {
    background-color: #222;
    padding: 50px 0;
}

.jtb_icon {
    text-align: center;
}

.jtb_icon img {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .7s ease-in-out;
    -ms-transition: -ms-transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
}

.jtb_icon img:hover {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.jtb_icon h5 {
    color: #FFF;
    text-align: center;
    line-height: 20px;
}

.current_heading {
    text-align: center;
    color: #FFF;
    padding: 0 0 30px;
    margin: 0;
    font-size: 25px;
}

.pay_tod {
    height: auto;
}

.credit_box {
    float: left;
    width: calc(100% / 3);
    padding: 0 25px;
    position: relative;
}

.credt_why_box {
    height: auto;
    text-align: center;
    padding: 25px 20px;
    width: 100%;
    float: left;
    background-color: #2c2b33;
    webkit-box-shadow: 0 5px 0 0 rgba(171, 171, 171, 0.75);
    -moz-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 5px 0 0 #797880;
}

.c_why_icon {
    width: 100px;
    height: 100px;
    background: #51505B;
    border: 0 solid #058ED0;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    padding: 25px;
    position: relative;
    z-index: 5;
    font-size: 26px;
    color: #fff;
}

.c_why_icon img {
    width: 100%;
    max-width: 70px;
}

.c_why_heading {
    font-size: 15px;
    line-height: 22px;
    color: #F1F1F1;
    margin-top: 20px;
    float: left;
}

.sell_colr_bg_new1 {
    overflow: hidden;
    margin-top: 0;
    padding-bottom: 30px;
    padding-top: 10px;
    border-top: solid 1px #F1EDED;
    position: relative;
}

.sell_colr_bg_new2, .sell_colr_bg_new3 {
    margin-top: 0;
    border-top: solid 5px #D8D8D8;
    overflow: hidden;
    position: relative;
}

.static_page1 {
    float: left;
    width: 100%;
}

.sell_colr_bg_new2 {
    padding-bottom: 0;
    padding-top: 60px;
}

.sell_colr_bg_new3 {
    padding-bottom: 50px;
    padding-top: 10px;
    background: #fff;
}

.bg_col {
    background: #fff;
}

.Partner {
    text-align: center;
    font-size: 26px;
    padding: 5px 0 20px;
    overflow: hidden;
    color: #272727;
}

.color-form_start {
    height: auto;
    width: 100%;
    float: left;
    background: url(../images/Start_business.png) center no-repeat #182437;
    padding: 100px 0;
}

.start_your {
    width: 100%;
    float: left;
}

.start_your h1 {
    font-size: 37px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 15px;
}

.blu_color {
    color: #1c8adb;
}

.start_your p {
    font-size: 16px;
}

.business_ul_box {
    width: 100%;
    float: left;
}

.business_ul_box ul {
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
}

.business_ul_box li {
    font-size: 14px;
    position: relative;
    padding-left: 25px;
    line-height: 30px;
}

.business_ul_box li i {
    font-size: 20px;
    font-weight: 700;
    color: #0564ab;
    position: absolute;
    top: 4px;
    left: 5px;
}

.bg_white {
    background-color: #FFF;
    width: 100%;
    float: left;
    padding: 20px 0;
}

.div_960 {
    width: 960px;
    margin: auto;
    clear: both;
}

.get_botton {
    width: 100%;
    margin: auto;
}

.get_botton a {
    float: left;
    background-color: #1c8adb;
    padding: 10px 50px;
    color: #FFF;
    text-align: center;
    position: relative;
}

.onlie_sales_man, .onlie_sales_man1 {
    text-align: right;
    width: 100%;
    float: left;
}

.get_botton i {
    font-size: 25px;
    position: absolute;
    right: 30px;
    top: 7px;
}

.bg_gray {
    background-color: #f3f3f3;
    width: 100%;
    float: left;
}

.onlie_sales {
    padding-bottom: 20px;
    width: 100%;
    float: left;
}

.box_botton_sales {
    padding: 50px 0;
}

.box_botton_sales1 {
    padding-top: 30px;
    padding-bottom: 40px;
    width: 100%;
    float: left;
}

.onlie_sales_man {
    padding-right: 100px;
}

.onlie_sales_man1 {
    padding-right: 40px;
}

.box_man p, .founder_icon, .founder_icon a, .getcall {
    text-align: center;
}

.box_man {
    width: 100%;
    float: left;
}

.box_man p {
    padding-top: 5px;
}

.founder_icon {
    width: 100%;
    float: left;
}

.founder_icon a {
    border: 1px solid #1c8adb;
    transition: .3s;
    border-radius: 50%;
    color: #1c8adb;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
}

.founder_icon a:hover {
    background: #edf4f8;
}

.founder_icon a i {
    font-size: 20px;
}

.getcall {
    padding: 10px 15px;
    background: #1C8ADB;
    color: #fff;
    border: 1px solid #249cf8;
    margin-left: 5px;
    width: 30%;
    margin-top: 30px;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}

.getcall:hover {
    background-color: #1869a5;
}

.submit_center i {
    font-size: 25px;
    position: absolute;
    left: 560px;
    top: 40px;
}

@media screen and (max-width: 1024px) {
    .get_botton i, .submit_center i {
        font-size: 25px;
        position: absolute;
    }

    .get_botton a {
        width: 100%;
        padding: 10px 0;
    }

    .get_botton i {
        right: 10px;
        top: 7px;
    }

    .submit_center i {
        left: 470px;
        top: 40px;
    }

    .onlie_sales img {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .getcall, .onlie_sales img {
        width: 100%;
    }

    .get_botton a {
        width: 100%;
        padding: 10px 0;
        margin-top: 10px;
    }

    .get_botton i {
        font-size: 22px;
        position: absolute;
        right: 10px;
        top: 7px;
    }

    .submit_center i {
        font-size: 25px;
        position: absolute;
        left: 370px;
        top: 38px;
    }

    .start_your h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 640px) {
    .getcall, .onlie_sales img {
        width: 100%;
    }

    .get_botton a {
        width: 100%;
        margin-top: 10px;
    }

    .submit_center i {
        font-size: 25px;
        position: absolute;
        left: 370px;
        top: 40px;
    }

    .start_your h1 {
        font-size: 22px;
    }

    .onlie_sales_man, .onlie_sales_man1 {
        text-align: center;
    }
}

.total_left_menu li.active :first-child a {
    background-color: #515151;
    color: #fff;
    position: relative;
}

.total_left_menu i {
    position: absolute;
    left: 2px;
    top: 0;
    border-right: 1px solid #e4e4e4;
    line-height: 52px;
    width: 39px;
    text-align: center;
}

.jtb_icon h2 {
    color: #FFF;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.start_your h2 {
    font-size: 37px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 15px;
}

.social_login_fb {
    width: 50%;
    background: #4082b5;
    padding: 10px 0px;
    margin-bottom: 15px;
}

.social_login_fb a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.social_login_fb a .f_iconss {
    padding: 11px 18px;
    background: #0065a0;
}

.social_login_fb a .text_ff {
    font-size: 16px;
    color: #fff;
    padding: 0px 5px;
}

.social_login_fb a span i {
    font-size: 14px;
    text-align: center;
}

.social_login_g {
    width: 50%;
    background: #b50202;
    padding: 10px 0px;
}

.social_login_g a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.social_login_g a .f_iconss {
    padding: 11px 13px;
    background: #920303;
}

.social_login_g a .text_ff {
    font-size: 16px;
    color: #fff;
    padding: 0px 5px;
}

.social_login_g a span i {
    font-size: 14px;
    text-align: center;
}

.toy {
    width: 50%;
    float: right;
    margin-top: -121px;
}

.toy img {
    float: right;
}

.submit_b_login {
    margin-top: 59px !important;
}

.social_register_fb {
    width: 100%;
    background: #4082b5;
    padding: 10px 0px;
}

.social_register_fb .f_iconss {
    padding: 12px 18px;
    background: #0065a0;
}

.social_register_fb .f_iconss i {
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.social_register_fb .text_ff input {
    background: #4082b5;
    border: none;
    color: #fff;
    padding: 3px 5px;
}

.social_register_gm {
    width: 100%;
    background: #b50202;
    padding: 10px 0px;
}

.social_register_gm .f_iconss {
    padding: 12px 18px;
    background: #920303;
}

.social_register_gm .f_iconss i {
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.social_register_gm .text_ff input {
    background: #b50202;
    border: none;
    color: #fff;
    padding: 3px 5px;
}
.most_view_btn
{
        /* background: #71af0e; */
    padding: 5px 13px;
    color: #3790c5;
    display: inline-block;
    /* border-radius: 4px; */
    text-decoration: none;
    border: solid 2px #5c95b7;
    transition: 0.3s;
}
.most_view_btn:hover
{
   background: #5c95b7;
  padding: 5px 13px;
    color: #fff;
    display: inline-block;
    /* border-radius: 4px; */
    text-decoration: none;
    border: solid 2px #5c95b7;  
}
.selet_qtnty
{
    width: 100%;
    float: left;
}
.selet_qtnty select
{
    padding: 5px 5px;
    color: #000;
    width: 100%;
    margin-bottom: 10px;
}
.fee_d{width:100%; float:left; position:relative; padding: 30px 0px;}
.form_feed{ width:100%; float:left;}
.hed_feed{line-height: 40px;
    background-color: #F5F5F5;
    margin: 10px 0px 0px;
    border: 1px dashed #CCC;
    padding-left: 15px; width:100%; float:left;}
	.form_de{width:100%; float:left;     border: 1px solid #eaeaea;
    border-top: none;}
	.form-f{ width:100%; float:left; padding: 10px 0px 3px;     border-bottom: 1px dashed #e6e6e6;
    padding-bottom: 8px;}
	
	.form-f-r{width:100%;      padding: 25px 0px;float:left; text-align:center;}
	.form-f-r input[type=submit]{    background: #71af0e;
    color: #fff;
    border: none;
    padding: 8px 50px;
    border-radius: 5px;}


	
	.right_image{ width:100%; float:left;}
	.right_image img{ width:100%; float:left;}
	
.coment_fe{ width:100%; float:left;} 
.heading_frt{ width:100%; float:left; text-align:center; position:relative;}
.heading_frt h1{      font-size: 3rem;
    font-weight: 600;
    color: #004b65;
    border-bottom: 1px solid #ececec;
    padding-bottom: 15px;}


.heading_frt h1::before,
.heading_frt h1::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid black;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}
.first_b{ width:100%; float:left;     max-height: 350px;
    overflow-x: auto;    border: 1px solid #e8e8e8;
    padding: 15px 20px;}
	.first_b h1{ font-size:1.8rem;  margin:0px; position: relative;}
	.first_b h1:before{     width: 41px;
    height: 3px;
    background-color: #345204;
    content: "";
    position: absolute;
    top: 32px;}
	.comment_t{ width:100%; float:left;     padding: 30px 50px;}
	.comment_t span{ float:right; width:100%; text-align:right; font-size:12px;}
	.comment_t p{border-left: 3px solid #71af0e;
    padding-left: 11px;
    line-height: 22px;
    font-size: 12px;   margin-top: 15px;}
	
.se_fe{width: 100%;
    float: left;
    border-bottom: 1px solid #dcdcdc;     margin-bottom: 15px;}
	