
/****font face start ****/
@font-face{
	font-family:ProximaNova;
	src:url(../fonts/proxima-nova-thin.woff?p) format("woff");
	font-weight:100;font-style:normal}
@font-face{
	font-family:ProximaNova;
	src:url(../fonts/proxima-nova-light.woff?p) format("woff");
	font-weight:300;font-style:normal}
@font-face{
	font-family:ProximaNova;
	src:url(../fonts/proxima-nova-regular.woff?p) format("woff");
	font-weight:400;font-style:normal}
@font-face{
	font-family:ProximaNova;
	src:url(../fonts/proxima-nova-semibold.woff?p) format("woff");
	font-weight:600;font-style:normal}
@font-face{
	font-family:ProximaNova;
	src:url(../fonts/proxima-nova-bold.woff?p) format("woff");
	font-weight:700;font-style:normal}
@font-face{
	font-family:ProximaNova;
	src:url(../fonts/proxima-nova-extrabold.woff?p) format("woff");
	font-weight:800;font-style:normal}
@font-face{
	font-family:ProximaNova;
	src:url(../fonts/proxima-nova-black.woff?p) format("woff");
    font-weight:900;font-style:normal
}
/****font face end ****/
body{
	font-family: ProximaNova,Arial,Sans-serif;
    font-weight: 400;
    background-color: #f5f5f5;
	
}
/*** Top link start***/
.wrapper{
	float:left;
	width:100%;
}
.container-fluid {
	    max-width: 1226px;
	    padding-left:0px;
	    padding-right:0px;
}
.white_bg {
	background:#FFF;
}
.top_link{
	background: #000;
}
.top_link_left{
	float:left;
	margin:0px;
	padding:0px;
	list-style-type:none;
	width:100%;

}
.top_link_left li{
	float:left;
    line-height: 40px;
    padding:0px 20px 0px 21px;
    position: relative;
}
.top_link_left li:before{
	    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -6px;
    width: 1px;
    height: 12px;
    background-color: #424242;
}
.top_link_left li:first-child{
	padding-left:0px;
}
.top_link_left li:first-child:before{
	    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -6px;
    width: 1px;
    height: 12px;
    background-color: #424242;
    display: none;
}
.top_link_left li a{
	color:#fff;
	text-transform: uppercase;
	font-size:12px;
	text-decoration: none;
	    color: #b0b0b0;

}
.top_link_left li a:hover{
	text-decoration:none;
	color: #fff;
}
.top_link_right{
	float: right;
	margin:0px;
	padding:0px;
	list-style-type:none;
	width:100%;
}
.top_link_right li{
	float:right;
    line-height: 40px;
    padding:0px 20px 0px 21px;
    position: relative;
}
.top_link_right li:before{
	    content: '';
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -6px;
    width: 1px;
    height: 12px;
    background-color: #424242;
}
.top_link_right li:first-child{
	padding-right:0px;
}
.top_link_right li:first-child:before{
	    content: '';
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -6px;
    width: 1px;
    height: 12px;
    background-color: #424242;
    display: none;
}
.top_link_right li a{
	color:#fff;
	text-transform: uppercase;
	font-size:12px;
	text-decoration: none;
	    color: #b0b0b0;

}
.top_link_right li a:hover{
	text-decoration:none;
	color: #fff;
}
/*** Top link end***/
/******logo row start******/
.logo_row{
	position: absolute;
	top:40px;
	z-index: 9;
	height:65px;
	transition: all .4s ease;
	
}
.show_nav{
	height: 310px;
    background-color: #fff;
    transition: height .4s ease;
    box-shadow: 0 3px 4px rgba(0,0,0,.18);
    overflow:hidden;
}
.logo{
    float: left;
    padding: 13px 11px;
    background: rgba(255,255,255,0.6);
    margin-top: 1px;
}
.navigation{
	float:left;
	width:100%;
}
.navigation ul{
	margin:0px;
	padding:0px;
	display: table;

}
.navigation ul li{
	display: table-cell;
	height: 65px;
    vertical-align: middle;
}
.navigation ul li a{
	    display: block;
    margin: 0px 26px;
    color:#333;
    font-weight:600;
    font-size:14px;
}
.navigation.n_black ul li a{
	    display: block;
    margin: 0px 26px;
    color:#333;
}

.navigation.n_white ul li a{
	    display: block;
    margin: 0px 26px;
    color:#fff;
}
.show_nav .navigation.n_white ul li a{
	color:#333;
}
.navigation ul li a:hover{
	text-decoration: none;
}
.navigation ul li:first-child a{
	margin-left:0px;
}
.navigation ul li:last-child a{
	margin-right:0px;
}
.pos_inherit{
	position: inherit;
}
.product_item_view{
	position: absolute;
    width: 100%;
    height: 242px;
    border-top: 1px solid #eee;
    background: #fff;
    left: 0px;
    top: 65px;
    display: none;
}
.product_item{
	float:left;
	width:200px;
	text-align:center;
	margin:20px 0px;
}
.product_name{
	color: #424242;
    font-size: 16px;
    font-weight:500;
}
.product_image{
	display: block;
    width: 140px;
    margin: 0 auto 10px;

}
.product_price{
	display: block;
    color: #ff6700;
    font-size: 14px;
        padding: 3px 0px;
}
/******logo row end******/
/*** main slider start ***/
.slider{
	background: #333;
	height:550px;
}
.slide {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height:550px;
  background: #ccc;
  overflow:hidden;
}
.slide ul{
	margin:0px;
}
.slide ul li {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  min-width: 1920px;
  min-height: 770px;
  list-style: none;
  left:50%;
  top:50%;
  margin-left:-960px;
  margin-top:-385px;
}

.slide .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  width: 100%;
  z-index: 3;
  text-align: center;
  padding:0px;
}

.slide .dots li {
  display: inline-block;
  margin: 0 6px;
	width: 10px;
	height: 10px;
	border: 2px solid #fff;
	border-radius: 50%;
  opacity: 0.4;
	cursor: pointer;
	transition: background .5s, opacity .5s;
  list-style: none;
}

.slide .dots li.active {
  background: #fff;
	opacity: 1;
}

.slide .arrow {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background .5s, opacity .5s;
}

.slide .arrow .arrow-left,
.slide .arrow .arrow-right {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  width: 40px;
  height: 59px;
  cursor: pointer;
  opacity: 0.5;
  transition: background .5s, opacity .5s;
}

.slide .arrow  .arrow-left:hover,
.slide .arrow  .arrow-right:hover {
  opacity: 1;
}

.slide .arrow .arrow-left {
  left: 50px;
  background: url("../images/arrow-left.png");
}

.slide .arrow .arrow-right {
  right: 50px;
  background: url("../images/arrow-right.png");
}
/*** main slider end ***/
/*** slider_bottom ***/


.slide_bottom {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height:550px;
  background: #ccc;
  overflow:hidden;
}
.slide_bottom ul{
	margin:0px;
}
.slide_bottom ul li {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  min-width: 1920px;
  min-height: 770px;
  list-style: none;
  left:50%;
  top:50%;
  margin-left:-960px;
  margin-top:-385px;
}

.slide_bottom .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  width: 100%;
  z-index: 3;
  text-align: center;
  padding:0px;
}

.slide_bottom .dots li {
    display: inline-block;
    margin: 0 6px;
	width: 10px;
	height: 10px;
	border: 2px solid #fff;
	border-radius: 50%;
    opacity: 0.4;
	cursor: pointer;
	transition: background .5s, opacity .5s;
    list-style: none;
}

.slide_bottom .dots li.active {
  background: #ff6700;
  opacity: 1;
}

.slide_bottom .arrow {
  position: absolute;
 /* z-index: 2;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background .5s, opacity .5s;
}

.slide_bottom .arrow .arrow-left,
.slide_bottom .arrow .arrow-right {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  width: 50px;
  height: 82px;
  cursor: pointer;
  opacity: 0.5;
  transition: background .5s, opacity .5s;
  z-index:3;
}

.slide_bottom .arrow  .arrow-left:hover,
.slide_bottom .arrow  .arrow-right:hover {
  opacity: 1;
}

.slide_bottom .arrow .arrow-left {
  left: 50px;
  background: url("../images/arrow-left_bottom.png");
}

.slide_bottom .arrow .arrow-right {
  right: 50px;
  background: url("../images/arrow-right_bottom.png");
}

.txt_slider {
	width: 760px;
    position: absolute;
    z-index: 999;
    color: #fff;
	font-weight: 300;
	text-align: center;
	top: 320px;
    left: 50%;
    transform: translate(-50%, -50%);
	margin: 0;
}

.title_slider {
	position: relative;
    padding-bottom: 40px;
    font-size: 48px;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
}
.title_slider:after {
    content: '';
    position: absolute;
    width: 70px;
    height: 0;
    bottom: 0;
    left: 50%;
    margin-left: -35px;
    border-top: 2px solid #fff;
}
.descp_slider {
	display: block;
    display: -webkit-box;
    width: 100%;
    margin: 35px auto 12px;
    line-height: 1.875;
    max-height: 120px;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
	font-size:16px;

}
.txt_slider a {
    color: #fff;
    text-decoration: underline;
	font-size:16px;
}
.media-name {
    margin-top: 10px;
	font-size:16px;
}

/*********index page content section start ************/


.ads_banner_section{
	float:left;
	width:100%;
	padding: 16px 0;
}
.ads_banner_section .padding_n{
 padding-left:8px;
 padding-right:8px;
}
.ads_banner{
	float:left;
	width:100%;
	overflow: hidden;
    transition: box-shadow .2s linear;
}
.ads_banner img {
	width:100%;
}

.ads_banner:hover
{
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
}
.text_title{
	float:left;
	width:100%;
	position: relative;
	text-align: center;
	margin: 40px 0px 20px 0px;
}
.text_title:before{
	content: "";
	position: absolute;
	width:80%;
	height:1px;
	background: #ccc;
	left: 10%;
    top: 37px;
    z-index: 8;
}
.text_title h2{
	    background: #f5f5f5;
    padding: 0px 30px;
    z-index: 9;
    position: relative;
    display: inline-block;
        font-size: 30px;
    font-weight: 300;
    color: #616161;
    text-transform: uppercase;
}
.sec_sp{
	float:left;
	width:100%;
	padding:0px 8px;
	margin-top: 10px;
}
.star_pro_item{
	float:left;
	overflow:hidden;
	transition: box-shadow .2s linear;
}
.star_pro_item:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
}
.star_pro_item img{
	width:100%;
}
.star_pro_item:first-child{
	width:50%;
}
.star_pro_item:nth-child(2){
	width:25%;
}
.star_pro_item:nth-child(3){
	width:25%;
}
.star_pro_item:nth-child(4){
	width:50%;
}

.more_section {
	width:100%;
	float:left;
	margin-top:20px;
}

.more_products {
	width:100%;
	float:left;
}
.more_products ul {
	padding:0;
	margin:0;
	
}
.more_products li {
    float: left;
    width: 299px;
    height: 300px;
    margin-bottom: 14px;
    background: #fff;
    transition: all .2s linear;
    text-align: center;
	list-style:none;
	margin-right:14px;
}  

.more_products li:nth-child(3n+0){
	margin-right:0px;
}
.more_products li:hover {
    z-index: 2;
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
}
.more_products li .title {
    font-size: 14px;
    font-weight: 700;
    text-overflow: ellipsis;
}
.more_products li .price {
    margin: 0;
    color: #ff6700;
    font-weight: 700;
    font-size: 14px;
	position:relative;
}
.more_products li .price span {
	margin-left:10px;
	
}
.more_products li .price i {
    margin-top: 5px;
    position: absolute;
}
.more_products li .title a {
    display: block;
    margin: 0 20px 5px;
    width: 256px;
    color: #616161;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	text-decoration:none;
	
}  
.more_products li .thumb {
    display: block;
    width: 200px;
    height: 200px;
    margin: 20px auto;
}
.more_products li .thumb img {
    width: 200px;
    height: 200px;
}

.accessories_list {
	text-align:center;
	width:100%;
	float:left;
}
.accessories_list li {
	list-style:none;
	display: inline-block;
}
.accessories_list li a {
	position: relative;
    float: left;
    margin: 0 25px;
    font-size: 16px;
    color: #757575;
    cursor: pointer;
	text-decoration:none;
}
.gift_active {
    position: relative;
	color:#ff6700 !important;
}
.gift_active:after {
    content: '';
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    height: 1px;
    background: #f23835;
    bottom: -10px;
}
.tab_gift_box {
    width: 100%;
    float: left;
	display: none;
}

.active_gift {
    display: block!important;
}


.phone_add img {
	transition: all .2s linear;
}
.phone_add img:hover {
    z-index: 2;
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
}
.tv_led {
    width: 100%;
    float: left;
    background-color: #fff;
    transition: box-shadow .2s linear;
    transition: all .2s linear;
}
.tv_led:hover {
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
}
.start_reviews {
	width:100%;
	float:left;
}
.tv_pic {
    width: 100%;
    float: left;
}
.tv_pic img {
    width: 100%;
}
.txt {
    width: 100%;
    float: left;
    padding:20px;
}
.txt_review {
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 0 5px;
    margin: 0;
    color: #616161;
}
.txt_review a {
    color: #616161;
	text-decoration:none;
}

.pro_detail {
    color: #616161;
	margin:0;
	
}
.pro_detail a {
    color: #616161;
    text-decoration: none;
    font-weight: 600;
}
.price_tv {
    font-weight: bold;
    color: #ff6700;
    margin-left: 40px;
	position:relative;
}
.price_tv i {
	position:absolute;
	left:-10px;
	top: 3px;
}

.author {
    margin-bottom: 5px;
    color: #b0b0b0;
}
.no_padding {
    padding-left: 8px;
    padding-right: 8px;
}
.video_home {
	width:100%;
	float:left;

}

.videos_adds {
    width: 100%;
    float: left;
}
.videos_adds img {
	width:100%;
}
.videos_adds a {
	display:block;
	position:relative;
	outline:none;
}
.icon-play {
    position:absolute;
    width: 88px;
    height: 88px;
    border-radius: 50%;
	background-color: rgba(255,255,255,.1);
    transition: background .2s linear;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.videos_adds a:hover .icon-play {
	background-color: rgba(255,255,255,.5);
    transition: background .2s linear;
}
.icon-play:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 0 12.5px 15px;
    border-color: transparent transparent transparent #fff;
}
.footer_policies {
	width:100%;
	float:left;
}

.policies_white {
	width:100%;
	float:left;
	padding: 20px 0;
	background-color: #fff;
	margin-bottom:50px;
	margin-top:50px;
}
.service-policy {
    width: 100%;
    float: left;
}
.policy_pic {
    float: left;
	opacity: 0.5;
}
.policy_txt {
    float: left;
    color: #424242;
    font-weight: 600;
	margin-left: 22px;
}
.service-policy:hover .color_gray {
	color:#626262;
}
.service-policy:hover .policy_pic {
	opacity: 0.9;
}
.color_gray {
	color:#999;
}
.pull_right {
	float:right;
	width: initial;
}
.pull_space {
	margin-left:25px;
}

.txt_pop {
	text-align:center;
}

/*********index page content section end ************/


/********* TV ************/

.sub_nav_bg {
	margin-top:65px;
}

.sub_nav {
	width:100%;
	float:left;
	padding:15px 0;
}

.sub_nav h2 {
    float: left;
    margin: 0;
    color: #333;
    font-size: 24px;
}
.sub_title {
	padding:0;
	float:left;
	margin: 6px 0 0 0;
}
.sub_title li {
	list-style:none;
	float:left;
	padding:0 5px
}
.sub_title li a {
    list-style: none;
    text-decoration: none;
    display: block;
    color: #616161;
    float: left;
    font-size: 14px;
	
}

.sub_tv {
	padding:0;
	margin:0;
	
}
.sub_tv li {
	list-style:none;
	float:left;
}
.sub_tv li a {
    list-style: none;
    text-decoration: none;
    display: block;
    color: #616161;
    float: left;
    font-size: 14px;
    padding: 6px 20px 0px 0px;
}

.active-font {
	color:#999 !important;
}

.btn-small {
    width: auto;
	padding: 5px 5px !important;
    color: #fff !important;

}
.btn-orange {
    background: #ff6700;
    border-color: #ff6700;
}

.overall_tv_one {
	width:100%;
	float:left;
	position:relative;
}
.overall_tv_one img {
	width:100%;
}

.title_tv_main {
    position: absolute;
    top: 80px;
}
.sub_title_tv {
    font-size: 40px;
	font-weight: 700;
	color:#FFF;
}

.title_tv {
    font-size: 110px;
    line-height: 120px;
	color:#FFF;
	font-weight: 300;
	
}
.sub_title_tv .red_tv {
    color: #f43244;
	font-weight: 700;
}
.sub_title_tv .small_tv {
    font-size: 20px;
}
.xm-pro-price {
	width:100%;
	float:left;
}

.xm-price {
	font-size: 62px;
    font-weight: 300;
	color: #f43244;
}
.xm-pro-price i {
	color: #f43244;
	font-size:40px;
	margin-right:15px;
}

.videoTv_section {
	width:100%;
	float:left;
	background:#333;
	background-color: #151518;
    padding: 35px 0;
}
.tv_product_title {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
	color:#FFF;
}


.icon_tv_control {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
	background:#fff;
    transition: background .2s linear;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon_tv_control:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22px 0 22px 30px;
    border-color: transparent transparent transparent #28282a;
}

.tv_slider {
	width:100%;
	float:left;
	position:relative;
}
.tv_slider_heading {
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 180px;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 800px;
}
.tv_slider_desc {
    font-size: 30px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;

}
.tv_slider_title {
    font-size: 100px;
    line-height: 140px;
    font-weight: 600;
    color: #fff;

}
.tv_4 {
	width:100%;
	float:left;
	padding: 35px 0;
	background: url("../images/tv/overall-bezelless-bg.jpg") center -100px no-repeat;
    height: 1200px;
	position:relative;
	overflow:hidden;
}

.display_tv {
	margin-top:40px;
	text-align:center;
}
.display_tv p {
	font-size: 30px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
}

.display_tv h1 {
	font-size: 100px;
    line-height: 140px;
    font-weight: 600;
    color: #fff;
}
.image_foxsky_tv {
	width: 100%;
    margin-top: 70px;
    height: 964px;
	position:relative;
}
.image_foxsky_tv img {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-800px);
    -ms-transform: translateX(-800px);
    transform: translateX(-800px);
}

.section_audio {
    width: 100%;
    float: left;
    padding: 35px 0;
    background: url(../images/tv/overall-audio-bg.jpg) center -100px no-repeat;
    height: 1078px;
	background-size: 172%;
}

.section_performance {
    width: 100%;
    float: left;
    padding: 35px 0;
    background: url(../images/tv/overall-performance-bg.jpg) center 0px no-repeat;
    height: 1100px;

}
.ram {
	font-size: .5em;
}
.section-params {
    background:#000;
	padding-bottom: 100px;
}
.img_thumbnail {
    display: block;
    padding: 0px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 0px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.img-thumbnail-no {
	margin-bottom: 0px !important;
}

.block-item {
	width:100%;
	float:left;
	background: rgba(50,50,58,.5);
	text-align:center;
	padding:57px 0;
	min-height:360px;
}
.system-icon {
    margin-bottom: 20px;
}
.block-item p {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
	margin-top: 50px;
}
.wifi {
	margin-top:32px;
}
.blocks1 {
	margin-top:-100px;
}

.section-source {
    width: 100%;
    float: left;
    padding: 35px 0;
    background: url(../images/tv/overall-source-bg.jpg) center 0px no-repeat;
    height: 1450px;
	overflow:hidden;
	position:relative;

}
.person {
    width: 100%;
	float:left;
}

.person img {
   position: absolute;
   bottom: 0px;
   left: 50%;
   -webkit-transform: translateX(50%);
   -ms-transform: translateX(50%);
   transform: translateX(-50%);
   width: 152%;
}
.section-cup {
	height: auto;
    background: #0e0e10;
}
.overall-cup-img {
	width:100%;
	float:left;

}
.overall-cup-img img {
	width:100%;
	display:block;
}
.cplive {
    position: absolute;
    left: 50%;
    top: 270px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 700px;
	text-align:center;
}
.cplive .more-title {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
}

.cplive .desc {
    font-size: 30px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
}
.cplive .tip {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 20px;
    color: #fff;
	opacity: 0.5;
}

.section-system-1 {
    background: #0e0e10;
    height: auto;
	padding:120px 0;
}
.block_section {
	text-align:center;
}

.text_recommeds {
	width:100%;
	float:left;
    line-height: 50px;
	font-size: 30px;
    font-weight: 600;
    color: #fff;
	background: rgba(50,50,58,.5);
	padding:80px 0 80px 0;
}
.s2 {
    height: 300px;
}
.section-system-2 {
    background: #1d1d21;
    height: auto;
	padding:120px 0;
}
.text_recommeds.s2 .tip {
	font-size:13px;
	color:#757575;
}
.height-auto {
	height:auto;
}
.slider_none {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0px 0px rgba(0,0,0,.0) ;
	filter: alpha(opacity=0);
	background-color:none;
	opacity: .9;
}
slider_none:hover {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=0);
    outline: 0;
    opacity: .0;
}
.arrow-prev {
    position: absolute;
    top: 50%;
	left:30px;
}
.arrow-next {
    position: absolute;
    top: 50%;
	right:30px;
}
.section-service {
    background: url(../images/tv/overall-service-bg.jpg) center no-repeat;
    height: 850px;
	position: relative;
    overflow: hidden;
    text-align: center;
	background-size:cover;
}
.section-title {
	margin-top:100px;
	
}
.section-title h1 {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
	line-height:80px;
}

.section-revolution {
    background: url(../images/tv/section-revolution-bg.jpg) center no-repeat;
    height: 1300px;
	position: relative;
    overflow: hidden;
    text-align: center;
}
.items {
	padding:0;
	margin:0;
	width:100%;
	float:left;
	text-align:left;
	margin-top:75px;
}
.items li  {
    margin-bottom: 40px;
    max-width: 590px;
    background: #26292d;
	display:inline-block;
	list-style:none;
	display:inline-block;

}
.items li:nth-child(odd) {
    margin-right: 40px;
}
.items li img {
    width: 200px;
    height: 150px;
    display: block;
	float:left;
}

.items li p {
    max-width: 390px;
    box-sizing: border-box;
    padding: 35px 35px 0px 35px;
    text-align: left;
    color: #cfcfcf;
    font-size: 16px;
    float: left;
}
.section-see {
    background: url(../images/tv/see-bg.jpg) center no-repeat;
    height: 300px;
	position: relative;
    overflow: hidden;
}
.see_more {
    text-align: right;
    text-decoration: none;
    font-size: 30px;
    color: #FFF;
    float: right;
    margin-top: 130px;
    margin-right: 100px;
	font-weight:600;
}
.see_more:hover {
	 color: #FFF;
	 text-decoration: none;
}
.see_more:focus {
	 color: #FFF;
	 text-decoration: none;
}

.logo-slider {
	width:100%;
	float:left;
	padding:100px 0;
	background: #000;
}
.tip-logo {
	width:100%;
	float:left;
	text-align:center;
	margin-top:60px;
	font-size:16px;
	color: #717171;
}

/********* R ************/

.asses_content_box {
    float: left;
    width: 100%;
}
.asses_title {
    float: left;
    width: 100%;
    text-align: center;
    margin: 90px auto 35px;
    font-size: 44px;
    line-height: 1.2;
    font-weight: 300;
}
.asses_dec {
    font-size: 18px;
    float: left;
    width: 100%;
    text-align: center;
    padding: 0;
    font-weight: 300;
}
.asses_img {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.asses_img img {
    width: 100%;
}


/*********space page css start**********/
.sp_box_1 {
    padding: 100px 0px 60px;
    border-bottom: 1px solid #e0e0e0;
}

.sp_box_2 {
    padding: 64px 0px;
    border-bottom: 1px solid #e0e0e0;
}

.product_dbox {
    float: left;
    width: 100%;
}

    .product_dbox .pro_image {
        float: left;
        width: 100%;
    }

        .product_dbox .pro_image img {
            max-width: 100%;
        }

.pro_text_box {
    float: left;
    width: 100%;
}

    .pro_text_box .pro_title {
        font-size: 36px;
        font-weight: 700;
        line-height: 60px;
    }

    .pro_text_box .pro_list {
        float: left;
        width: 100%;
    }

        .pro_text_box .pro_list ul {
            float: left;
            width: 100%;
            margin: 0px;
            margin-top: 20px;
            padding: 0px;
            list-style-type: none;
        }

            .pro_text_box .pro_list ul li {
                width: 100%;
                font-size: 22px;
                color: #000;
                line-height: 52px;
                font-weight: 300;
            }

.l_section {
    float: left;
    width: 25%;
}

.type_name {
    float: left;
    width: 308px;
    line-height: 1;
    font-size: 28px;
    color: #212121;
    font-weight: 300;
}

.R_section {
    float: left;
    width: 75%;
}

.sub_title_text {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    line-height: 40px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.img_margin {
    margin: 0 0 20px -80px;
}

.margin_t_20 {
    margin-top: 20px;
}

.w_60 {
    width: 60%;
    float: left;
}

.w_40 {
    width: 40%;
    float: left;
}

.w_34 {
    width: 34%;
    float: left;
}

.w_50 {
    width: 50%;
    float: left;
}

.w_100 {
    width: 100%;
    float: left;
}

.text_section {
    float: left;
    width: 100%;
}

    .text_section p {
        color: #333;
        opacity: .8;
        line-height: 40px;
        font-weight: 300;
        font-size: 16px;
    }

.th_0 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
}

.sec_ul {
    color: #333;
    line-height: 35px;
    font-weight: 300;
    font-size: 16px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

    .sec_ul li {
        float: left;
        width: 35%;
    }

.border_no {
    border: none;
}

.asses_content_box {
    float: left;
    width: 100%;
}

.asses_title {
    float: left;
    width: 100%;
    text-align: center;
    margin: 90px auto 35px;
    font-size: 44px;
    line-height: 1.2;
    font-weight: 300;
}

.asses_dec {
    font-size: 18px;
    float: left;
    width: 100%;
    text-align: center;
    padding: 0;
    font-weight: 300;
}

.asses_img {
    float: left;
    width: 100%;
    margin-top: 30px;
}

    .asses_img img {
        width: 100%;
    }
/*********space page css end**********/


/*********review page css start**********/
.review_box {
    float: left;
    width: 100%;
    padding: 10px 40px;
}

.review_left_block {
    float: left;
}

.rating_view {
    float: left;
    font-size: 40px;
    color: #ff6700;
    line-height: 70px;
    font-weight: 400;
}

.rating_empty_star {
    position: relative;
    width: 80px;
    height: 14px;
    background: url(../images/tv/empty_star.png);
    float: left;
}

.rating_fill_star {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 14px;
    background: url(../images/tv/fill_star.png);
    float: left;
}

.rating_star_view {
    float: left;
}

.star_padding {
    padding: 27px 0px 0px 19px;
}

.rating_text {
    float: left;
    font-size: 12px;
    padding: 28px 0px 0px 19px;
}

    .rating_text b {
        color: #b0b0b0;
        font-weight: 400;
    }

.all_review {
    float: right;
    font-size: 18px;
    color: #424242;
    font-weight: 400;
    font-style: normal;
    list-style-type: none;
    margin-top: 23px;
}
.all_review:hover {
	text-decoration:none;
	color:#424242;
}
.all_review:focus {
	text-decoration:none;
	color:#424242;
}


.sort_by_review_tab_head {
    float: left;
    width: 100%;
    margin-top: 60px;
}

.sort_text {
    float: left;
    color: #7e7e7e;
	font-size: 16px;
    font-weight: 700;
    margin-right: 35px;
}

.sort_by_link {
    float: left;
    width: 50%;
}

.sort_link {
    float: left;
    font-size: 16px;
    font-weight: 700;
    color: #444;
    margin: 0px 18px;
    position:relative;
}
.sort_link::after{
  position: absolute;
    content: "";
    width: 1px;
    height: 10px;
    background: #9a9797;
    top: 7px;
    right: -18px;
}
.sort_link:last-child::after{
    display:none;
}

.sort_by_tabcontent {
    float: left;
    width: 100%;
}

.sort_review_box {
    float: left;
    width: 100%;
}

.review_box_left {
    float: left;
    width: 70%;
    padding: 35px 50px;
    position:relative;
}
.review_box_left::after{
    position:absolute;
    content:"";
    width:1px;
    height:calc(100% - 70px);
    background:#eaeaea;
    right:0px;
    top:35px;
}

.review_box_right {
    float: left;
    width: 30%;
    padding: 35px 50px;
}

.review_date {
    float: right;
    opacity: 0.5;
}

.review_title {
    margin-top: 10px;
    float: left;
    width: 100%;
}

    .review_title a {
        color: #757575;
        font-size: 22px;
        line-height: 30px;
        text-align: left;
        text-decoration: none;
    }
    .review_status{
        float:left;
        width:100%;
            font-size: 14px;
    color: #b0b0b0;
    line-height: 20px;
    font-weight:400;
    }
    .review_content{
        float:left;
        width:100%;
        margin-top: 10px;
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    overflow: hidden;
    }
    .review_imgs{
        float:left;
        width:100%;
        padding-top:15px;
    }
    .review_img{
        float:left;
        width:90px;
        height:90px;
        overflow:hidden;
        margin-right:10px;
        margin-bottom:10px;
    }
    .review_share_like{
        float:left;
        width:100%;
        margin-top: 30px;
    }
    .share_to{
        float:left;
        margin-right:15px;
        font-size:14px;
        opacity:0.8;
    }
    .review_share_like a {
        float:left;
        margin-right:14px;
        color:#c4c4c4;
		text-decoration:none;
    }
    .review_share_like a i{
        font-size:22px;
    }
    .review_like{
        float:right!important;
    }
    .reply_box{
        float:left;
        width:100%;
        margin-top:15px;
    }
    .reply_box .reply_input{
      float: left;
    width: calc(100% - 80px);
    border: solid 1px #e4e4e4;
    border-right: none;
    padding: 12px 17px;
    outline:none;
    }
   .reply_box .reply_btn{
       background:none;
        border: solid 1px #e4e4e4;
        width:80px;
        padding: 12px 0px;
        outline:none;
    }
   .review_user_detail{
       float:left;
       width:100%;
       position:relative;
       padding-left:80px;
      height: 80px;
    border-bottom: solid 1px #ececec;
   }
   .review_user_detail .user_img{
       position:absolute;
       width:60px;
       height:60px;
       overflow:hidden;
       border-radius:90%;
       -moz-border-radius:90%;
       -o-border-radius:90%;
       -webkit-border-radius:90%;
       left:0px;
       top:0px;
   }
   .review_user_detail .user_img img{
       max-width:60px;
       max-height:60px;
   }
   .review_user_detail .user_name{
           font-size: 18px;
    color: #424242;
    margin: 0;
    padding: 6px 0px 0px 0px;
    font-weight: 400;  
   }
   .review_user_other_d{
       float:left;
       width:100%;

   }
   .review_user_other_d ul{
       float:left;
       width:100%;
       list-style-type:none;
       margin:0px;
       padding:0px;
   }
    .review_user_other_d ul li{
        float:left;
        width:100%;
        border-bottom: solid 1px #ececec;
        padding:16px 0px;

    }
.review_user_other_d ul li .left_title{
        float:left;
        width:40%;
        font-size: 14px;
    color: #b0b0b0;
    }
.review_user_other_d ul li .right_text{
        float:left;
        width:60%;
        font-size: 14px;
        color: #424242;
       line-height: 22px;
    }
/*********review page css end**********/





/*********Accessories ************/

.breadcrumbs {
	padding:11px 0;
}
.breadcrumbs a {
	text-decoration:none;
	color:#a0a0a0;
	font-size:14px;
	transition: 0.3s;
}
.breadcrumbs a:hover {
	color:#ff6700;
	transition: 0.3s;
}
.right-arrow-small {
    max-width: 9px;
    padding: 0 0px;
    margin: 0 15px 0 15px;
}
.category {
    background: #fff;
}
.product-list-bg {
	margin-top:20px;
}

.goods-list {
	width:100%;
	float:left;
}
.goods-item {
    width: 100%;
    float: left;
    height: 440px;
    background: #FFF;
    text-align: center;
    position: relative;
    transition: box-shadow .5s linear;
    padding-top: 55px;
	margin-bottom:16px;
}
.goods-item:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.actions-cart {
	position:absolute;
	top:25px;
	text-align:center;
	width:100%;
	opacity:0;
	transition: opacity .2s linear;
}
.actions-cart a {
	 color: #424242;
	 font-weight:600;
	 display:block;
	 text-decoration:none;
}
   
.goods-item:hover .actions-cart{
	display:block;
	opacity:0.9;
	transition: opacity .2s linear;
}
.goods-item .figure-img a {
    display: block;
}

.goods-item .figure-img {
    width: 200px;
    height: 200px;
    margin: 0 auto 16px;
}
.goods-item .figure-img img {
    width: 200px;
    height: 200px;
}
.goods-item .title {
    display: table;
    height: 3em;
    width: 100%;
    margin: 0 0 3px;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}
.goods-item .title a {
    display: table-cell;
    vertical-align: middle;
    color: #424242;
}
.goods-item .title a:hover {
	text-decoration:none;
}
.goods-item .title a:focus {
	text-decoration:none;
}
.goods-item .price {
    margin: 0 0 15px;
    color: #ff6700;
}
.goods-item .price i {
	margin-right:5px
}
.goods-item .price del {
    margin-left: 10px;
    color: #b0b0b0;
}
.goods-item .thumb-list {
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    transition: border-color .2s linear;
}
.goods-item .thumb-list a {
	display:block;
}
.goods-item .thumb-list:hover {
	    border-color: #ff6700;
}
.goods-item .thumb-list img {
    width: 34px;
    height: 34px;
}
.flags {
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 1;
    width: 100%;
    max-height: 20px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
}
.flags .flags-list {
    display: inline-block;
}
.flags .flag-saleoff {
    background-color: #f23835;
}
.flags .flag {
    float: left;
    width: 150px;
    padding: 1px 0;
    color: #fff;
}
.cart-margin {
	margin-right:3px;
}
.filter-list-wrap {
	width:99.5%;
	float:left;
	box-sizing: border-box;
    height: 100%;
}
.filter-list-dt {
	width:100%;
	float:left;
}
.filter-list-dt h1 {
	margin:0;
	padding:0;
	box-sizing:border-box;
    text-transform: uppercase;
    color: #b0b0b0;
	font-size:14px;
	float:left;
	width:100px;
}
.filter-list-dt h2 {
	margin:0;
	margin:0;
	box-sizing:border-box;
	font-size:14px;
	color:#ff6700;
	float:left;
	
}

.filter-list {
    margin: 0;
    float: right;
    margin:0 0 0 60px;
    padding: 0;
}
.filter-list li {
    list-style: none;
    float: left;
    width: 250px;
    padding-bottom: 15px;
}

.filter-list li:nth-child(4n+0){
	 width: auto;
}

.filter-list li a {
	display:block;
	color:#333;
	text-decoration:none;
}
.filter-list li a:hover {
	color:#ff6700;
}
.arrow-down-filter {
    float: right;
    cursor: pointer;
    color: #b0b0b0;
    font-size: 14px;
}
.height-filter {
    max-height: 35px;
    overflow: hidden;
	
}
.filter-margin {
	padding-top:15px;
	border-top: 1px solid #e0e0e0;
}



.filter-active {
	max-height: 2000px;
	height:auto;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.filter-active-b {
	max-height: 2000px;
	height:auto;

}

.click-b {
    float: right;
    cursor: pointer;
    color: #b0b0b0;
    font-size: 14px;
}

.filter-box-main {
	padding: 30px 0;
	width:100%;
	float:left;
}

.order-list-box {
	width:100%;
	float:left;
	margin: 20px 0;
}
.order-list {
	width:100%;
	float:left;
	
}
.order-list-range {
	padding:0;
	margin:0;
}
.order-list-range li {
    list-style-type: none;
    float: left;
    padding: 0px 30px 0 30px;
    border-right: solid 1px #e0e0e0;
    line-height: 20px;
}
.order-list-range li:first-child {
	 padding: 0px 20px 0 0px;
}
.order-list-range li:last-child {
	border-right: solid 0px #e0e0e0;
	padding: 0px 0px 0 30px;
}
.order-list-range li a {
	text-decoration:none;
	text-transform:uppercase;
	color:#333;
	font-weight:600;
	-webkit-transition: 0.3s ease;
  	-moz-transition: 0.3s ease;
  	-o-transition: 0.3s ease;
  	transition: 0.3s ease;
}
.order-list-range li a span {
	margin-left:10px;
}
.order-list-range li a:hover {
 	color: #ff6700;
	-webkit-transition: 0.3s ease;
  	-moz-transition: 0.3s ease;
  	-o-transition: 0.3s ease;
  	transition: 0.3s ease;
}
.active-orage {
	color: #ff6700 !important;
}

.type-list {
	float:right;
}
.view-products {
	float:left;
}
.view-products i {
	color:#999;
	margin-left:3px;
}

.checkbox-stock {
    position: relative;
    padding-left: 30px;
	margin-left:25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #5c5c5c;
    font-weight: 600;
	text-transform:uppercase;
	-webkit-transition: 0.3s ease;
  	-moz-transition: 0.3s ease;
  	-o-transition: 0.3s ease;
  	transition: 0.3s ease;
}
.checkbox-stock:hover {
	color: #ff6700;
	-webkit-transition: 0.3s ease;
  	-moz-transition: 0.3s ease;
  	-o-transition: 0.3s ease;
  	transition: 0.3s ease;
}

/* Hide the browser's default checkbox */
.checkbox-stock input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #fff;
	border: 1px solid #e0e0e0;
}

/* On mouse-over, add a grey background color 
.redio-f:hover input ~ .checkmark {
    background-color: #ccc;
}
*/

.checkbox-stock input:checked ~ .checkmark-1 {
    background-color: #ff6700;
	border: 1px solid #ff6700;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-1:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-stock input:checked ~ .checkmark-1:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-stock .checkmark-1:after {
    left: 7px;
    top: 1px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.pagination-main {
	width:100%;
	float:left;
	margin-top:25px;
	margin-bottom:50px
}
.pagination-list {
	padding:0;
	margin:0;
	text-align:center;
}
.pagination-list li {
	display: inline-block;
	float:none;
}
.pagination-list li a {
    padding: 5px 20px;
    font-size: 18px;
	margin:0 2px;
    color: #929292;
    font-weight: 200;
	-webkit-transition: 0.3s ease;
  	-moz-transition: 0.3s ease;
  	-o-transition: 0.3s ease;
  	transition: 0.3s ease;
	text-decoration:none;
	position:relative;
	
}
.arrow-paginatin-left {
	width:24px;
	height:24px;
	background: url(../images/left-arrow.png) no-repeat;
	position:absolute;
	left: 7px;
	-webkit-transition: 0.3s ease;
  	-moz-transition: 0.3s ease;
  	-o-transition: 0.3s ease;
  	transition: 0.3s ease;
	text-decoration:none;
}
.arrow-paginatin-left:hover {
	width:24px;
	height:24px;
	background: url(../images/left-arrow-white.png) no-repeat;
	position:absolute;
	left: 7px;
	
}
.arrow-paginatin-right {
	width:24px;
	height:24px;
	background: url(../images/right-arrow.png) no-repeat;
	position:absolute;
	left: 10px;	
}
.arrow-paginatin-right:hover {
	width:24px;
	height:24px;
	background: url(../images/right-arrow-white.png) no-repeat;
	position:absolute;
	left: 10px;	
}

.pagination-list li a:hover {
	background:#999;
	-webkit-transition: 0.3s ease;
  	-moz-transition: 0.3s ease;
  	-o-transition: 0.3s ease;
  	transition: 0.3s ease;
	color:#FFF;
	text-decoration:none;
}
.active-gray {
    background-color: #757575 !important;
    color: #fff !important;
}

/********* SIGN In  & Sing Up************/

.layout_sign-in {
	width:850px;
	background:#FFF;
	margin:auto;
	padding-bottom:70px;
	display:table;
}
.lgnheader{
	width:100%;
	float:left;
	text-align:center;
	padding-top:50px;
}
.lgnheader-logo {
}
.header_tit_txt {
    font-size: 31px;
    color: #424242;
	font-weight: 600;
    padding-top: 22px;
}
.tabs-login {
	display: block;
	margin-top:40px;
}
.login_area {
	width:370px;
	margin:auto;
}
.login-input {
	border-radius: 0px;
	box-shadow:none;
	border:solid 1px #e4e4e4;
	width:100%;
	padding: 13px 16px 13px 14px;
	outline:none;
}

.btns_bg {
    padding-top: 10px;
}
.btnadpt {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block;
    margin-bottom: 14px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
	border:none;
	outline:none;
}
.btn_orange {
    background-color: #ef5b00;
	transition: all .4s ease;
	

}
.btn_orangeH:hover {
	background:#ff873e;
	transition: all .4s ease;

}
.facebool-login {
	width:100%;
	float:left;
}
.btn_facebook {
    background-color: #3a5897;
}
.facebool-login a {
	outline:none;
	text-decoration:none;
}
.facebool-login a:hover {
	outline:none;
	text-decoration:none;
	color: #fff;
}
.facebool-login a:focus {
	outline:none;
	text-decoration:none;
	color: #fff;
}
.facebook-icon {
	margin-right:10px;
}
.forgot-pwd {
    width: 100%;
    float: left;
    text-align: right;
}
.forgot-pwd a {
    color: #757575;
    text-decoration: none;
    font-size: 15px;
    margin-left: 5px;
}
.forgot-pwd a:hover {
	color:#ff6700;
}
.policy-area {
	width:100%;
	float:left;
	text-align:center;
	margin-top:20px;
}
.policy-select-list {
	padding:0;
	margin:0;
	text-align:center;
}
.policy-select-list li {
    list-style: none;
    display: inline-block;
}
.policy-select-list a {
	display:block;
	margin:0 5px;
	color:#757575;
	font-size:14px;
}
.policy-select-list a:hover {
	color:#000;
	text-decoration:none;
}
.reserved-intro {
	margin-top:7px;
	margin-bottom:25px;
}
.btn_reg_1 {
    background-color: #fff;
	border: 1px solid #ddd;
    color: #7c7c7c;
}
.btn_reg_1:hover {
	color: #333 !important;
}
.btn_reg_1:focus {
	color: #333 !important;
}
.form-txt {
    width: 100%;
    float: left;
    text-align: left;
    color: #6b6a6a;
    font-weight: normal;
}
.privacy_box {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 40px 100px 40px 100px;
	text-align:center;
}
.redio-f a {
	color:#333;
	font-weight:600;
}
.redio-f a:hover {
	color:#333;
	text-decoration:none;
	font-weight:600;
}
.redio-f a:focus {
	color:#333;
	text-decoration:none;
	font-weight:600;
}

.redio-f {
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #7b7b7b;
    font-weight: normal;
}
/* Hide the browser's default checkbox */
.redio-f input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
	border-radius:50%;
}

/* On mouse-over, add a grey background color 
.redio-f:hover input ~ .checkmark {
    background-color: #ccc;
}
*/

/* When the checkbox is checked, add a blue background */
.redio-f input:checked ~ .checkmark {
    background-color: #ff6700;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.redio-f input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.redio-f .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.sign-up {
	padding-bottom:0;
}
.select-regions {
	width:100%;
	float:left;
}
.phone-space-bottom {
	margin-bottom:5px;
}

.select-contry {
    width: 100% !important;
	-webkit-appearance: none;
}
.select-regions .btn {
    display: inline-block;
    padding: 13px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #e4e4e4;
    border-radius: 0px;
	outline:none
}
.select-regions .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
	box-shadow:none;
	outline:none;
}
.select-regions .btn-default:hover {
    color: #333;
    background-color: #ffffff;
     border: 1px solid #e4e4e4;
	outline:none;
}

.select-regions .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
	box-shadow:none;
	outline: none;
}
.select-regions .bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted #fff!important;
    outline: 0px auto -webkit-focus-ring-color!important;
    outline-offset: 0px;
}
.select-regions .btn-default.focus, .btn-default:focus {
    color: #333;
    background-color: #ffffff;
    border-color: #8c8c8c;
}

.select-regions .btn-default.focus, .btn-default:focus {
    color: #333;
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
}
.select-regions .bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 2px;
    right: 0px;
    vertical-align: middle;
    border-left: solid 1px #e4e4e4;
    height: 46px;
}
.select-regions .caret {
    display: inline-block;
    width: 60px;
    vertical-align: middle;
    border-top: 0px dashed;
    border-top: 0px solid\9;
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
	background: url(../images/time.jpg) center 15px no-repeat;
}

.selecty-number-all .bootstrap-select.btn-group .dropdown-toggle .caret {
    height: 0px;
}

.selecty-number-all .bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    right: 7px;
    vertical-align: middle;
    border-left: solid 0px #e4e4e4;
	top:23px;

}
.selecty-number-all .caret {
      display: inline-block;
	  width: 0; 
	  height: 0; 
	  border-left: 5px solid transparent !important;
	  border-right: 5px solid transparent;
	  background: url(../images/time.jpg) center 15px no-repeat;
	  background:none;
	  border-top: 5px solid #cfcfcf;	  
}

.phone_step1 {
	width:100%;
	float:left;
	
}
.region_tip_text {
	width:100%;
	float:left;
	margin-bottom:15px;
	text-align: left;
}
.number-country {
	width:80px;
	height:48px;
	float:left;
}
.number-fild {
    width: 290px;
    float: right;
}
.form-box {
	width:100%;
	float:left;
}

.capt-code {
	width:240px;
	float:left;
}
.capt-img {
	width:auto;
	float:right;
	height:47px;
}
.border-right-none {
	border-left: solid 0px #e4e4e4;
}
.re-password {
	width:100%;
	float:left;
}
.pass-heading {
	width:100%;
	float:left;
	padding:0;
	margin:0;
	text-align:left;
	margin-bottom:15px;
	font-weight:600;
	font-size:16px;
}
.email-account {
	width:100%;
	float:left;
}
.phone-remove {
	display:none !important;
}

.opt-box {
	width:100%;
	float:left;
	text-align:left;
}
.step2_txt {
	width:100%;
	float:left;
	margin-bottom:15px;
}
.step2_txt p {
	padding:0;
	margin:0;
}
.send-status a {
    display: block;
    width: 120px;
    text-align: center;
    height: 47px;
    line-height: 47px;
    color: #464646;
	border: solid 1px #e4e4e4;
	text-decoration:none;
	transition:0.3s;
}
.send-status a:hover {
	color: #464646;
	text-decoration:none;
	background:#e8e8e8;
}

.send-status a:focus {
	color: #464646;
	text-decoration:none;
	transition:0.3s;
}

/********* Power Bank  ************/

.power-bank li a {
    font-size: 12px;
	color:#a6a6a6;
}
.power-bank li a:hover {
	color:#ff6700;
}
.power-bank-section-a {
   width: 100%;
    float: left;
    background: url(../images/power-bank/power-baner-bg1.png) center top no-repeat;
    height: 1050px;
	position:relative;	
}

.power-title-h1 {
    font-size: 80px;
    font-weight: 200;
    margin:0 0 15px 0;
	padding:0;
	}
.title-small {
    font-size: 20px;
    margin-left: 10px;
}
.power-title-h2 {
	font-size: 30px;
    margin:0 0 10px 0;
	padding:0;
}
.power-title-h2 span {
    font-size: 22px;
    line-height: 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: -6px;
    margin-left: 5px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    border-radius: 5px;
    background-color: #35aadb;
}
.power-keyword {
	font-size: 18px;
    color: rgba(0,0,0,.5);
}
.power-keyword span {
    padding: 0 10px;
    font-style: normal;
}
.power-keyword span {
	padding:0 10px;
	font-style: normal;
}
.power-price {
	width:100%;
	float:left;
	margin-top: 70px;
}
.power-price i {
    color: #32a0d3;
    font-size: 40px;
    margin-right: 15px;
}
.power-price span {
    font-size: 50px;
    font-weight: 400;
    color: #32a0d3;  
}
.power-txt-main {
	width:100%;
	float:left;
	margin-top:300px;
	box-sizing:border-box;
}

.power-bank-section-b {
   width: 100%;
    float: left;
    padding: 90px 0;
	background:#FFF;
}
.made-in-india {
	width:100%;
	float:left;
}
.india-pic-txt {
	width:100%;
	float:left;
}
.india-pic-txt p {
	margin:0;
	padding:0;
	font-size:20px;
	color:#717171;	
}
.indin-pic {
	width:100%;
	float:left;
}

.power-bank-section-c {
	width:100%;
	float:left;
}
.battery-img-main {
    width: 100%;
    float: left;
}

.battery-list-pic {
	width:100%;
	float:left;
	overflow:hidden;
	
}
.battery-list-pic img {
	transition: transform 2s; 
    width: 100%;
}
.battery-list-pic img:hover {
 	-ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);	
}
.power-bank-section-d {
   width: 100%;
    float: left;
    padding: 150px 0;
	background:#4e5564;
}
.battery-img-main-d {
	width:100%;
	float:left;
}
.battery-d-pic {
	width:100%;
	float:left;
	overflow:hidden;
}
.battery-d-pic img {
	width:100%;
	transition: -webkit-transform 1s ease-out;
    transition: transform 1s ease-out;
    transition: transform 1s ease-out,-webkit-transform 1s ease-out;
    -webkit-transform: translateX(-80px);
    -ms-transform: translateX(-80px);
    transform: translateX(-80px);
}
.battery-d-pic img:hover {
	-webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    
}
.battery-travel-text {
	color:#FFF;
	margin-left:70px;
}
.battery-travel-text .battery-title-h3 {
	font-size: 36px
}
.battery-travel-text .power-keyword {
	font-size: 18px;
	color:#FFF;
}
.battery-travel-text .power-keyword span {
    padding: 0 10px;
    font-style: normal;
}

/* E */

.power-bank-section-e {
	width:100%;
	float:left;
	background:#c8bfc1;
}
.battery-img-main-e {
	width:100%;
	float:left;
}
.text-position-e {
	margin: 150px 100px 0 60px;
}
.pic-info-title-e {
	 font-size: 36px;
	 color:#757575;
}
.pic-info-content-e {
	font-size: 16px;
	 color:#757575;
}
.battery-pic-e {
	width:100%;
	float:left;
	overflow:hidden;
}
.battery-pic-e img {
	width:100%;
	transition: transform 2s;
}
.battery-pic-e img:hover {
	-ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* F */

.power-bank-section-f {
	width:100%;
	float:left;
	background:#fff;
}
.battery-img-main-f {
	width:100%;
	float:left;
}
.text-position-f {
	margin: 150px 100px 0 60px;
}
.pic-info-title-f {
	 font-size: 36px;
	 color:#757575;
}
.pic-sub-title-e {
	font-size: 24px;
	color:#757575;
	margin-bottom:5px;
}
.pic-info-content-f {
	font-size: 16px;
	 color:#757575;
}
.battery-pic-f {
	width:100%;
	float:left;
	overflow:hidden;
}
.battery-pic-f img {
	width:100%;
	transition: transform 2s;
}

.battery-pic-f img:hover {
	-ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* G */

.power-bank-section-g {
	width:100%;
	float:left;
	background:#fff;
}
.battery-img-main-g {
	width:100%;
	float:left;
}
.text-position-g {
	margin: 150px 100px 0 60px;
}
.pic-info-title-g {
	 font-size: 36px;
	 color:#757575;
}
.pic-sub-title-g {
	font-size: 24px;
	color:#757575;
	margin-bottom:5px;
}
.pic-info-content-g {
	font-size: 16px;
	 color:#757575;
	 line-height:23px;
}
.battery-pic-g {
	width:100%;
	float:left;
	overflow:hidden;
}
.battery-pic-g img {
	width:100%;
	transition: transform 2s;
}

.battery-pic-g img:hover {
	-ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* end */

.power-bank-section-h {
    width: 100%;
    float: left;
    background: url(../images/power-bank/handfeel.jpg) center top no-repeat;
    height: 1050px;
	position:relative;
}
.text-position-h {
	width:100%;
	float:left;
	margin-top:400px;
}

.power-bank-section-j {
    width: 100%;
    float: left;
	background:#FFF;
	padding: 110px 0 130px 0;
}

.power-bank-section-j-bg {
    width: 100%;
    float: left;
	background: #fff url(../images/power-bank/efficientlight.png) center bottom no-repeat;
    height: 444px;
	position:relative;
}

.text-position-j {
	width:100%;
	float:left;
	text-align:center;
	
}
.icon-position-j {
	padding:0;
	margin:60px 0 0 0;
	text-align:center;
	width:100%;
	float:left;
}
.icon-position-j li {
	display:inline-block;
	margin-right:50px;
}
.icon-position-j li:last-child {
	margin-right:0px;
}

.power-bank-section-i {
	width:100%;
	float:left;
	background:#639ab9;
	padding:90px 0 40px 0;
	color:#fff;
}
	
.pic-info-title-i {
	 font-size: 25px;
	 font-weight: 600;
	 margin-bottom:10px;
}

.pic-info-content-i {
	font-size: 14px;
	color:#d0dfe8;
}
.charging-pic-i {
	width:100%;
	float:left;
	text-align:center;
	padding:50px 100px;
}
.charging-img {
	width:100%;
	float:left;
	line-height:170px;
	
}
.charging-txt {
	width:100%;
	float:left;
}
.charging-txt span {
	display: block;
    font-size: 24px;
}

.charging-txt strong {
	display: block;
    font-size: 90px;
	font-weight: 400;
}
.charging-txt strong small {
	font-size: 28px;
    font-weight: 700;
}

.power-bank-section-k {
    width: 100%;
    float: left;
	background: url(../images/power-bank/nineplaybg.png) center top no-repeat;
    height: 750px;
	position:relative;
}

.text-position-k {
	width:100%;
	float:left;
	text-align:center;
	margin-top:70px;
}
.text-position-k h2 {
	color: #fff;
}
.text-position-k p {
	color: #ccc
}
.battery2-list {
	padding:0;
	margin:50px 0 0 0;
	width:100%;
	float:left;
	text-align:center;
}
.battery2-list li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
	vertical-align: top;
	margin-bottom:80px;
}
.battery2-list li:nth-child(3n+0){
	margin-right:0px;
}
.battery2-list li .world-pic {
	width:70px;
	float:left;
	display:block;
}
.battery2-list li .txt-containt {
    width: 250px;
    float: right;
    color: #FFF;
    text-align: left;
}
.battery2-list li .txt-containt strong {
	font-size: 18px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}
.battery2-list li .txt-containt p {
	font-size: 12px;
    color: #ccc;
}
.power-bank-section-L {
	width: 100%;
    float: left;
	background: url(../images/power-bank/10000endbg.jpg) center top no-repeat;
    height: 1195px;
	overflow:hidden;
	position:relative;
}
.power-bank-section-I {
    width: 100%;
    float: left;
	background:#4e5564;
	overflow:hidden;
	position:relative;
	padding:500px 0 500px 0;
}
.lightleft-pic {
    position: absolute;
    left: -500px;
    top: -615px;
    bottom: 0;
}
.lightright-pic {
    position: absolute;
    right: -620px;
    bottom: -545px;
}
.optimized-charging {
	text-align:center;
	margin-top:0px;
}
.color-white-text {
	color:#FFF;
}

/********* Audio ************/


.audio_section-a {
    width: 100%;
    float: left;
    position: relative;
}
.audio_section-a img {
    width: 100%;
}
.audio_section-a .title_tv_main {
    position: absolute;
    top: 80px;
	left:65px;
}
.audio_section-a .title_tv_main h1 {
    font-size: 36px;
    color: #FFF;
    font-weight: normal;
    margin-bottom: 200px;
}
.audio_section-a .title_tv_main h1 span {
    color: #dbc291;
    font-weight:normal;
}
.audio_section-a .title_tv_main h2 {
    font-size: 20px;
    color: #c9c9c9;
	font-weight:normal;
		
}
.audio_section-a .title_tv_main .mj-keyword {
	font-size:14px;
	color: #a4a4a4;
}
.audio_section-a .container .title_tv_main .xm-pro-price del {
    font-size: 30px;
    color: #dbc291;
	margin-left:15px;
}
.audio_section-a .container .title_tv_main .xm-pro-price del span i {
    font-size: 22px;
    color: #dbc291;
	margin-right:5px;
}
.audio_section-a .container .title_tv_main .xm-pro-price {
	color: #dbc291;
    font-size: 39px;
}
.audio_section-a .container .title_tv_main .xm-pro-price i {
	color: #dbc291;
    font-size: 30px;
}

.audio_section-a .container .title_tv_main .xm-pro-price .xm-price {
    font-size: 40px;
    font-weight: 300;
    color: #dbc291;
}


.audio .container-fluid {
	max-width: 1260px;
}
.audio-section-b {
	width:100%;
	float:left;
	position:relative;
}
.audio-section-b img {
	width:100%;
}
.audio-main {
	width:100%;
	float:left;
	margin-top:30px;
}
.audio-main .audio-section-b .text-content {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align:center;
	color:#FFF;
	
}
.audio-main .audio-section-b .text-content h2 {
	font-size: 20px;
	position:relative;
	padding: 50px 0;
}
.audio-main .audio-section-b .text-content h2:before {
	content:'';
	position:absolute;
	width:80px;
	height:2px;
	background:#CCC;
	margin:auto;
	left:0;
	right:0;
	bottom:15px;
	}
.audio-main .audio-section-b .text-content h3 {
	font-size: 20px;
}
.audio-bottom-margin {
	margin-bottom:30px;
}

.audio-section-c {
	width:100%;
	float:left;
}
.earphonepro-pic-1 {
	width:100%;
	float:left;
}
.earphonepro-pic-1 img {
	width:100%;
}
.audio-left {
	width:30%;
	float:left;
	display:block;
}
	
.audio-left .text-content {
    width: 80%;
    margin: 30% auto 0;
}

.audio-left .text-content h2 {
	font-size: 20px;
    line-height: 30px;
	padding:0;
	margin: 0 0 40px 0;
	position:relative;
}
.audio-left .text-content h2:after {
    content: '';
    position: absolute;
    left: 0;
    width: 80px;
    height: 2px;
    background: #CCC;
    bottom: -20px;
}

.audio-left .text-content p {
	font-size: 12px;
    line-height: 22px;
}


.audio-right {
	width:70%;
	float:left;
	display:block;
}
.audio-section-d {
    width: 100%;
    float: left;
    background: #cfd8d5;
}
.audioD {
	width:100%;
	float:left;
}
.audioD .text-content {
    width: 70%;
    margin: 16% auto 0;
}
.audioD .text-content h2 {
	font-size: 20px;
    line-height: 30px;
	padding:0;
	margin: 0 0 40px 0;
	position:relative;
}
.audioD .text-content h2:after {
    content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background: #CCC;
    bottom: -20px;
}

.audioD .text-content p {
	font-size: 12px;
    line-height: 22px;
}
.audio-section-f {
    width: 100%;
    float: left;

}
.audio-section-F {
    width: 100%;
    float: left;
    background: #3f6f58;
}

.audioF {
	width:100%;
	float:left;
}
.audioF .text-content {
    width: 65%;
    margin: 25% auto 0;
}
.audioF .text-content h2 {
	font-size: 20px;
    line-height: 30px;
	padding:0;
	margin: 0 0 40px 0;
	position:relative;
	color:#FFF;
}
.audioF .text-content h2:after {
    content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background: #CCC;
    bottom: -20px;
}

.audioF .text-content p {
	font-size: 12px;
    line-height: 22px;
	color:#a9c9ba;
}

.audio-section-G {
    width: 100%;
    float: left;
    background: #FFF;
}

.audio-G {
	width:100%;
	float:left;
}
.audio-G .text-content {
    width: 65%;
    margin: 18% auto 0;
}
.audio-G .text-content h2 {
	font-size: 20px;
    line-height: 30px;
	padding:0;
	margin: 0 0 40px 0;
	position:relative;
	color:#000000;
}
.audio-G .text-content h2:after {
    content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background: #CCC;
    bottom: -20px;
}

.audio-G .text-content p {
	font-size: 12px;
    line-height: 22px;
	
}

.audio_section-E {
    width: 100%;
    float: left;
    position: relative;
}
.audio_section-E img {
	width:100%;
}

.audio_section-E .audio-E {
    position: absolute;
    top: 170px;
	right:100px;
}

.audio-E .text-content {
    width: 35%;
	float:right;
}
.audio-E .text-content h2 {
	font-size: 20px;
    line-height: 30px;
	padding:0;
	margin: 0 0 40px 0;
	position:relative;
	color:#FFF;
}
.audio-E .text-content h2:after {
    content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background: #CCC;
    bottom: -20px;
}

.audio-E .text-content p {
	font-size: 12px;
    line-height: 22px;
	color:#FFF;
	
}

.audio_section-H {
    width: 100%;
    float: left;
    position: relative;
}
.audio_section-H img {
	width:100%;
}

.audio_section-H .audio-H {
    position: absolute;
    top: 100px;
	right:100px;
}

.audio-H .text-content {
    width: 35%;
	float:right;
}
.audio-H .text-content h2 {
	font-size: 20px;
    line-height: 30px;
	padding:0;
	margin: 0 0 40px 0;
	position:relative;
	color:#FFF;
}
.audio-H .text-content h2:after {
    content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background: #CCC;
    bottom: -20px;
}

.audio-H .text-content p {
	font-size: 12px;
    line-height: 22px;
	color:#FFF;
	
}

.audio-section-J {
    width: 100%;
    float: left;
    background: #212121;
}

.audio-J {
	width:100%;
	float:left;
}
.audio-J .text-content {
    width: 65%;
    margin: 40% auto 0;
}
.audio-J .text-content h2 {
	font-size: 20px;
    line-height: 30px;
	padding:0;
	margin: 0 0 40px 0;
	position:relative;
	color:#FFF;
}
.audio-J .text-content h2:after {
    content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background: #CCC;
    bottom: -20px;
}

.audio-J .text-content p {
	font-size: 12px;
    line-height: 22px;
	color:#FFF;
	
}
.audio_section-K {
    width: 100%;
    float: left;
    position: relative;
}
.audio-K {
    position: absolute;
    top: 100px;
}
.audio-K .text-content {
    width: 55%;
    margin: 17% auto 0;
	text-align:center;
}

.audio-K .text-content h2 {
	font-size: 20px;
    line-height: 30px;
	color:#FFF;
	position:relative;
}
.audio-K .text-content h2:after {
    content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background: #FFF;
    bottom: -35px;
    margin: auto;
    right: 0;
}

.audio-K .text-content p {
	font-size: 12px;
    line-height: 22px;
	color:#acacac;
	margin-top:60px;
}

.audio-section-L {
    width: 100%;
    float: left;
    background: #212121;
}

.audio-L {
	width:100%;
	float:left;
}
.audio-L .text-content {
    width: 70%;
    margin: 10% auto 0;
}
.audio-L .text-content h2 {
	font-size: 20px;
    line-height: 30px;
	color:#FFF;
}
.audio-L .text-content h3 {
	font-size: 20px;
    line-height: 30px;
	padding:0;
	margin: 0 0 40px 0;
	position:relative;
	color:#FFF;
	position:relative;
}

.audio-L .text-content h3:after {
    content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background: #505050;
    bottom: -20px;
}

.audio-L .text-content p {
	font-size: 12px;
    line-height: 22px;
	color:#a4a4a4;	
}
.items-list-L {
	padding:0;
	margin:0;
	text-align:left;
	position:relative;
	margin-top:40px;
}
.items-list-L:after {
    content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background: #505050;
    top: -20px;
}

.items-list-L li {
	width: 110px;
    margin-bottom: 15px;
	list-style:none;
	display:inline-block;
}

.items-list-L li span {
    font-size: 11px;
    text-align: center;
    width: 100%;
    float: left;
	margin-top:10px;
	color:#585858;
}
.audio-list-img {
	display:block;
	text-align:center;
}
/* audio speces*/


.audio-specs {
	width:100%;
	float:left;
	background:#FFF;
	padding:30px 0;
}
.specs-list {
	padding:0;
	margin:0;
}
.specs-list li {
    overflow: hidden;
    list-style: none;
	border-bottom: 1px solid #e9e9e9;
}
.specs-list li:last-child {
	border-bottom: 0px solid #e9e9e9;
}
.specs-list li .info-right-msg {
    position: relative;
    padding-left: 300px;
    color: #999;
    
}
.specs-list li .mj-specs-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    text-align: center;
    border-right: 1px solid #e9e9e9;
}
.specs-list li .mj-specs-title span {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -20px;
    color: #000;
	font-weight:300;
}
.specs-list li .info-right-msg .msg-text {
    font-size: 14px;
    padding: 40px 0 40px 96px;
}
.specs-list li .info-right-msg .msg-text p {
    line-height: 35px;
    height: 35px;
    margin: 0;
}
.specs-list li .info-right-msg .msg-text p b {
    font-weight: 400;
    float: left;
    width: 230px;
}
.specs-pic {
	margin-left:40px;
}

/*********Band ************/
.bank-1 {
	position:relative;
}

.bank-1 img {
	width:100%;
}
.bank-1 .title_tv_main {
    position: absolute;
    top: 120px;
    left: 65px;
}
.bank-1 .title_tv_main h1 {
    font-size: 36px;
    color: #FFF;
    font-weight: normal;
    margin:0 0 15px 0;
	position:relative;
}
.bank-1 .title_tv_main h1:after {
    content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background:#7b7b7b;
    bottom: -30px;
}

.bank-1 .title_tv_main h1 span {
    color: #15c19b;
    font-weight: normal;
}
.bank-1 .title_tv_main h2 {
    font-size: 25px;
    color: #c9c9c9;
    font-weight: normal;
	margin: 60px 0 20px 0;
}
 
.wrapper.bank-1 .title_tv_main .power-keyword {
    font-size: 18px;
	color:#a2a2a2;
}
.wrapper.bank-1 .title_tv_main .power-keyword span {
    padding: 0 10px;
    font-style: normal;
}
.title_tv_main .xm-pro-price {
    width: 100%;
    float: left;
}
.title_tv_main .xm-pro-price i {
    color: #15c19b;
    font-size: 40px;
    margin-right: 15px;
}
.title_tv_main .xm-price {
    font-size: 62px;
    font-weight: 400;
    color: #15c19b;
}
.band-2 {
	width: 100%;
    float: left;
	background: url(../images/band/sh-02b.jpg) center top;
	overflow:hidden;
	position:relative;
	background-size:cover;
}
.band-main-left {
	width:100%;
	float:left;
	position:relative;
	padding-top: 200px;
}

.bank-pic1 {
	float:left;
	margin-left:-100px
}

.band-main-left .text-content {
    position: absolute;
    left: 60%;
	top: 250px;
    width: 450px;
    text-align: left;
}

.band-main-left .text-content h2 {
    font-size: 36px;
    color: #4acbae;
    margin-bottom: 50px;
    position: relative;
    line-height: 50px;
    height: auto;
}

.band-main-left .text-content h2:after {
   content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background:#7b7b7b;
    bottom: -30px;
}
.band-main-left .text-content p {
	font-size: 14px;
    line-height: 30px;
	color: #a2a2a2;
}
.band-main-right {
	width:100%;
	float:left;
	padding-bottom:100px;
	background:#141615;
	position:relative;

}
.bank-pic2 {
    float: right;
    margin-right: -320px;
    margin-top: -300px;
}

.band-main-right .text-content {
    position: absolute;
    left: 10%;
    top: 50px;
    width: 450px;
    text-align: left;
}

.band-main-right .text-content h2 {
    font-size: 36px;
    color: #4acbae;
    margin-bottom: 50px;
    position: relative;
    line-height: 50px;
    height: auto;
}

.band-main-right .text-content h2:after {
   content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background:#7b7b7b;
    bottom: -30px;
}
.band-main-right .text-content p {
	font-size: 14px;
    line-height: 30px;
	color: #a2a2a2;
}

.band-list {
	padding:0;
	margin:20px 0 0 0;
	
}
.band-list li {
	list-style:none;
	display:inline-block;
	padding: 0px 15px;
}
.band-list li:first-child {
	padding: 0px 15px 0 0;
}
.band-list li span {
	padding-top:7px;
	display:block;
	font-weight:600;
	color:#FFF;
	text-align:center;
}

.band-list li img {
	display:block;
}
 .txt-band {
	 margin-top:25px;
	 width:100%;
	 float:left;
 }
 
 
 .band-3 {
	width: 100%;
    float: left;
	background: url(../images/band/sh-04test.jpg) center top;
	overflow:hidden;
	position:relative;
	height:1052px;
}

 .band-3 .text-content {
    position: absolute;
    left: 90px;
    top: 100px;
    width: 400px;
}

 .band-3 .text-content h2 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 50px;
    position: relative;
    line-height: 50px;
}

 .band-3 .text-content h2:after {
   content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background:#7b7b7b;
    bottom: -30px;
}
 .band-3 .text-content p {
	font-size: 14px;
    line-height: 30px;
	color: #a2a2a2;
}
.band-4 {
	width: 100%;
    float: left;
	background: url(../images/band/sh-05.jpg) center top;
	overflow:hidden;
	position:relative;
	height:1052px;
}

 .band-4 .text-content {
    position: absolute;
    left: 0px;
	right:0;
    top: 100px;
    width: 400px;
	margin:auto;
	text-align:center;
}

 .band-4 .text-content h2 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 50px;
    position: relative;
    line-height: 50px;
}

 .band-4 .text-content h2:after {
   content: '';
    position: absolute;
    left: 0;
	right:0;
	margin:auto;
    width: 60px;
    height: 2px;
    background:#fff;
    bottom: -30px;
}
 .band-4 .text-content p {
	font-size: 14px;
    line-height: 30px;
	color: #fff;
}
.sh-section-05-pic {
	background: url(../images/band/sh-05-pic.png) no-repeat center center;
    width: 913px;
    height: 489px;
    position: absolute;
    left: 50%;
    top: 50%;
    top: 490px;
    margin-left: -813px;
}
.sh-section-05-pic .i {
	position: absolute;
    left: 50%;
    top: 50%;
    width: 178px;
    height: 177px;
    background: url(../images/band/sh-05-pic-on.png) no-repeat center center;
    margin: -26px 0 0 -86px;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
  	transform: translate3d(0, 0, 0) infinite;
  	backface-visibility: hidden;
 	perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.band-5 {
	width: 100%;
    float: left;
	background: url(../images/band/sh-06.jpg) center top;
	overflow:hidden;
	position:relative;
	height:659px;
}

.band-5 .text-content {
    position: absolute;
    left: 90px;
    top: 100px;
    width: 400px;
}

 .band-5 .text-content h2 {
   font-size: 30px;
    color: #333;
    margin-bottom: 50px;
    position: relative;
    line-height: 50px;
	font-weight:300;
}

.band-5 .text-content h2:after {
   content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background:#6b6b6b;
    bottom: -30px;
}
 .band-5 .text-content p {
	font-size: 14px;
    line-height: 30px;
	color: #333;
}

.band-6 {
	overflow:hidden;	
}
.band-6-left {
	width:50%;
	float:left;
	background:#FFF;
	position:relative;
	height:792px;
}
.band-6-left .text-content {
	width:500px;
	margin:auto;
	text-align:center;
	margin-top:50px;
	position:relative;
	z-index:2;
	
}
.band-6-left .text-content h2 {
   font-size: 25px;
    color: #333;
    margin-bottom: 40px;
    position: relative;
    line-height: 50px;
	font-weight:300;
}

.band-6-left .text-content h2:after {
    content: '';
    position: absolute;
    left: 0;
	right:0;
    width: 60px;
    height: 2px;
    background:#bbbbbb;
    bottom: -20px;
	margin:auto;
}
.band-6-left .text-content p {
	font-size: 14px;
    line-height: 30px;
	color: #5e5e5e;
}

.band-section-06-pic-left {
	background: url(../images/band/sh-08-ab.jpg) no-repeat right bottom;
	position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100%;
    transition: all 10s 1s;
}

.band-6-right {
	width:50%;
	float:left;
	background:#FFF;
	position:relative;
	height:792px;
}
.band-6-right .text-content {
	width:500px;
	margin:auto;
	text-align:center;
	margin-top:50px;
	position:relative;
	z-index:2;
	
}
.band-6-right .text-content h2 {
   font-size: 25px;
    color: #333;
    margin-bottom: 40px;
    position: relative;
    line-height: 50px;
	font-weight:300;
}

.band-6-right .text-content h2:after {
    content: '';
    position: absolute;
    left: 0;
	right:0;
    width: 60px;
    height: 2px;
    background:#bbbbbb;
    bottom: -20px;
	margin:auto;
}
.band-6-right .text-content p {
	font-size: 14px;
    line-height: 30px;
	color: #5e5e5e;
}

.band-section-06-pic-right {
	background: url(../images/band/sh-0b-bb.jpg) no-repeat left bottom;
	position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100%;
    transition: all 10s 1s;
}

.band-7 {
	padding:100px 0;
	background:#f8f8f8;
}
.band-7 .band-main-7 {
	width:100%;
	float:left;
}
.band-7 .band-main-7 .text-content {
	width:100%;
	float:left;
	text-align:center;
}
.band-7 .band-main-7 .text-content h2.title-h2 {
    font-size: 25px;
    margin: 0 0 50px 0;
    color: #777777;
    font-weight: 300;
}

.band-item {
	width:100%;
	float:left;
	text-align: center;
}
.band-item-pic {
	width:100%;
	float:left;
	position:relative;
}

.band-item-pic .band-sn {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.band-sn-h {
    width: 100%;
    float: left;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
}
.band-percent sup {
	font-size:15px;
	top: -2.5em;
}
.band-percent {
    width: 100%;
    float: left;
    font-size: 60px;
    font-weight: 100;
    color: #fff;
    text-transform: uppercase;
}
.band-item-contain {
	width:100%;
	float:left;
	margin-top:30px;

}
.band-item-contain h5 {
	padding:0;
	margin:0 0 5px 0;
	font-size: 24px;
    color: #494949;
	font-weight:300;
}
.band-item-contain p {
	padding:0;
	margin:0;
	line-height: 30px;
    font-size: 16px;
    color: #767676;
	font-weight:300;  
}

.band-8 {
	width: 100%;
    float: left;
	background: url(../images/band/sh-11.jpg) center top;
	overflow:hidden;
	position:relative;
	height:1030px;
}
.band-main-white {
    width: 1024px;
    background: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 500px;
	margin: auto;
	
}
.band-main-child {
	outline: 1px solid #949494;
	margin:40px;
	box-sizing:border-box;
	display: flow-root;
}
.band-main-white .text-content {
	width:100%;
	float:left;
	margin-top:100px;
	display: inline-block;
}

.band-main-white h2 {
	font-size: 25px;
    color: #333;
    margin-bottom: 40px;
    position: relative;
    line-height: 50px;
    font-weight: 300;
	text-align:center;
}
.band-main-white h2:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 60px;
    height: 2px;
    background: #bbbbbb;
    bottom: -20px;
    margin: auto;
}
.band-main-white p {
	text-align:center;
	color:#000;
	font-weight:100;
}
.band-color-cr {
	padding:0;
	margin:80px 0 80px 0;
	text-align:center;
	width:100%;
	float:left;
}
.band-color-cr li {
	list-style-type:none;
	display:inline-block;
	padding-right:5px;
	position:relative;
}
.band-object {
  animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

.band-object-down {
  animation: MoveUpDown1 1s linear infinite;
}

@keyframes MoveUpDown1 {
  50%, 100% {
    bottom: 0;
  }
  0%, 100% {
    bottom: 10px;
  }
}

.band-9 {
	background:#fff;
	padding:50px 0;
} 
.text-content-band {
    text-align: center;
    font-size: 16px;
    color: #989898;
}
.text-clr li span {
	color:#333;
}

/* tv Reviews*/

.review-list li a {
    text-decoration: none;
    text-transform:capitalize;
	font-size:16px;
}
.capita-lize {
	text-transform:capitalize;
	font-size:16px;
}

.review-box {
	margin-bottom:10px;
}
.active_review {
	color:#ff6700 !important;
}

.review_div {
	display: none;
}
.active_review_tab {
    display: block!important;
}
.comment_box {
	width:100%;
	float:left;
	padding:0;
	margin:30px 0 0 0;
}
.comment_box li {
	position:relative;
	padding-left:50px;
	margin-bottom:30px;
	list-style:none;
	padding-top:10px;
}

.comment_box li h4 {
	margin:0;
	padding:0 0 10px 0;
	color:#999;
	font-size:17px;
}
.comment_box li p {
	margin:0;
	color:#999;
	font-size:17px;
}
.reply-user-img {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 0;
    top: 10px;
	border-radius:50%;
	background:#999;
}
.reply-user-img img {
    width: 35px;
	border-radius:50%;
}
.bottom_pd {
	margin-bottom:30px;
}

/*********Wallet  ************/

.wallet-1 {
    position: relative;
}
.wallet-1 img {
    width: 100%;
}
.wallet-1 .title_tv_main h1 {
    font-size: 36px;
    color: #FFF;
    font-weight: normal;
    margin: 0 0 15px 0;
    position: relative;
	font-weight:100;
	
}
.wallet-1 .title_tv_main h1 span {
    color: #fff;
    font-weight: normal;
	font-weight:100;
}

.wallet-1 .title_tv_main h1:after {
    content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background: #fff;
    bottom: -30px;
}
.wallet-1 .title_tv_main h2 {
    font-size: 25px;
    color: #fff;
    font-weight: normal;
    margin: 60px 0 20px 0;
	font-weight: 100;
}
.wallet-1 .title_tv_main .power-keyword {
    font-size: 18px;
    color: #a2a2a2;
}
.wallet-1 .title_tv_main .xm-pro-price {
    width: 100%;
    float: left;
}
.wallet-1 .title_tv_main .xm-pro-price i {
    color: #fff;
    font-size: 40px;
    margin-right: 15px;
	font-weight:100;
}
.wallet-1 .title_tv_main .xm-price {
    font-size: 62px;
    font-weight: 100;
    color: #fff;
}
.wallet-pic-right {
	text-align:right;
}
.wallet-2 {
	background:#fff;
	padding: 50px 0;
}

.wallet-5 {
	background:#f4eee9;
	padding: 50px 0;
}

.wallet-5-pic {
	width:300px;
	height:300px;
	overflow:hidden;
	border-radius:50%;
}


.wallet-pic {
	width:100%;
	float:left;
}
.wallet-pic img {
	max-width:100%;
}
.wallet-contain {
	font-size: 16px;
    color: #757575;
	line-height:25px;
	
}
.wallet-h3 {
    font-size: 36px;
	color:#757575;
	margin: 0 0 10px 0;
}
.battery-travel-text {
    color: #FFF;
    margin-left: 70px;
}
.wallet-txt {
    color: #FFF;
    margin-left: 70px;
	margin-top:60px;
}
.wellet-pic10 {
	width:100%;
	float:left;
	text-align:center;
	margin-top:100px;
}
.wellet-pic10 img {
	max-width:100%;
}
.wallet-3 {
	background:#FFF;
}
.wallet-4 {
	background:#eef5ff;
}

.wallet-6 {
    width: 100%;
    float: left;
    background: url(../images/wallet/wallet6.jpg) center top no-repeat;
	position:relative;
	background-size:cover;
	height:920px;
}

.wallet-7 {
	background: #FFF;
    padding: 110px 0 110px 0;
}
.wallet-8 img {
	width:100%;
}

.margin-wallet {
	margin-bottom:10px;
}

.wallet-font {
	margin: 0;
    padding: 0;
    font-size: 20px;
    color: #717171;
	line-height:inherit;
}
.wallet-txt-5 {
	color: #FFF;
    margin-left: 50px;
    margin-top: 60px;
    margin-right: 50px;
}

.wallet-5-pic img {
	max-width:100%;
	height:100%;
}

/* About us */
	
.nav_about {
	padding:0;
	margin:0;
	
}
.nav_about li {
    list-style: none;
    float: left;
    padding: 2px 20px;
    border-right: solid 1px #dad6d6;
    line-height: 13px;
}
.nav_about li:last-child {
	padding: 0px 0px 0 20px;
	border-right: solid 0px #dad6d6;
}

.nav_about li a {
    list-style: none;
    text-decoration: none;
    display: block;
    color: #616161;
    float: left;
    font-size: 14px;
}
.nav_about li a:hover {
	color:#ff6700;
}
.bg_orage {
	background:#ff6700;
}
.about_heading {
	width:100%;
	float:left;
	padding:80px 0 70px;
}
.about_h3 {
	margin: 0;
    font-size: 30px;
    font-weight: 200;
	text-align:center;
	line-height:50px;
	color:#FFF;
}
.exp-man {
	text-align:center;
	margin-bottom:35px;
}
.bg_gray {
	background:#f5f5f5;
}
.about-pic1 {
	width:100%;
	float:left;
	margin-top:35px;
}
.about-pic1 img {
	max-width:100%;
}
.about_h1 {
	margin: 0;
    font-size: 30px;
	color:#616161;
	margin-bottom:20px;
}
.txt_about {
	margin: 0;
	font-size: 16px;
    line-height: 28px;
    color: #616161;
}
.about-1 {
	padding:120px 0 120px 0;
}

.about_main {
	width:100%;
	float:left;
}

.about-2 {
    text-align: center;
    color: #fff;
    background: url(../images/about/about-img03.jpg) center top no-repeat;
    background-size: cover;
	padding:100px 0 100px 0;
}

.h_02 {
    margin: 0 0 25px 0;
    font-size: 30px;
    color: #fff;
	line-height:35px;
	
}
.p_02 {
    font-size: 16px;
    line-height: 28px;
    margin-top: 36px;
    margin: auto;
    display: table;
    width: 850px;
	
}
 .line-before {
	 width:80px;
	 height:2px;
	 background:#FFF;
	 margin:auto;
	 display:table;
	 margin-top:25px;
	 margin-bottom:25px;
 }
 .about-social {
	 text-align:center;
	 
 }
 .about-social a {
	 display:inline-block;
 }
 .about-social a {
    display: inline-block;
    float: initial;
}
.about-social a:hover {
	color:#ff6700;
}
.about-3 {
	padding:100px 0;
	text-align:center;
}
.h_03 {
	margin: 0;
    font-size: 30px;
    color: #616161;
	line-height:40px;
}
.about-4 {
}
.team_profile {
	width:100%;
	float:left;
	position:relative;
	overflow:hidden;
}
.team_profile img {
	width:100%;
}
.team_name {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
	color:#FFF;
}
.nick_txt {
	width:100%;
	float:left;
	font-size:25px;
}
.name_founder {
	width:100%;
	float:left;
}
.team_profile:hover .team_contain {
	top: 0;
    opacity: 1;
}
.team_contain {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    z-index: 200;
    background: rgba(247,101,2,.9);
    opacity: 0;
    transition: all .3s linear;
	color:#fff;
}
.team_contain h4 {
	text-align:center;
	font-size:24px;
	padding:10px 0;
}
.team_contain p {
	padding:0 25px;
}

.about-5 {
	padding:80px 0;
}
.h_05 {
    margin: 0;
    font-size: 30px;
    color: #616161;
    line-height: 40px;
	text-align:center;
	margin-bottom:30px;
}
.p_05 {
	margin:auto;
	width:600px;
	text-align:center;
	line-height:25px;
}

.h_06 {
    margin:40px 0 40px 0;
    font-size: 30px;
    color: #616161;
    line-height: 40px;
	text-align:center;
}
.p_06 {
	margin:auto;
	text-align:center;
	line-height:21px;
	padding:0 20px;
}
.about-7 {
	margin-top:180px;
    text-align: center;
    color: #fff;
    background: url(../images/about/career-bg.jpg) center top no-repeat;
    background-size: cover;
	padding:100px 0 100px 0;
}

/********* Details ************/

.item_details {
	width:100%;
	float:left;
}
.item_head {
	width:100%;
	float:left;
}
.item_head h1 {
    color: #212121;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
}
.details_discount {
	width:100%;
	float:left;
	margin-top:15px;
}
.dis_off {
	width:auto;
	float:left;
	background:#e42a27;
	color:#FFF;
	padding:0 10px;
	font-size:12px;
}

.item_price {
    margin-top: 25px;
	width:100%;
	float:left;
    border-top: 1px solid #e0e0e0;
    color: #ff6700;
    font-size: 30px;
	padding:20px 0 0 0;
}
.item_price_value {
	width:auto;
	float:left;
	position:relative;
	padding-left:16px;
}
.item_price_value span {
	font-weight:600;
}
.item_price_value i {
    position: absolute;
    left: 0;
    font-size: 16px;
    top: 18px;
}

.item_price_low {
	width:auto;
	float:left;
	position:relative;
	padding-left:10px;
	color:#b0b0b0;
	margin-left:15px;
}
.item_price_low i {
    position: absolute;
    left: 0;
    font-size: 15px;
    top: 19px;
}
.item_price_low span {
	font-size:17px;
}
.item_color {
	width:100%;
	float:left;
	margin-top:40px;
}
.style-name {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.detail_main {
	padding:50px 0;
}
.item_band {
	padding:0;
	margin:0;
}
.item_band li {
	list-style:none;
	float:left;
	margin-right:15px;
}
.item_band li a {
    width: 45px;
    height: 45px;
    border: solid 1px #e4e4e4;
    display: block;
	transition:0.3s;
}
.item_band li a img {
	max-width:100%;
}
.item_band li a:hover {
	border: solid 1px #ff6700;
	transition:0.3s;
}
.item_delivery {
	width:100%;
	float:left;
	margin-top:25px;
	border-top: solid 1px #e4e4e4;
}
.check_title {
    margin: 0;
    font-size: 20px;
    line-height: 1;
    color: #424242;
    padding: 20px 0;
}
.check_wrapper {
	width:100%;
	float:left;
}
.pincode_detail {
	float: left;
    box-sizing: border-box;
    height: 40px;
    width: 67%;
    padding: 0 20px;
    color: #424242;
    font-size: 16px;
    border: 1px solid #e0e0e0;
    outline: 0;

}
.pincode_btn {
    float: right;
    box-sizing: border-box;
    height: 40px;
    width: 29%;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
	background-color: #e0e0e0;
	color:#000;
	text-decoration:none;
}
.pincode_btn:hover{
	color:#000;
	text-decoration:none;
}
.pincode_btn:focus{
	color:#000;
	text-decoration:none;
}

.cart_btn {
	width:100%;
	float:left;
	margin-top:60px;
}
.btn_orange_cart {
	text-decoration:none;
	color:#FFF;
	display:block;
	text-align:center;
	padding:15px 0;
	background:#f95b07;
	transition:0.3s;
	font-size:16px;
}
.btn_orange_cart:focus {
	text-decoration:none;
	 color: #fff;
	 
}

.btn_orange_cart:hover {
	text-decoration:none;
    background-color: #ee5808;
    color: #fff;
	transition:0.3s;
}
.btn_orange_cart i {
	margin-right:10px;
}
.more_brand {
	width:100%;
	float:left;
	margin-top:35px;
	border-top: solid 1px #e4e4e4;
	padding-top:15px;	
}

.left_more {
	width:auto;
	float:left;
	margin-right:35px;	
}

.left_more a {
    font-size: 14px;
    text-decoration: none;
    color: #5e5e5e;
	transition:0.3s;
	text-transform: uppercase;
}
.left_more i {
	margin-right:5px;
}
.left_more a:hover {
    color: #ee5808;
	transition:0.3s;
}
.right_more {
	width:auto;
	float:left;
}
.right_more a {
    font-size: 14px;
    text-decoration: none;
    color: #5e5e5e;
	transition:0.3s;
	text-transform: uppercase;
}
.right_more i {
	margin-right:5px;
}
.right_more a:hover {
    color: #ee5808;
	transition:0.3s;
}
.detail_nav_main {
	width:100%;
	float:left;
	height:80px;
	background:#FFF;
	border-top: solid 1px #e4e4e4;
}
.detail-nav {
	width:100%;
	float:left;	
}


/*********footer end ************/

.footer {
    width: 100%;
    float: left;
    background: #212121;
    padding-top: 50px;

}
.footer_heading {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #b0b0b0;
    padding-bottom: 20px;
    font-weight: 600;
}
.footer_list {
    list-style-type: none;
    margin: 0;
	padding:0;
}
.footer_list li a {
    display: block;
    color: #b0b0b0;
    text-decoration: none;
    line-height: 30px;
    font-size: 13px;
    text-transform: capitalize;
    transition: 0.3s;
    padding: 0px 4px;
}
.footer_list li a:hover {
    transition: 0.3s ease-in-out;
    color: #fff;
}
.no__bottom_space {
    padding-bottom: 5px !important;
}

.p_txt_fotter {
    padding: 0;
    margin: 0;
    color: #6d6d6d;
    font-size: 13px;
}

.em-social {
	width:100%;
	float:left;
	margin-top:20px;
}
.number_free {
    font-size: 23px;
    font-weight: 600;
    color: #c7c7c7;
    padding: 0;
    margin: 0;
}
.let_heading {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #b0b0b0;
    font-weight: 600;
    margin-top: 20px;
}
.get_txk {
    font-size: 13px;
    color: #737373;
    padding: 0;
    margin: 0;
    font-weight: 600;
	margin-top:5px;
}
.copyright {
    font-size: 13px;
    color: #b0b0b0;
    width: 100%;
    float: left;
    border-top: solid 1px #333;
	margin-top:50px;
	padding:25px 0;
}

.block-subscribe {
    position: relative;
}

.block-subscribe {
    border: none;
    margin: 0;
    padding: 0;
	margin-top:20px;
}

form {
    display: inline;
}

.block-subscribe .input-box {
    width: 100%;
}

.newsletter-clearbutton .block-subscribe .input-box {
    width: 100%;
    float: none;
}

.block-subscribe .input-box {
    float: left;
    width: 90%;
}

.block-subscribe .input-box input.input-text {
    height: 50px;
    background: none;
    color: #CCC;
	border: solid 1px #3b3b3b !important;
	outline:none;
	padding-left:20px;
	padding-right:30px;
}
.newsletter-clearbutton .block-subscribe .input-box input.input-text {
    margin-right: 0;
}

.block-subscribe input.input-text {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

input.input-text, select, textarea {
    border: #e1e1e1 solid 1px !important;
    color: #a1a1a1;
}

input.input-text, textarea {
    padding: 2px;
}

.block-subscribe .actions button.button {
    position: absolute;
    right: 1%;
    top: 0px;
    font-size: 0;
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    vertical-align: middle;
    text-align: left;
    text-indent: 0;
    padding: 18px;
    vertical-align: top;
    width: auto;
    border-width: 0px;
}

actions button.button {
    color: #ffffff;
    background-color: #00bff3;
}

.block-subscribe .actions button.button {
    margin-right: 0px;
    padding: 18px;
}

a.viewall, a.button-link, button.button {
    color: #ffffff;
    background-color: #414141;
	outline:none;
   
}

.block-subscribe .actions button.button:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f1d8";
    font-size: 14px;
}

a.em-social-icon.em-facebook {
    background-color: #525252;
}

.em-social .em-social-icon {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    padding: 5px 6px;
    /* font-size: 1.6rem; */
}

a.em-social-icon {
    color: #ffffff;
    background-color: #525252;
}

.em-social-icon {
    font-size: 18px;
    margin: 0 5px;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-bottom: 5px;
}

.f-left, .left {
    float: left !important;
}

.fa-fw {
    width: 1.28571em;
    text-align: center;
}

a.em-social-icon.em-twitter {
    background-color: #525252;
}

a.em-social-icon.em-pinterest {
    background-color: #525252;
}

a.em-social-icon.em-google {
    background-color: #525252;
}

a.em-social-icon.em-rss {
    background-color: #525252;
}
/*BX slider logo*/
.bx-wrapper {
  width: 100%;
  border: 10px solid white;
  
}
.bx-viewport { height: 200px !important;}
.bx-wrapper li {
	 margin-right:15px;
 }
 /*logo END*/


.light_color {
	color:#CCC;
}
.text_600 {
	font-weight:600;
}
.top-margin {
	margin-top:50px;
}

