
.gallery {
}
.gallery .previews, .gallery .full, .gallery .desc {
float: left;
margin-right: 10px;
}
.gallery .desc, .gallery .full {
	width: 600px;
	text-align:center;

}
.gallery .desc h2 {
	margin-top: 0;
}
.gallery .previews a {
	display: block;
	margin-bottom: 10px;
	width:70px;
	height:70px;
	transition:0.3s;
}
.gallery .previews a img {
    height: 100%;
    max-width: 100%;
	transition:0.3s;
}


.gallery .full, .gallery .full img {
height: 500px;
width:560px;
}
.gallery .previews a, .gallery .full {
border: 1px solid #eee;
}
.gallery .previews a:hover, .gallery .previews a.selected {
border: 1px solid #ff6700;
}
	.gallery .full img:hover {
	cursor: zoom-in;
}
.border-none {
	border: 0px solid #eee !important;
}
