.menu-icon
  {
    display: none;
  }

@media screen and (max-width: 1180px) and (min-width: 1024px){

  .navigation.n_black ul li a
  {
    margin: 0px 12px;
    font-size: 1em;
  }
  .container-fluid
  {
    padding-right: 15px;
    padding-left: 15px;
  }
  
}

@media screen and (max-width: 1023px) and (min-width: 992px){
 
 .navigation.n_black ul li a
  {
    margin: 0px 11px;
    font-size: 1em;
  }
  .top_link_left li
  {
    padding: 0px 20px 0px 8px;
  }

 .container-fluid
  {
    padding-right: 15px;
    padding-left: 15px;
  }
  .menu-icon
  {
    display: none;
  }
  
}

@media screen and (max-width: 991px){
  .container-fluid
  {
    padding-right: 15px;
    padding-left: 15px;
  }
  .top_link_left
  {
    display: none;
  }
  .menu-icon
  {
   width: 100px;
   float: left;
   line-height: 41px;
   display: block;
  }
  .menu-icon i 
  {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
  }
  .navigation
  {
    
  }
  .navigation ul
  {
    position: fixed;
    left: -200px;
    top: 0;
    width: 200px;
    background: #535353;
    height: 100%;
  }
  .navigation ul.activemenu
  {
    left:0!important;
    transition: 0.3s all;
  }
  .navigation ul li
  {
    display: block;
    height: 33px;
    border-bottom: #5c5c5c solid 1px;

  }
  .navigation.n_black ul li a
  {
    line-height: 31px;
    margin: 0px 10px;
    color: #fff;
  }

  .overlayboday
  {
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .slider
  {
    height: auto;
    background: #a57beb;
  }
  .slide
  {
    width: 100%;
    max-height: 380px;
    background: #a57beb;
  }
  .slide ul li
  {
    min-width: 100%;
    left: 0;
    top: 0;
    margin-left: 0px;
    margin-top: 0px; 
    min-height: auto;
  }
  .slide ul li img
  {
    width: 100%;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
   .slide
   {
    max-height: 248px;
   }
   .ads_banner
   {
    margin-bottom: 16px;
   }
   .star_pro_item:first-child
   {
    width: 100%;
    margin-bottom: 15px;
   }
   .star_pro_item:nth-child(2)
   {
     width: 100%;
     margin-bottom: 15px;
   }
   .star_pro_item:nth-child(3)
   {
    width: 100%;
    margin-bottom: 15px;
   }
   .star_pro_item:nth-child(4)
   {
    width: 100%;
    margin-bottom: 15px;
   }
  }