
@media screen and (max-width: 1180px) and (min-width: 1024px){

  .navigation.n_black ul li a
  {
    margin: 0px 12px;
    font-size: 1em;
  }
  .container-fluid
  {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 992px){
 
 .navigation.n_black ul li a
  {
    margin: 0px 11px;
    font-size: 1em;
  }
  .top_link_left li
  {
    padding: 0px 20px 0px 8px;
  }

 .container-fluid
  {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (max-width: 991px){
  .top_link_left
  {
    display: none;
  }
  .navigation
  {
    
  }
  .navigation ul
  {
    position: fixed;
    left: -200px;
    top: 0;
    width: 200px;
    background: #535353;
    height: 100%;
  }
  .navigation ul.activemenu
  {
    left:0!important;
  }
  .navigation ul li
  {
    display: block;
    height: 33px;
    border-bottom: #5c5c5c solid 1px;

  }
  .navigation.n_black ul li a
  {
    line-height: 31px;
    margin: 0px 10px;
  }
}