
/**
 * jQuer Phoenix Slider
 * Custom Style for jQuery Phoenix Slider
 *
 * @author Felix Ayala <felix1262@gmail.com>
 * @url http:/cafecapitan.com
 */


/* Slider */

.phoenix-slider {
  overflow: hidden;
  width: 100%;
  height: 630px;
  position: relative;
  background: #f5f5f5;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.phoenix-slider .phoenix-feather {
  background: transparent none scroll no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  display: table;
  width: 100%;
  z-index: 2;
  opacity: 0;
}

.phoenix-slider .reborn { z-index: 4; }

.phoenix-slider .phoenix-feather > img {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow: hidden;
  display: none;
}

/* Slider Dots */

.container-dots-wrapper {
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  z-index: 9;
}

.container-dots-inner {
  display: table;
  height: 100%;
}

.dots {
  display: table-cell;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dots li {
  width: 10px;
  height: 10px;
  margin: 0 4px 7px 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  opacity: .5;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
  -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
  -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
  -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
  filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
}

.dots li.active {
  width: 11px;
  height: 11px;
  background: #fff;
  border: 2px solid #fff;
  left: 8px;
  opacity: 1;
}
