﻿@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    margin:0px;
    padding:0px;
    line-height:18px;
    font-size:13px;
    background:url(../images/bg-default.png);
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    float:left;
    width:100%;
}
.top_header{
    float:left;
    width:100%;
    height:50px;
    background:#fff;
    position:relative;
    z-index:5;
    border-bottom: solid 1px #01773c;
	position:fixed;
}
.logo_admin{
    width:200px;
    float:left;
    margin-top:3px;}
.logo_admin img{
       max-height: 30px;
    margin-top: 10px;
}
.left_nav_f{
	position:fixed;
	margin-top:48px;}
.left_nav{
    float: left;
    /* width: 100%; */
    width: 16.66666667%;
    background: #1b4863;
    overflow-y: auto;
    position: fixed;
   
}
.left_nav ul{
    margin:0px;
    padding:0px;
    float:left;
    list-style-type:none;
    width:100%;
}


.grid_tbl td a.fa-trash {
    background: #f00;
    padding: 5px 5px;
    color: #fff;
    float: left;
    margin-right: 5px;
    border-radius: 3px;
}
.grid_tbl td a i.fa-trash {
    background: #f00;
    padding: 5px 5px;
    color: #fff;
    float: left;
    margin-right: 5px;
    border-radius: 3px;
}

.left_nav ul li{
    float:left;
    width:100%;
    background:url(../images/side-bar-list-bg.png) top left;
    margin-bottom:1px;

}
.left_nav ul li a{
    float:left;
    padding:16px 0px 16px 45px;
    color:#fff;
    text-decoration:none;
    width:100%;
    position:relative;
}
.left_nav ul li a::after{
      content: "";
    position: absolute;
    border-left: solid 5px #D3EBFF;
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
    right: 10px;
    top: 50%;
    margin-top: -5px;
}
.left_nav ul li a i{
    position:absolute;
    left:0px;
    top:0px;
    font-size:18px;
    text-align:center;
   
     width: 36px;
    height:100%;
    padding: 15px 0px;
     background:url(../images/side-bar-list-bg.png) top left;
    
}
.left_nav ul li ul{
    float:left;
    background:#082b40;
    max-height:0px;
    transition:0.4s;
    overflow:hidden;

}
.left_nav ul li.active_m ul{
   max-height:2500px; 
}
.left_nav ul li ul li{
    background:none;
    border-bottom: solid 1px #04263a;
}
.left_nav ul li ul li:last-child{
    border-bottom:none;
}
.left_nav ul li ul li a{
    padding:8px 0px 8px 40px;
        border-bottom: solid 1px #0e364e;
        color: #ffffff;
		font-size:12px;
}
.left_nav ul li ul li a.active_link {
    background: #1c506f;
    position: relative;
}
.left_nav ul li ul li a.active_link::before {
    content: "";
    border-right: solid 11px #fff;
    border-top: solid 11px transparent;
    border-bottom: solid 11px transparent;
    position: absolute;
    right: 0px;
    top: 6px;
}
.left_nav ul li ul li a:hover{
    color:#fff;
}
.left_nav ul li ul li:last-child a{
    border:none;
}
.left_nav ul li ul li a::after{
    display:none;
}
/*.left_nav ul li.active_m ul{
    height:200px;
}*/
/***************page_contant*************/

.page_contant{
    float:left;
    width:100%;
    min-height:100vh;
	overflow-y:auto;
    background:#fff url(../images/main-cont-bg.png);
    box-shadow: 0px 0px 5px #404040;
    position:relative;
    z-index:4;
    padding:0px 0px 15px;
	margin-top:48px;
	
  
}
.page_name {
    float: left;
    width: 100%;
}
.page_name h2{
    margin:0px;
    padding:15px 0px;
    font-size:21px;

    
}
.page_box{
    float:left;
    width:100%;
    height:auto;
    background:#fff;
    box-shadow: 0px 0px 4px #C1C1C1;
    padding:10px 0px;
    margin-bottom:20px;
}
.page_box p{
    float:left;
    width:100%;
    margin:0px;
}
.sep_box{
    float:left;
    width:100%;
    padding:20px 0px;
}
.sep_box h3{
	font-size: 19px;
    margin: 0px;
    padding-bottom: 15px;
	float:left;
	width:100%;
	}
.tbl_text{
    font-size:13px;
    float:left;
        padding-top: 9px;
}
.tbl_input{
    float:left;
    width:100%;
}
.tbl_input input[type="url"],.tbl_input input[type="number"],.tbl_input input[type="text"], .tbl_input input[type="password"], .tbl_input select, .tbl_input textarea{
    padding:9px 6px;
    border:solid 1px #E6E6E6;
    width:100%;
}
.submit_tbl{
    float:left;
    width:100%;

}
.submit_tbl .btn_button{
    float:left;
    border:none;
    padding:9px 14px;

     
}
.sub_btn{
    background:#109a55;
    color:#fff;
}
.sub_btn:hover{
    background:#006a35;
}
/***************page_contant*************/
/****************grid****************/
.grid_tbl{
    float:left;
    width:100%;
     border-top:solid 1px #5C93C1;
        border-left:solid 1px #ECECEC;

}
.grid_tbl th{
   padding: 9px 8px;
    background:#184058  /*url(../images/tbl_head.png)*/;
    color: #ffffff;;
    font-weight: 500;
    text-transform: uppercase;
   
    font-size: 12px;
   border-right: solid 1px #ffffff1c;
}
.grid_tbl td{
   padding: 6px 8px;
       border-right: solid 1px #e6f9ef;
    border-bottom: solid 1px #D8E8F5;
    color: #676767;
  
    
    
    font-size: 13px;
}
.grid_tbl td a{
	color:#109a55;
	text-decoration:none;}
	.grid_tbl td a i.fa-trash{
		background:#f00;
		padding:3px 0px;
		text-align:center;
		color:#fff;
		width:20px;
		height:20px;
		border-radius:70%;
		margin-right:5px;}
		.grid_tbl td a i.fa-pencil{
		background:#3CAF01;
		padding:3px 0px;
		text-align:center;
		color:#fff;
		width:20px;
		height:20px;
		border-radius:70%;}
.grid_tbl thead{
   border-left: solid 1px #5C93C1;
}
.grid_tbl tr:nth-child(2n+1){
    background:#F4FAFF;
}
.flashmsg{
    padding:10px;
    border:0px solid green;
    text-align:center;
   
    color:green;
}
.xls_download{
    background: #2171a0;
    border: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
}
.del_btn{
	background:#2171a0;
	border:none;
	padding:4px 8px;
	color:#fff;
	margin-bottom:8px;
	margin-right:4px;}
/*     .del_btn:hover{
    background:#C40101;} */
	.sts_btn{
	background:#184058;
	border:none;
	padding:4px 8px;
	color:#fff;
	margin-bottom:8px;}
	/* .sts_btn:hover{
        background:#2E8700;} */
button{
	background: #2171a0;
    border: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
}

::-webkit-scrollbar
{
    width:8px;
    background-color:#cccccc;
} 
	::-webkit-scrollbar-thumb{
background-color:#8E8E8E;
border-radius:5px;
}
::-webkit-scrollbar-thumb:hover{
background-color:#565555;
}
::-webkit-scrollbar-thumb:active{
background-color:#8E8E8E;
} 
.select_check{
	float: left;
    width: 100%;
    padding: 3px 8px;
    background: #F1F1F1;
    font-size: 13px;
    border-radius: 4px;
	}
	#firsttable td{
		padding:3px 3px;}
        .dash_box{
            float:left;
            width:100%;
            height:auto;
			margin-bottom:25px;
           
        }
        .dash_box h2{
           float: left;
    width: 100%;
    color: #fff;
    font-size: 14px;
    margin: 0px;
    padding: 9px 0px;
    text-align: center;
    
    border-radius: 0px 0px 9px 9px;
        }
       .dash_box .vd-btn{
        float:left;
        width:100%;
        padding:6px 0px;
        text-align: center;
        transition: background 0.3s;
        border-radius:9px 9px 0px 0px;
        color:#fff;
        text-decoration: none;
       }
       .dash_box_1 .vd-btn{
        background: #4CA91C;
       }
       .dash_box_1 .vd-btn:hover{
         background: #045a2f;
       }
        .dash_box_2 .vd-btn{
        background: #00182B;
       }
       .dash_box_2 .vd-btn:hover{
        background: #045a2f;
       }
        .dash_box_1{
            background: #587288;
        }
        .dash_box_1 h2{
            background: #2a465e;
        }
        .dash_box_2 h2{
            background: #024f57;
        }
         .dash_box_2{
            background: #4CAF50;
        }
      .dash_b_t{
        float:left;
        width:100%;
        text-align: center;
        color:#fff;
        font-size:20px;
        padding:30px 0px;
        font-weight:bold;
      }
      .dash_tbl_d{
        float:left;
        width:100%;
        border:solid 1px #E6E6E6;
        padding:4px 4px;
      }
       .dash_tbl_d h2{
        float:left;
        margin:0px;
        padding:10px;
        width:100%;
        font-size:16px;
        background:#184058;
        color:#fff;
       }
        .dash_tbl_d table{
            float:left;
            width:100%;
           margin-top:5px;
           margin-left:1px;
            padding:0px;
            
        }
        .dash_tbl_d table th{
            font-size: 14px;
            font-weight: 500;
            padding:8px 5px;
            background: #042538;
            color:#fff;
             
        }
        .dash_tbl_d table tr:nth-child(even){
            background: #F3F3F3;
        }
        .dash_tbl_d table td{
            font-size:15px;
            padding:7px 5px;
            font-size:13px;
           
        }
        .dash_tbl_d table td a{
               padding: 3px 5px;
    background: #505251;
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    border-radius: 4px;
        }
        .v_all{
            float:left;
            width:100%;

        }
    .v_all a{
    float: right;
    padding: 4px 10px;
    /* border: solid 1px #ccc; */
    background: #2171a0;
    border-radius: 5px;
    font-size:12px;
    color: #fff;
    text-decoration: none;
    margin: 5px 5px 0px 0px;
        }
    .dash_b_t i{width:100%; float:left;}
	.das_i1{float:left; width:45%; text-align:right;}
	.das_i2{float:left; width:50%; text-align:left; padding-left:10px;}
		
@media screen and (max-width: 1366px){
.page_box {
    float: left;
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0px 0px 4px #C1C1C1;
    padding: 10px 0px;
    margin-bottom: 20px;
    overflow-x: auto;
}

}

@media screen and (min-width: 1025px) and (max-width: 1214px)
{
	.menu-sm{display:none;}
}
@media screen and (max-width: 1024px){
	.left_nav_f{
	position:fixed;
	top:40px;
	z-index:999;}
.left_nav{
    float: left;
    /* width: 100%; */
    width: 250px;
    background: #1B78C7;
    overflow-y: auto;
    position: fixed;
	left:-250px;
	z-index:999;
	transition:0.4s;
}

.menu-sm{
	float: left;
    margin-top: 13px;
    cursor: pointer;
    margin-right: 20px;
	}
	.menu-sm i{
	  font-size: 25px;
     color: rgb(101, 100, 100);
	 padding-left: 10px;
	 }

.active_mm{
	left:0px!important;
	transition:0.4s;
	}
	.page_box {
    float: left;
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0px 0px 4px #C1C1C1;
    padding: 10px 0px;
    margin-bottom: 20px;
    overflow-x: auto;
}

}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    z-index: 9997;
}
.add_coment_canc {
    position: fixed;
    background: #fff;
    padding: 20px 20px;
    z-index: 9998;
    left: 50%;
    top: 25%;
    width: 300px;
    margin-left: -150px;
    border-radius: 10px;
}
.add_coment_canc textarea {
    padding: 10px 9px;
    width: 100%;
    border: solid 1px #E5E5E5;
    float: left;
    margin-right: 5px;
}
.comen_su {
    float: left;
    background: #00518C;
    color: #fff;
    padding: 7px 12px;
    text-decoration: none;
    margin: 15px 0px 0px 57px;
}
.comen_ca {
    float: left;
    background: #4EA1DE;
    color: #fff;
    padding: 7px 12px;
    text-decoration: none;
    margin: 15px 0px 0px 7px;
}
.pagi_nation{
float:left;
width:100%;
text-align:center;}
.newli strong{
float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fff;
    text-decoration: none;
    background-color: #01773c;
    border: 1px solid #079e53;}
	
.marg-top{margin-top:5px;}
.d_box{/*height:217px;*/}
.das_box{ float: left; width: 100%;}
.dash_b_t1{
 /*   padding: 68px 0px;*/
    }
.dash_box_3 h2{background:#1b506f;}
.dash_box_3 .vd-btn{background:#042538;}
.dash_box_4 h2{background:#424644;}
.dash_box_4 .vd-btn{background:#272727;}
.d_box_2 {background: #153d54;}
.dash_box_04{background: #0c3c58;}
.dash_box_5{background: #505251;}
.d_box_2 .vd-btn{background:#042538;}
.dash_box_003 h2{background:#1b506f;}
.sep_box input{background: #2171a0!important;}
.tbl_input input{background: #ffffff!important;}
.dataTables_filter{
    float:right;
    padding-right: 2px;
}
.input-sm{
    border-radius:0!important;
}
.steps_main
{
    width:100%;
    float: left;
    border-bottom: solid 1px #4caf50;
}
.steps_main ul 
{
    list-style: none;
    margin:0;
    padding: 0;
}
.steps_main ul  li
{
    display: inline-block;
    padding: 6px 20px;
    background: #4caf50;
}
.steps_main ul  li a
{
    text-decoration: none;
    font-size: 16px;
    color:#fff;
}
.active_steps{background: #01773c !important;}

.stp_data
{
  width: 100%;
  float: left;
}
.stp_data tr
{
    width: 100%;
    display: table;
}
.stp_data tr th
{
    width: 25%;
    background: #0aaf5c;
    padding: 6px 27px;
    color: #fff;
}
.stp_data tr th input[type="button"]
{
    text-align: right;
    border: none;
    float: right;
    background: #00733a!important;
    padding: 5px 22px;
    border-radius: 3px;
}
.stp_data tr th input[type="button"]:hover
{
    background: #000!important;
}
.stp_detail
{
  width: 100%;
  float: left;
}
 .stp_detail td
 {
    width: 25%;
    float: left;
    margin-top: 15px;
    padding: 5px 11px;
 }
 .stp_detail td input[type="text"]
 {
    background: #fff!important;
    padding: 3px 7px;
 }
 .stp_rmv
 {
   width:100%;
   float: left;
 }
 .stp_rmv i
 {
    font-size: 17px;
    cursor: pointer;
    float: right;
    padding: 2px 26px;
 }
 .submit_tbl input
 {
    float: right!important;
    margin-right: 24px;
 }
 .select_main
 {
   width: 100%;
   float: left;
   border-bottom: #f1f1f1 solid 12px;
 }
 .state_main
 {
  width: 100%;
    float: left;
    padding: 15px 0px;
    border-bottom: #f1f1f1 solid 10px;
 }
 .padding_box
 {
  padding: 7px 0px!important;
 }