/*!
 * Start Bootstrap - Full Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
   /* height: 100%;*/
}

.carousel-inner {
    height: 100%;
}

.heading_home h1 {
    position: absolute;
    bottom: 250px;
    text-align: center;
    font-size: 50px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: 2px 1px 0px #363636;
    width: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	position:relative;
}
.fill img{
width:100%;
}

.heading_home { width:100%;}
.heading_home h2 {position:absolute; bottom:250px; text-align:center;
    font-size: 50px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: 2px 1px 0px #363636;
	width:100%;}
	.position {position:absolute; bottom:200px;}
	.top_space {height:80px;}
	.login_box_center {width:500px; margin:auto;}
	




@media screen and (max-width: 1024px)
	{
   .right_nav {
    width: auto;
    height: auto;
    float: right;
}
.right_nav a{padding: 30px 6px;}
   .position {
    position: absolute;
    bottom: 100px;
   }
   
.heading_home h2 {
    position: absolute;
    bottom: 148px;
	}
}
@media only screen and (max-width: 800px)
{
.heading_home h2{
font-size: 35px;
}
}
@media only screen and (max-width: 640px)
{
.heading_home h2{
font-size: 30px;
}
.heading_home h2 {
    position: absolute;
    bottom: 110px;
	}
	.position {
    position: absolute;
    bottom: 80px;
}
}
