/****font face start ****/
@font-face{
	font-family:ProximaNova;
	src:url(../fonts/proxima-nova-thin.woff?p) format("woff");
	font-weight:100;font-style:normal}
@font-face{
	font-family:ProximaNova;
	src:url(../fonts/proxima-nova-light.woff?p) format("woff");
	font-weight:300;font-style:normal}
@font-face{
	font-family:ProximaNova;
	src:url(../fonts/proxima-nova-regular.woff?p) format("woff");
	font-weight:400;font-style:normal}
@font-face{
	font-family:ProximaNova;
	src:url(../fonts/proxima-nova-semibold.woff?p) format("woff");
	font-weight:600;font-style:normal}
@font-face{
	font-family:ProximaNova;
	src:url(../fonts/proxima-nova-bold.woff?p) format("woff");
	font-weight:700;font-style:normal}
@font-face{
	font-family:ProximaNova;
	src:url(../fonts/proxima-nova-extrabold.woff?p) format("woff");
	font-weight:800;font-style:normal}
@font-face{
	font-family:ProximaNova;
	src:url(../fonts/proxima-nova-black.woff?p) format("woff");
    font-weight:900;font-style:normal
}
/****font face end ****/
body{
	font-family: ProximaNova,Arial,Sans-serif;
    font-weight: 400;
    background-color: #f5f5f5;
}
/*** Top link start***/
.wrapper{
	float:left;
	width:100%;
}
.container-fluid{
	    max-width: 1226px;
	    padding-left:0px;
	    padding-right:0px;
}
.white_bg {
	background:#FFF;
}
.top_link{
	background: #000;
}
.top_link_left{
	float:left;
	margin:0px;
	padding:0px;
	list-style-type:none;
	width:100%;

}
.top_link_left li{
	float:left;
    line-height: 40px;
    padding:0px 20px 0px 21px;
    position: relative;
}
.top_link_left li:before{
	    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -6px;
    width: 1px;
    height: 12px;
    background-color: #424242;
}
.top_link_left li:first-child{
	padding-left:0px;
}
.top_link_left li:first-child:before{
	    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -6px;
    width: 1px;
    height: 12px;
    background-color: #424242;
    display: none;
}
.top_link_left li a{
	color:#fff;
	text-transform: uppercase;
	font-size:12px;
	text-decoration: none;
	    color: #b0b0b0;

}
.top_link_left li a:hover{
	text-decoration:none;
	color: #fff;
}
.top_link_right{
	float: right;
	margin:0px;
	padding:0px;
	list-style-type:none;
	width:100%;
}
.top_link_right li{
	float:right;
    line-height: 40px;
    padding:0px 20px 0px 21px;
    position: relative;
}
.top_link_right li:before{
	    content: '';
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -6px;
    width: 1px;
    height: 12px;
    background-color: #424242;
}
.top_link_right li:first-child{
	padding-right:0px;
}
.top_link_right li:first-child:before{
	    content: '';
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -6px;
    width: 1px;
    height: 12px;
    background-color: #424242;
    display: none;
}
.top_link_right li a{
	color:#fff;
	text-transform: uppercase;
	font-size:12px;
	text-decoration: none;
	    color: #b0b0b0;

}
.top_link_right li a:hover{
	text-decoration:none;
	color: #fff;
}
/*** Top link end***/
/******logo row start******/
.logo_row{
	position: absolute;
	top:40px;
	z-index: 9;
	height:65px;
	transition: all .4s ease;
	
}
.show_nav{
	height: 310px;
    background-color: #fff;
    transition: height .4s ease;
    box-shadow: 0 3px 4px rgba(0,0,0,.18);
    overflow:hidden;
}
.logo{
    float: left;
    padding: 13px 11px;
    background: rgba(255,255,255,0.6);
    margin-top: 1px;
}
.navigation{
	float:left;
	width:100%;
}
.navigation ul{
	margin:0px;
	padding:0px;
	display: table;

}
.navigation ul li{
	display: table-cell;
	height: 65px;
    vertical-align: middle;
}
.navigation ul li a{
	    display: block;
    margin: 0px 26px;
    color:#333;
    font-weight:600;
    font-size:14px;
}
.navigation.n_black ul li a{
	    display: block;
    margin: 0px 26px;
    color:#333;
}

.navigation.n_white ul li a{
	    display: block;
    margin: 0px 26px;
    color:#fff;
}
.show_nav .navigation.n_white ul li a{
	color:#333;
}
.navigation ul li a:hover{
	text-decoration: none;
}
.navigation ul li:first-child a{
	margin-left:0px;
}
.navigation ul li:last-child a{
	margin-right:0px;
}
.pos_inherit{
	position: inherit;
}
.product_item_view{
	position: absolute;
    width: 100%;
    height: 242px;
    border-top: 1px solid #eee;
    background: #fff;
    left: 0px;
    top: 65px;
    display: none;
}
.product_item{
	float:left;
	width:200px;
	text-align:center;
	margin:20px 0px;
}
.product_name{
	color: #424242;
    font-size: 16px;
    font-weight:500;
}
.product_image{
	display: block;
    width: 140px;
    margin: 0 auto 10px;

}
.product_price{
	display: block;
    color: #ff6700;
    font-size: 14px;
        padding: 3px 0px;
}
/******logo row end******/
/*** main slider start ***/
.slider{
	background: #333;
	height:550px;
}
.slide {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height:550px;
  background: #ccc;
  overflow:hidden;
}
.slide ul{
	margin:0px;
}
.slide ul li {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  min-width: 1920px;
  min-height: 770px;
  list-style: none;
  left:50%;
  top:50%;
  margin-left:-960px;
  margin-top:-385px;
}

.slide .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  width: 100%;
  z-index: 3;
  text-align: center;
  padding:0px;
}

.slide .dots li {
  display: inline-block;
  margin: 0 6px;
	width: 10px;
	height: 10px;
	border: 2px solid #fff;
	border-radius: 50%;
  opacity: 0.4;
	cursor: pointer;
	transition: background .5s, opacity .5s;
  list-style: none;
}

.slide .dots li.active {
  background: #fff;
	opacity: 1;
}

.slide .arrow {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background .5s, opacity .5s;
}

.slide .arrow .arrow-left,
.slide .arrow .arrow-right {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  width: 40px;
  height: 59px;
  cursor: pointer;
  opacity: 0.5;
  transition: background .5s, opacity .5s;
}

.slide .arrow  .arrow-left:hover,
.slide .arrow  .arrow-right:hover {
  opacity: 1;
}

.slide .arrow .arrow-left {
  left: 50px;
  background: url("../images/arrow-left.png");
}

.slide .arrow .arrow-right {
  right: 50px;
  background: url("../images/arrow-right.png");
}
/*** main slider end ***/
/*** slider_bottom ***/


.slide_bottom {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height:550px;
  background: #ccc;
  overflow:hidden;
}
.slide_bottom ul{
	margin:0px;
}
.slide_bottom ul li {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  min-width: 1920px;
  min-height: 770px;
  list-style: none;
  left:50%;
  top:50%;
  margin-left:-960px;
  margin-top:-385px;
}

.slide_bottom .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  width: 100%;
  z-index: 3;
  text-align: center;
  padding:0px;
}

.slide_bottom .dots li {
    display: inline-block;
    margin: 0 6px;
	width: 10px;
	height: 10px;
	border: 2px solid #fff;
	border-radius: 50%;
    opacity: 0.4;
	cursor: pointer;
	transition: background .5s, opacity .5s;
    list-style: none;
}

.slide_bottom .dots li.active {
  background: #ff6700;
  opacity: 1;
}

.slide_bottom .arrow {
  position: absolute;
 /* z-index: 2;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background .5s, opacity .5s;
}

.slide_bottom .arrow .arrow-left,
.slide_bottom .arrow .arrow-right {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  width: 50px;
  height: 82px;
  cursor: pointer;
  opacity: 0.5;
  transition: background .5s, opacity .5s;
  z-index:3;
}

.slide_bottom .arrow  .arrow-left:hover,
.slide_bottom .arrow  .arrow-right:hover {
  opacity: 1;
}

.slide_bottom .arrow .arrow-left {
  left: 50px;
  background: url("../images/arrow-left_bottom.png");
}

.slide_bottom .arrow .arrow-right {
  right: 50px;
  background: url("../images/arrow-right_bottom.png");
}

.txt_slider {
	width: 760px;
    position: absolute;
    z-index: 999;
    color: #fff;
	font-weight: 300;
	text-align: center;
	top: 320px;
    left: 50%;
    transform: translate(-50%, -50%);
	margin: 0;
}

.title_slider {
	position: relative;
    padding-bottom: 40px;
    font-size: 48px;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
}
.title_slider:after {
    content: '';
    position: absolute;
    width: 70px;
    height: 0;
    bottom: 0;
    left: 50%;
    margin-left: -35px;
    border-top: 2px solid #fff;
}
.descp_slider {
	display: block;
    display: -webkit-box;
    width: 100%;
    margin: 35px auto 12px;
    line-height: 1.875;
    max-height: 120px;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
	font-size:16px;

}
.txt_slider a {
    color: #fff;
    text-decoration: underline;
	font-size:16px;
}
.media-name {
    margin-top: 10px;
	font-size:16px;
}

/*********index page content section start ************/
.ads_banner_section{
	float:left;
	width:100%;
	padding: 16px 0;
}
.ads_banner_section .padding_n{
 padding-left:8px;
 padding-right:8px;
}
.ads_banner{
	float:left;
	width:100%;
	overflow: hidden;
    transition: box-shadow .2s linear;
}
.ads_banner img {
	width:100%;
}

.ads_banner:hover
{
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
}
.text_title{
	float:left;
	width:100%;
	position: relative;
	text-align: center;
	margin: 40px 0px 20px 0px;
}
.text_title:before{
	content: "";
	position: absolute;
	width:80%;
	height:1px;
	background: #ccc;
	left: 10%;
    top: 37px;
    z-index: 8;
}
.text_title h2{
	    background: #f5f5f5;
    padding: 0px 30px;
    z-index: 9;
    position: relative;
    display: inline-block;
        font-size: 30px;
    font-weight: 300;
    color: #616161;
    text-transform: uppercase;
}
.sec_sp{
	float:left;
	width:100%;
	padding:0px 8px;
	margin-top: 10px;
}
.star_pro_item{
	float:left;
	overflow:hidden;
	transition: box-shadow .2s linear;
}
.star_pro_item:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
}
.star_pro_item img{
	width:100%;
}
.star_pro_item:first-child{
	width:50%;
}
.star_pro_item:nth-child(2){
	width:25%;
}
.star_pro_item:nth-child(3){
	width:25%;
}
.star_pro_item:nth-child(4){
	width:50%;
}

.more_section {
	width:100%;
	float:left;
	margin-top:20px;
}

.more_products {
	width:100%;
	float:left;
}
.more_products ul {
	padding:0;
	margin:0;
	
}
.more_products li {
    float: left;
    width: 299px;
    height: 300px;
    margin-bottom: 14px;
    background: #fff;
    transition: all .2s linear;
    text-align: center;
	list-style:none;
	margin-right:14px;
}  

.more_products li:nth-child(3n+0){
	margin-right:0px;
}
.more_products li:hover {
    z-index: 2;
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
}
.more_products li .title {
    font-size: 14px;
    font-weight: 700;
    text-overflow: ellipsis;
}
.more_products li .price {
    margin: 0;
    color: #ff6700;
    font-weight: 700;
    font-size: 14px;
	position:relative;
}
.more_products li .price span {
	margin-left:10px;
	
}
.more_products li .price i {
    margin-top: 5px;
    position: absolute;
}
.more_products li .title a {
    display: block;
    margin: 0 20px 5px;
    width: 256px;
    color: #616161;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	text-decoration:none;
	
}  
.more_products li .thumb {
    display: block;
    width: 200px;
    height: 200px;
    margin: 20px auto;
}
.more_products li .thumb img {
    width: 200px;
    height: 200px;
}

.accessories_list {
	text-align:center;
	width:100%;
	float:left;
}
.accessories_list li {
	list-style:none;
	display: inline-block;
}
.accessories_list li a {
	position: relative;
    float: left;
    margin: 0 25px;
    font-size: 16px;
    color: #757575;
    cursor: pointer;
	text-decoration:none;
}
.gift_active {
    position: relative;
	color:#ff6700 !important;
}
.gift_active:after {
    content: '';
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    height: 1px;
    background: #f23835;
    bottom: -10px;
}
.tab_gift_box {
    width: 100%;
    float: left;
	display: none;
}

.active_gift {
    display: block!important;
}


.phone_add img {
	transition: all .2s linear;
}
.phone_add img:hover {
    z-index: 2;
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
}
.tv_led {
    width: 100%;
    float: left;
    background-color: #fff;
    transition: box-shadow .2s linear;
    transition: all .2s linear;
}
.tv_led:hover {
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
}
.start_reviews {
	width:100%;
	float:left;
}
.tv_pic {
    width: 100%;
    float: left;
}
.tv_pic img {
    width: 100%;
}
.txt {
    width: 100%;
    float: left;
    padding:20px;
}
.txt_review {
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 0 5px;
    margin: 0;
    color: #616161;
}
.txt_review a {
    color: #616161;
	text-decoration:none;
}

.pro_detail {
    color: #616161;
	margin:0;
	
}
.pro_detail a {
    color: #616161;
    text-decoration: none;
    font-weight: 600;
}
.price_tv {
    font-weight: bold;
    color: #ff6700;
    margin-left: 40px;
	position:relative;
}
.price_tv i {
	position:absolute;
	left:-10px;
	top: 3px;
}

.author {
    margin-bottom: 5px;
    color: #b0b0b0;
}
.no_padding {
    padding-left: 8px;
    padding-right: 8px;
}
.video_home {
	width:100%;
	float:left;

}

.videos_adds {
    width: 100%;
    float: left;
}
.videos_adds img {
	width:100%;
}
.videos_adds a {
	display:block;
	position:relative;
	outline:none;
}
.icon-play {
    position:absolute;
    width: 88px;
    height: 88px;
    border-radius: 50%;
	background-color: rgba(255,255,255,.1);
    transition: background .2s linear;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.videos_adds a:hover .icon-play {
	background-color: rgba(255,255,255,.5);
    transition: background .2s linear;
}
.icon-play:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 0 12.5px 15px;
    border-color: transparent transparent transparent #fff;
}
.footer_policies {
	width:100%;
	float:left;
}

.policies_white {
	width:100%;
	float:left;
	padding: 20px 0;
	background-color: #fff;
	margin-bottom:50px;
	margin-top:50px;
}
.service-policy {
    width: 100%;
    float: left;
}
.policy_pic {
    float: left;
	opacity: 0.5;
}
.policy_txt {
    float: left;
    color: #424242;
    font-weight: 600;
	margin-left: 22px;
}
.service-policy:hover .color_gray {
	color:#626262;
}
.service-policy:hover .policy_pic {
	opacity: 0.9;
}
.color_gray {
	color:#999;
}
.pull_right {
	float:right;
	width: initial;
}
.pull_space {
	margin-left:25px;
}

.txt_pop {
	text-align:center;
}
/*********index page content section end ************/
/*********footer start ************/

/********* Power Bank ************/
.sub_nav_bg {
	margin-top:65px;
}

.sub_nav h2 {
    float: left;
    margin: 0;
    padding: 18px 0px;
    color: #333;
    font-size: 24px;
}
.sub_title {
	padding:0;
	margin:0;
	float:left;
}
.sub_title li {
	list-style:none;
	float:left;
}
.sub_title li a {
    list-style: none;
    text-decoration: none;
    display: block;
    color: #616161;
    float: left;
    font-size: 13px;
    padding: 23px 5px;
}

.sub_tv {
	padding:0;
	margin:0;
}
.sub_tv li {
	list-style:none;
	float:left;
}
.sub_tv li a {
    list-style: none;
    text-decoration: none;
    display: block;
    color: #616161;
    float: left;
    font-size: 13px;
    padding: 23px 10px;
}

.btn-small {
    width: auto;
	padding: 5px 5px !important;
    color: #fff !important;
	margin-top: 17px;

}
.btn-orange {
    background: #ff6700;
    border-color: #ff6700;
}

.overall_tv_one {
	width:100%;
	float:left;
	position:relative;
}
.overall_tv_one img {
	width:100%;
}

.title_tv_main {
    position: absolute;
    top: 80px;
}
.sub_title_tv {
    font-size: 40px;
	font-weight: 700;
	color:#FFF;
}

.title_tv {
    font-size: 110px;
    line-height: 120px;
	color:#FFF;
	font-weight: 300;
	
}
.sub_title_tv .red_tv {
    color: #f43244;
	font-weight: 700;
}
.sub_title_tv .small_tv {
    font-size: 20px;
}
.xm-pro-price {
	width:100%;
	float:left;
}

.xm-price {
	font-size: 62px;
    font-weight: 300;
	color: #f43244;
}
.xm-pro-price i {
	color: #f43244;
	font-size:40px;
	margin-right:15px;
}


.videoTv_section {
	width:100%;
	float:left;
	background:#333;
	background-color: #151518;
    padding: 35px 0;
	
}
.tv_product_title {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
	color:#FFF;
}


.icon_tv_control {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
	background:#fff;
    transition: background .2s linear;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon_tv_control:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22px 0 22px 30px;
    border-color: transparent transparent transparent #28282a;
}

.tv_slider {
	width:100%;
	float:left;
	position:relative;
}
.tv_slider_heading {
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 180px;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 800px;
}
.tv_slider_desc {
    font-size: 30px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;

}
.tv_slider_title {
    font-size: 100px;
    line-height: 140px;
    font-weight: 600;
    color: #fff;

}
.tv_4 {
	width:100%;
	float:left;
	padding: 35px 0;
	background: url("../images/tv/overall-bezelless-bg.jpg") center -100px no-repeat;
    height: 1200px;
	position:relative;
	overflow:hidden;
}

.display_tv {
	margin-top:40px;
	text-align:center;
}
.display_tv p {
	font-size: 30px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
}

.display_tv h1 {
	font-size: 100px;
    line-height: 140px;
    font-weight: 600;
    color: #fff;
}
.image_foxsky_tv {
	width: 100%;
    margin-top: 70px;
    height: 964px;
	position:relative;
}
.image_foxsky_tv img {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-800px);
    -ms-transform: translateX(-800px);
    transform: translateX(-800px);
}

.section_audio {
    width: 100%;
    float: left;
    padding: 35px 0;
    background: url(../images/tv/overall-audio-bg.jpg) center -100px no-repeat;
    height: 1078px;
	background-size: 172%;
}

.section_performance {
    width: 100%;
    float: left;
    padding: 35px 0;
    background: url(../images/tv/overall-performance-bg.jpg) center 0px no-repeat;
    height: 1100px;

}
.ram {
	font-size: .5em;
}
.section-params {
    background:#000;
	padding-bottom: 100px;
}
.img_thumbnail {
    display: block;
    padding: 0px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 0px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.img-thumbnail-no {
	margin-bottom: 0px !important;
}

.block-item {
	width:100%;
	float:left;
	background: rgba(50,50,58,.5);
	text-align:center;
	padding:57px 0;
	min-height:360px;
}
.system-icon {
    margin-bottom: 20px;
}
.block-item p {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
	margin-top: 50px;
}
.wifi {
	margin-top:32px;
}
.blocks1 {
	margin-top:-100px;
}

.section-source {
    width: 100%;
    float: left;
    padding: 35px 0;
    background: url(../images/tv/overall-source-bg.jpg) center 0px no-repeat;
    height: 1450px;
	overflow:hidden;
	position:relative;

}
.person {
    width: 100%;
	float:left;
}

.person img {
   position: absolute;
   bottom: 0px;
   left: 50%;
   -webkit-transform: translateX(50%);
   -ms-transform: translateX(50%);
   transform: translateX(-50%);
   width: 152%;
}
.section-cup {
	height: auto;
    background: #0e0e10;
}
.overall-cup-img {
	width:100%;
	float:left;

}
.overall-cup-img img {
	width:100%;
	display:block;
}
.cplive {
    position: absolute;
    left: 50%;
    top: 270px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 700px;
	text-align:center;
}
.cplive .more-title {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
}

.cplive .desc {
    font-size: 30px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
}
.cplive .tip {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 20px;
    color: #fff;
	opacity: 0.5;
}

.section-system-1 {
    background: #0e0e10;
    height: auto;
	padding:120px 0;
}
.block_section {
	text-align:center;
}

.text_recommeds {
	width:100%;
	float:left;
    line-height: 50px;
	font-size: 30px;
    font-weight: 600;
    color: #fff;
	background: rgba(50,50,58,.5);
	padding:80px 0 80px 0;
}
.s2 {
    height: 300px;
}
.section-system-2 {
    background: #1d1d21;
    height: auto;
	padding:120px 0;
}
.text_recommeds.s2 .tip {
	font-size:13px;
	color:#757575;
}
.height-auto {
	height:auto;
}
.slider_none {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0px 0px rgba(0,0,0,.0) ;
	filter: alpha(opacity=0);
	background-color:none;
	opacity: .9;
}
slider_none:hover {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=0);
    outline: 0;
    opacity: .0;
}
.arrow-prev {
    position: absolute;
    top: 50%;
	left:30px;
}
.arrow-next {
    position: absolute;
    top: 50%;
	right:30px;
}
.section-service {
    background: url(../images/tv/overall-service-bg.jpg) center no-repeat;
    height: 850px;
	position: relative;
    overflow: hidden;
    text-align: center;
	background-size:cover;
}
.section-title {
	margin-top:100px;
	
}
.section-title h1 {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
	line-height:80px;
}

.section-revolution {
    background: url(../images/tv/section-revolution-bg.jpg) center no-repeat;
    height: 1300px;
	position: relative;
    overflow: hidden;
    text-align: center;
}
.items {
	padding:0;
	margin:0;
	width:100%;
	float:left;
	text-align:left;
	margin-top:75px;
}
.items li  {
    margin-bottom: 40px;
    max-width: 590px;
    background: #26292d;
	display:inline-block;
	list-style:none;
	display:inline-block;

}
.items li:nth-child(odd) {
    margin-right: 40px;
}
.items li img {
    width: 200px;
    height: 150px;
    display: block;
	float:left;
}

.items li p {
    max-width: 390px;
    box-sizing: border-box;
    padding: 35px 35px 0px 35px;
    text-align: left;
    color: #cfcfcf;
    font-size: 16px;
    float: left;
}
.section-see {
    background: url(../images/tv/see-bg.jpg) center no-repeat;
    height: 300px;
	position: relative;
    overflow: hidden;
}
.see_more {
    text-align: right;
    text-decoration: none;
    font-size: 30px;
    color: #FFF;
    float: right;
    margin-top: 130px;
    margin-right: 100px;
	font-weight:600;
}
.see_more:hover {
	 color: #FFF;
	 text-decoration: none;
}
.see_more:focus {
	 color: #FFF;
	 text-decoration: none;
}

.logo-slider {
	width:100%;
	float:left;
	padding:100px 0;
	background: #000;
}
.tip-logo {
	width:100%;
	float:left;
	text-align:center;
	margin-top:60px;
	font-size:16px;
	color: #717171;
}


/*********Accessories ************/
.breadcrumbs {
	padding:11px 0;
}
.breadcrumbs a {
	text-decoration:none;
	color:#a0a0a0;
	font-size:14px;
	transition: 0.3s;
}
.breadcrumbs a:hover {
	color:#ff6700;
	transition: 0.3s;
}
.right-arrow-small {
    width: 12px;
    padding: 0 0px;
    margin: 0 15px 0 15px;
}
.category {
    background: #fff;
	height:150px;
	margin-bottom:35px;
}

.goods-list {
	width:100%;
	float:left;
}
.goods-item {
    width: 100%;
    float: left;
    height: 440px;
    background: #FFF;
    text-align: center;
    position: relative;
    transition: box-shadow .5s linear;
    padding-top: 55px;
	margin-bottom:16px;
}
.goods-item:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.actions-cart {
	position:absolute;
	top:25px;
	text-align:center;
	width:100%;
	opacity:0;
	transition: opacity .2s linear;
}
.actions-cart a {
	 color: #424242;
	 font-weight:600;
	 display:block;
	 text-decoration:none;
}
   
.goods-item:hover .actions-cart{
	display:block;
	opacity:0.9;
	transition: opacity .2s linear;
}
.goods-item .figure-img a {
    display: block;
}

.goods-item .figure-img {
    width: 200px;
    height: 200px;
    margin: 0 auto 16px;
}
.goods-item .figure-img img {
    width: 200px;
    height: 200px;
}
.goods-item .title {
    display: table;
    height: 3em;
    width: 100%;
    margin: 0 0 3px;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}
.goods-item .title a {
    display: table-cell;
    vertical-align: middle;
    color: #424242;
}
.goods-item .title a:hover {
	text-decoration:none;
}
.goods-item .title a:focus {
	text-decoration:none;
}
.goods-item .price {
    margin: 0 0 15px;
    color: #ff6700;
}
.goods-item .price i {
	margin-right:5px
}
.goods-item .price del {
    margin-left: 10px;
    color: #b0b0b0;
}
.goods-item .thumb-list {
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    transition: border-color .2s linear;
}
.goods-item .thumb-list a {
	display:block;
}
.goods-item .thumb-list:hover {
	    border-color: #ff6700;
}
.goods-item .thumb-list img {
    width: 34px;
    height: 34px;
}
.flags {
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 1;
    width: 100%;
    max-height: 20px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
}
.flags .flags-list {
    display: inline-block;
}
.flags .flag-saleoff {
    background-color: #f23835;
}
.flags .flag {
    float: left;
    width: 150px;
    padding: 1px 0;
    color: #fff;
}
.cart-margin {
	margin-right:3px;
}

/********* SIGN In  & Sing Up************/

.layout_sign-in {
	width:850px;
	background:#FFF;
	margin:auto;
	padding-bottom:130px;
	display:table;
}
.lgnheader{
	width:100%;
	float:left;
	text-align:center;
	padding-top:50px;
}
.lgnheader-logo {
}
.header_tit_txt {
    font-size: 31px;
    color: #424242;
	font-weight: 600;
    padding-top: 22px;
}
.tabs-login {
	display: block;
	margin-top:40px;
}
.login_area {
	width:370px;
	margin:auto;
}
.login-input {
	border-radius: 0px;
	box-shadow:none;
	border:solid 1px #e4e4e4;
	width:100%;
	padding: 13px 16px 13px 14px;
	outline:none;
}

.btns_bg {
    padding-top: 10px;
}
.btnadpt {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block;
    margin-bottom: 14px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
	border:none;
	outline:none;
}
.btn_orange {
    background-color: #ef5b00;
	transition: all .4s ease;
	

}
.btn_orangeH:hover {
	background:#ff873e;
	transition: all .4s ease;

}
.facebool-login {
	width:100%;
	float:left;
}
.btn_facebook {
    background-color: #3a5897;
}
.facebool-login a {
	outline:none;
	text-decoration:none;
}
.facebool-login a:hover {
	outline:none;
	text-decoration:none;
	color: #fff;
}
.facebool-login a:focus {
	outline:none;
	text-decoration:none;
	color: #fff;
}
.facebook-icon {
	margin-right:10px;
}
.forgot-pwd {
    width: 100%;
    float: left;
    text-align: right;
}
.forgot-pwd a {
    color: #757575;
    text-decoration: none;
    font-size: 15px;
    margin-left: 5px;
}
.forgot-pwd a:hover {
	color:#ff6700;
}
.policy-area {
	width:100%;
	float:left;
	text-align:center;
	margin-top:20px;
}
.policy-select-list {
	padding:0;
	margin:0;
	text-align:center;
}
.policy-select-list li {
    list-style: none;
    display: inline-block;
}
.policy-select-list a {
	display:block;
	margin:0 5px;
	color:#757575;
	font-size:14px;
}
.policy-select-list a:hover {
	color:#000;
	text-decoration:none;
}
.reserved-intro {
	margin-top:7px;
	margin-bottom:25px;
}
.btn_reg_1 {
    background-color: #fff;
	border: 1px solid #ddd;
    color: #7c7c7c;
}
.btn_reg_1:hover {
	color: #333 !important;
}
.btn_reg_1:focus {
	color: #333 !important;
}
.form-txt {
    width: 100%;
    float: left;
    text-align: left;
    color: #6b6a6a;
    font-weight: normal;
}
.privacy_box {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 40px 100px 40px 100px;
	text-align:center;
}
.redio-f a {
	color:#333;
	font-weight:600;
}
.redio-f a:hover {
	color:#333;
	text-decoration:none;
	font-weight:600;
}
.redio-f a:focus {
	color:#333;
	text-decoration:none;
	font-weight:600;
}

.redio-f {
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #7b7b7b;
    font-weight: normal;
}
/* Hide the browser's default checkbox */
.redio-f input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
	border-radius:50%;
}

/* On mouse-over, add a grey background color 
.redio-f:hover input ~ .checkmark {
    background-color: #ccc;
}
*/

/* When the checkbox is checked, add a blue background */
.redio-f input:checked ~ .checkmark {
    background-color: #ff6700;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.redio-f input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.redio-f .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.sign-up {
	padding-bottom:0;
}
.select-regions {
	width:100%;
	float:left;
}
.select-contry {
    width: 100% !important;
	-webkit-appearance: none;
}
.select-regions .btn {
    display: inline-block;
    padding: 13px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #e4e4e4;
    border-radius: 0px;
	outline:none
}
.select-regions .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
	box-shadow:none;
	outline:none;
}
.select-regions .btn-default:hover {
    color: #333;
    background-color: #ffffff;
     border: 1px solid #e4e4e4;
	outline:none;
}

.select-regions .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
	box-shadow:none;
	outline: none;
}
.select-regions .bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted #fff!important;
    outline: 0px auto -webkit-focus-ring-color!important;
    outline-offset: 0px;
}
.select-regions .btn-default.focus, .btn-default:focus {
    color: #333;
    background-color: #ffffff;
    border-color: #8c8c8c;
}

.select-regions .btn-default.focus, .btn-default:focus {
    color: #333;
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
}
.select-regions .bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 2px;
    right: 0px;
    vertical-align: middle;
    border-left: solid 1px #e4e4e4;
    height: 46px;
}
.select-regions .caret {
    display: inline-block;
    width: 60px;
    vertical-align: middle;
    border-top: 0px dashed;
    border-top: 0px solid\9;
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
	background: url(../images/time.jpg) center 15px no-repeat;
}

.selecty-number-all .bootstrap-select.btn-group .dropdown-toggle .caret {
    height: 0px;
}

.selecty-number-all .bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    right: 7px;
    vertical-align: middle;
    border-left: solid 0px #e4e4e4;
	top:23px;

}
.selecty-number-all .caret {
      display: inline-block;
	  width: 0; 
	  height: 0; 
	  border-left: 5px solid transparent !important;
	  border-right: 5px solid transparent;
	  background: url(../images/time.jpg) center 15px no-repeat;
	  background:none;
	  border-top: 5px solid #cfcfcf;	  
}

.phone_step1 {
	width:100%;
	float:left;
	display:none;
}
.region_tip_text {
	width:100%;
	float:left;
	margin-bottom:15px;
	text-align: left;
}
.number-country {
	width:80px;
	height:48px;
	float:left;
}
.number-fild {
    width: 290px;
    float: right;
}
.form-box {
	width:100%;
	float:left;
}

.capt-code {
	width:240px;
	float:left;
}
.capt-img {
	width:auto;
	float:right;
	height:47px;
}
.border-right-none {
	border-left: solid 0px #e4e4e4;
}

/*********footer end ************/

.footer {
    width: 100%;
    float: left;
    background: #212121;
    padding-top: 50px;

}
.footer_heading {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #b0b0b0;
    padding-bottom: 20px;
    font-weight: 600;
}
.footer_list {
    list-style-type: none;
    margin: 0;
	padding:0;
}
.footer_list li a {
    display: block;
    color: #b0b0b0;
    text-decoration: none;
    line-height: 30px;
    font-size: 13px;
    text-transform: capitalize;
    transition: 0.3s;
    padding: 0px 4px;
}
.footer_list li a:hover {
    transition: 0.3s ease-in-out;
    color: #fff;
}
.no__bottom_space {
    padding-bottom: 5px !important;
}

.p_txt_fotter {
    padding: 0;
    margin: 0;
    color: #6d6d6d;
    font-size: 13px;
}

.em-social {
	width:100%;
	float:left;
	margin-top:20px;
}
.number_free {
    font-size: 23px;
    font-weight: 600;
    color: #c7c7c7;
    padding: 0;
    margin: 0;
}
.let_heading {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #b0b0b0;
    font-weight: 600;
    margin-top: 20px;
}
.get_txk {
    font-size: 13px;
    color: #737373;
    padding: 0;
    margin: 0;
    font-weight: 600;
	margin-top:5px;
}
.copyright {
    font-size: 13px;
    color: #b0b0b0;
    width: 100%;
    float: left;
    border-top: solid 1px #333;
	margin-top:50px;
	padding:25px 0;
}

.block-subscribe {
    position: relative;
}

.block-subscribe {
    border: none;
    margin: 0;
    padding: 0;
	margin-top:20px;
}

form {
    display: inline;
}

.block-subscribe .input-box {
    width: 100%;
}

.newsletter-clearbutton .block-subscribe .input-box {
    width: 100%;
    float: none;
}

.block-subscribe .input-box {
    float: left;
    width: 90%;
}

.block-subscribe .input-box input.input-text {
    height: 50px;
    background: none;
    color: #CCC;
	border: solid 1px #3b3b3b !important;
	outline:none;
	padding-left:20px;
}
.newsletter-clearbutton .block-subscribe .input-box input.input-text {
    margin-right: 0;
}

.block-subscribe input.input-text {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

input.input-text, select, textarea {
    border: #e1e1e1 solid 1px !important;
    color: #a1a1a1;
}

input.input-text, textarea {
    padding: 2px;
}

.block-subscribe .actions button.button {
    position: absolute;
    right: 1%;
    top: 0px;
    font-size: 0;
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    vertical-align: middle;
    text-align: left;
    text-indent: 0;
    padding: 18px;
    vertical-align: top;
    width: auto;
    border-width: 0px;
}

actions button.button {
    color: #ffffff;
    background-color: #00bff3;
}

.block-subscribe .actions button.button {
    margin-right: 0px;
    padding: 18px;
}

a.viewall, a.button-link, button.button {
    color: #ffffff;
    background-color: #414141;
	outline:none;
   
}

.block-subscribe .actions button.button:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f1d8";
    font-size: 14px;
}

a.em-social-icon.em-facebook {
    background-color: #525252;
}

.em-social .em-social-icon {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    padding: 5px 6px;
    /* font-size: 1.6rem; */
}

a.em-social-icon {
    color: #ffffff;
    background-color: #525252;
}

.em-social-icon {
    font-size: 18px;
    margin: 0 5px;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-bottom: 5px;
}

.f-left, .left {
    float: left !important;
}

.fa-fw {
    width: 1.28571em;
    text-align: center;
}

a.em-social-icon.em-twitter {
    background-color: #525252;
}

a.em-social-icon.em-pinterest {
    background-color: #525252;
}

a.em-social-icon.em-google {
    background-color: #525252;
}

a.em-social-icon.em-rss {
    background-color: #525252;
}
<!-- BX slider logo-->
.bx-wrapper {
  width: 100%;
  border: 10px solid white;
  
}
 .bx-viewport { height: 200px !important;}
.bx-wrapper li {
	 margin-right:15px;
 }

.btn-orange {
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
}.btn {
    display: inline-block;
    width: 158px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
}


